.DS_Store
*.class
*.jar
*.zip
*.bak
*.log
keys.txt
application.conf
application-dev.conf
reference.conf
nbactions.xml
Tomcat.dpf
licenseheader.txt
nb-configuration.xml
nbactions*.xml
nbactions.xml
rebel.xml
deploy*.sh
getlinks.sh
scoold-search/dist/
scoold-search/build/
scoold-search/nbproject/
scoold-search/lib/
scoold-search/target/
target/
tmp/

old/
uploads/
latest.txt
certs/

demo.conf
template.yml
taillogs-demo.sh
.codex
.claude
.agents

AGENTS.md
/nbproject/
