.DS_Store
*.class
*.jar
*.zip
*.bak
keys.txt
rebel.xml
scoold-search/dist/
scoold-search/build/
scoold-search/nbproject/
scoold-search/lib/
scoold-search/target/
scoold-web/target/
scoold-web/tmp/**
scoold-web/src/main/webapp/WEB-INF/lib/**
scoold-puppet/*.txt
scoold-puppet/scoold/files/admin-keyfile
scoold-puppet/scoold/files/adminpass.txt
scoold-invalidator/target/
scoold-web/src/main/webapp/WEB-INF/classes/
scoold-web/src/main/webapp/click/