.DS_Store
*target/**
scoold-web/src/main/webapp/WEB-INF/lib/**
*.class
*.jar
*.zip
scoold-search/dist/
scoold-search/build/
scoold-search/nbproject/
scoold-search/lib/
scoold-search/target/
scoold-web/target/
scoold-puppet/*.txt