/**** DEFAULT THEME ****/
/* buttons, headings and links */
a, .dropdown-content li>a, .dropdown-content li>span { color: #039be5; }
.btn, .btn-large, .navbtn-hover { background-color: #ec407a; }
.btn:focus, .btn-large:focus, .btn-floating:focus { background-color: #ec407a; opacity: 0.7; }
.filter-active { background-color: #039be5; color: white; }

/* nav bar and footer */
body, footer.page-footer { background-color: #444444; }
.navbar-color { background-color: #03a9f4; }

/* switches and inputs */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after { background-color: #039be5; }
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after { border: 2px solid #039be5; }
.switch label input[type=checkbox]:checked+.lever { background-color: #93dafa; }
.switch label input[type=checkbox]:checked+.lever:after { background-color: #03a9f4; }

/* progress bars */
.progress .indeterminate { background-color: #039be5; }
.progress { background-color: #93dafa; }

/* tabs */
.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a { color: #039be5; }
.tabs .indicator { background-color: #039be5; }
