<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>scoold.com</description>
    <display-name>scoold</display-name>
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>com.scoold.util.LoggingFilter</filter-class>
        <init-param>
            <description>logging level</description>
            <param-name>level</param-name>
            <param-value>fine</param-value>
        </init-param>
    </filter>
    <filter>
        <description>blacklists etc.</description>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.scoold.util.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>confPath</param-name>
            <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>WARN</param-value>
        </init-param>
        <init-param>
            <param-name>statusPath</param-name>
            <param-value>/status/</param-value>
        </init-param>
        <init-param>
            <param-name>statusEnabledOnHosts</param-name>
            <param-value>localhost</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AttachIdentifierFilter</filter-name>
        <filter-class>com.scoold.util.AttachIdentifierFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AttachIdentifierFilter</filter-name>
        <url-pattern>/attach_facebook</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AttachIdentifierFilter</filter-name>
        <url-pattern>/attach_openid</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>imageCache</filter-name>
        <url-pattern>*.png</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>imageCache</filter-name>
        <url-pattern>*.gif</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cssCache</filter-name>
        <url-pattern>*.css</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>imageCache</filter-name>
        <url-pattern>*.jpg</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>imageCache</filter-name>
        <url-pattern>*.ico</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>jsCache</filter-name>
        <url-pattern>*.js</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>com.scoold.util.ScooldAppListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ClickServlet</servlet-name>
        <servlet-class>org.apache.click.ClickServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <description>localization string map</description>
        <servlet-name>LangServlet</servlet-name>
        <servlet-class>com.scoold.util.LangServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>serves a javascript file with all contacts for user</description>
        <servlet-name>ContactsServlet</servlet-name>
        <servlet-class>com.scoold.util.ContactsServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FeedServlet</servlet-name>
        <servlet-class>com.scoold.util.FeedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClickServlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LangServlet</servlet-name>
        <url-pattern>/langmap.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactsServlet</servlet-name>
        <url-pattern>/contactsmap.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedServlet</servlet-name>
        <url-pattern>/feed.xml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>2</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/not-found</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/503</location>
    </error-page>
    <security-constraint>
        <display-name>Profile</display-name>
        <web-resource-collection>
            <web-resource-name>Profile</web-resource-name>
            <description>asdss s</description>
            <url-pattern>/profile.htm</url-pattern>
            <url-pattern>/profile</url-pattern>
            <url-pattern>/profile/</url-pattern>
            <url-pattern>/profile/p/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/profile.htm</url-pattern>
            <url-pattern>/profile/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Photos</web-resource-name>
            <description/>
            <url-pattern>/profile/photos/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>School</display-name>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description>asd</description>
            <url-pattern>/school/*</url-pattern>
            <url-pattern>/school.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>School</web-resource-name>
            <description/>
            <url-pattern>/school.htm</url-pattern>
            <url-pattern>/school/p/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Class</display-name>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/class/*</url-pattern>
            <url-pattern>/classunit.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Class</web-resource-name>
            <description/>
            <url-pattern>/classunit.htm</url-pattern>
            <url-pattern>/class/p/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Schools</display-name>
        <web-resource-collection>
            <web-resource-name>Create school</web-resource-name>
            <description/>
            <url-pattern>/schools/create/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/schools/*</url-pattern>
            <url-pattern>/schools.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Schools</web-resource-name>
            <description/>
            <url-pattern>/schools.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Classes</display-name>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/classes/*</url-pattern>
            <url-pattern>/classunits.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Create class</web-resource-name>
            <description/>
            <url-pattern>/classes/create/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Classes</web-resource-name>
            <description/>
            <url-pattern>/classunits.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>People</display-name>
        <web-resource-collection>
            <web-resource-name>People</web-resource-name>
            <description/>
            <url-pattern>/people.htm</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/people/*</url-pattern>
            <url-pattern>/people.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description>admin zone</description>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/admin.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Messages</display-name>
        <web-resource-collection>
            <web-resource-name>msg</web-resource-name>
            <description/>
            <url-pattern>/messages/*</url-pattern>
            <url-pattern>/messages.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user</role-name>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Reports</display-name>
        <web-resource-collection>
            <web-resource-name>Reports</web-resource-name>
            <description>reports</description>
            <url-pattern>/reports/*</url-pattern>
            <url-pattern>/reports.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>mods only</description>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Settings</display-name>
        <web-resource-collection>
            <web-resource-name>Settings</web-resource-name>
            <description/>
            <url-pattern>/settings/*</url-pattern>
            <url-pattern>/settings.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Misc</display-name>
        <web-resource-collection>
            <web-resource-name>Delete</web-resource-name>
            <description>delete comments, photos, drawer</description>
            <url-pattern>/delete/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Votes</web-resource-name>
            <description/>
            <url-pattern>/voteup/*</url-pattern>
            <url-pattern>/votedown/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Protected</web-resource-name>
            <description/>
            <url-pattern>/p/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Question</display-name>
        <web-resource-collection>
            <web-resource-name>Answer</web-resource-name>
            <description/>
            <url-pattern>/question/answer/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/question/*</url-pattern>
            <url-pattern>/question.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Questions</display-name>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/questions/*</url-pattern>
            <url-pattern>/question.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Questions</web-resource-name>
            <description/>
            <url-pattern>/questions.htm</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Ask question</web-resource-name>
            <description/>
            <url-pattern>/questions/ask/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Message</display-name>
        <web-resource-collection>
            <web-resource-name>Message</web-resource-name>
            <description/>
            <url-pattern>/message/*</url-pattern>
            <url-pattern>/message.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Media</display-name>
        <web-resource-collection>
            <web-resource-name>Media</web-resource-name>
            <description/>
            <url-pattern>/media/*</url-pattern>
            <url-pattern>/media.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Comment</display-name>
        <web-resource-collection>
            <web-resource-name>Comment</web-resource-name>
            <description/>
            <url-pattern>/comment/*</url-pattern>
            <url-pattern>/comment.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Feedback</display-name>
        <web-resource-collection>
            <web-resource-name>Post</web-resource-name>
            <description/>
            <url-pattern>/feedback/*</url-pattern>
            <url-pattern>/feedback.htm</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Feedback</web-resource-name>
            <description/>
            <url-pattern>/feedback.htm</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Write feedback</web-resource-name>
            <description/>
            <url-pattern>/feedback/write/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Reply</web-resource-name>
            <description/>
            <url-pattern>/feedback/reply/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Translate</display-name>
        <web-resource-collection>
            <web-resource-name>Traslate</web-resource-name>
            <description/>
            <url-pattern>/translate/*</url-pattern>
            <url-pattern>/translate.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Languages</display-name>
        <web-resource-collection>
            <web-resource-name>Languages</web-resource-name>
            <description/>
            <url-pattern>/languages.htm</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>mod</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>The administrator</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>The moderator</description>
        <role-name>mod</role-name>
    </security-role>
    <security-role>
        <description>The user</description>
        <role-name>user</role-name>
    </security-role>
    <filter>
        <description>css caching</description>
        <filter-name>cssCache</filter-name>
        <filter-class>com.scoold.util.CacheFilter</filter-class>
        <init-param>
            <description>14 days</description>
            <param-name>expirationTime</param-name>
            <param-value>1209600</param-value>
        </init-param>
        <init-param>
            <param-name>privacy</param-name>
            <param-value>public</param-value>
        </init-param>
    </filter>
    <filter>
        <description>image caching</description>
        <filter-name>imageCache</filter-name>
        <filter-class>com.scoold.util.CacheFilter</filter-class>
        <init-param>
            <description>30 days</description>
            <param-name>expirationTime</param-name>
            <param-value>2592000</param-value>
        </init-param>
        <init-param>
            <param-name>privacy</param-name>
            <param-value>public</param-value>
        </init-param>
    </filter>
    <filter>
        <description>javascript caching</description>
        <filter-name>jsCache</filter-name>
        <filter-class>com.scoold.util.CacheFilter</filter-class>
        <init-param>
            <description>14 days</description>
            <param-name>expirationTime</param-name>
            <param-value>1209600</param-value>
        </init-param>
        <init-param>
            <param-name>privacy</param-name>
            <param-value>private</param-value>
        </init-param>
    </filter>
    <resource-ref>
        <res-ref-name>mail/scoold</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
