/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
 * Table CSS style
 * 
 * This CSS style sheet was adapted from DisplayTag 1.0 - screen.css
 * http://displaytag.sourceforge.net
 */

table.blue1, table.blue2, table.complex, table.isi, table.its, table.mars, table.nocol, table.orange1, table.orange2, table.simple, table.report {
	border-collapse: collapse;
}

table.blue1 th, table.blue2 th, table.complex th, table.isi th, table.its th, table.mars th, table.nocol th, table.orange1 th, table.orange2 th, table.simple th, table.report th {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

table.blue1 td, table.blue2 td, table.complex td, table.isi td, table.its td, table.mars td, table.nocol td, table.orange1 td, table.orange2 td, table.simple td, table.report td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: baseline;
}

th.ascending, th.descending {
	background-color: orange;
}

th a, th a:visited {
	color: black;
}

th a:hover {
	color: black;
	text-decoration: none;
}

th.ascending a, th.descending a, th.sortable a {
	background-position: right;
	display: block;
	text-decoration: none;
	width: 100%;
}

/* Paginator controls */

td.paging-inline {
	background-color: #eee;
	padding-right: 1em;
}

table.isi td.paging-inline, table.orange1 td.paging-inline, table.orange2 td.paging-inline {
	background-color: #fff;
}

td.paging-inline a {
	color: #000;
	text-decoration: none;
}

td.paging-inline a:hover {
	text-decoration: underline;
}

/*
Styles: blue1, blue2, complex, isi, its, mars, nocol, orange1, orange2, simple, report
*/

/** Individual Styles **/

/* blue1 style */
table.blue1 thead tr {
    color: white;
	background-color: #6c90cc;
}
table.blue1 tr.even {
    background-color: #cedae8;
}
table.blue1 tr.odd {
    background-color: white;
}
table.blue1, table.blue1 td, table.blue1 th {
	border: 1px solid #6c90cc;
}
table.blue1 td {
	border: 1px transparent;
}
table.blue1 th.sortable a, table.blue1 th.ascending a, table.blue1 th.descending a {
	color: white;
	text-decoration: none;
}

/* blue2 style */
table.blue2 thead tr {
    color: white;
	background-color: #6c90cc;
}
table.blue2 tr.even {
    background-color: #cedae8;
}
table.blue2 tr.odd {
    background-color: #eef1f7;
}
table.blue2, table.blue2 td, table.blue2 th {
	border: 1px solid #6c90cc;
}
table.blue2 th.sortable a, table.blue2 th.ascending a, table.blue2 th.descending a {
	color: white;
	text-decoration: none;
}

/* complex style */
table.complex thead tr {
    color: white;
	background-color: #303030;
}
table.complex tr.even {
    background-color: #d0d0d0;
}
table.complex tr.odd {
    background-color: white;
}
table.complex {
	border: 1px solid #303030;
}
table.complex th {
	border: 1px solid #303030;
}
table.complex td {
	border: 1px transparent;
}
table.complex th.sortable a, table.complex th.ascending a, table.complex th.descending a {
	color: white;
	text-decoration: none;
}

/* isi style */
table.isi thead tr {
    color: black;
	background-color: #ffcc00;
}
table.isi tr.even {
    background-color: #ffeeaa;
}
table.isi tr.odd {
    background-color: white;
}
table.isi, table.isi td, table.isi th {
    border: 1px solid #666;
}

/* its style */
table.its thead tr {
    color: black;
	background-color: #6699CC;
}
table.its tr.even {
    background-color: #ddeeff;
}
table.its tr.odd {
    background-color: white;
}
table.its, table.its td, table.its th {
    border: 1px solid #666;
}

/* mars style */
table.mars thead tr {
    color: black;
	background-color: #99cc99;
}
table.mars tr.even {
    background-color: #ccccbb;
}
table.mars tr.odd {
    background-color: #eeeecc;
}
table.mars, table.mars td, table.mars th {
    border: 1px solid #666;
}

/* nocol style */
table.nocol thead tr {
    color: black;
	background-color: #ffcc00;
}
table.nocol tr.even {
    background-color: #ffeeaa;
}
table.nocol tr.odd {
    background-color: white;
}
table.nocol, table.nocol td, table.nocol th {
    border: 4px solid white;
}
table.nocol tbody td, table.nocol tbody th {
	border-collapse: separate;
	border-left: none;
	border-right: none;
}

/* orange1 style */
table.orange1 thead tr {
    color: white;
	background-color: #ff8716;
}
table.orange1 tr.even {
    background-color: #ffeeaa;
}
table.orange1 tr.odd {
    background-color: white;
}
table.orange1, table.orange1 th {
	border: 1px solid #ff8716;
}
table.orange1 td {
	border: 1px transparent;
}
table.orange1 th.sortable a, table.orange1 th.ascending a, table.orange1 th.descending a {
	color: white;
	text-decoration: none;
}

/* orange2 style */
table.orange2 thead tr {
    color: white;
	background-color: #ff8716;
}
table.orange2 tr.even {
    background-color: #ffd07f;
}
table.orange2 tr.odd {
    background-color: #ffeeaa;
}
table.orange2, table.orange2 td, table.orange2 th {
	border: 1px solid #ff8716;
}
table.orange2 th.sortable a, table.orange2 th.ascending a, table.orange2 th.descending a {
	color: white;
	text-decoration: none;
}

/* simple style */
table.simple thead tr {
    color: black;
	background-color: #c0c0c0;
}
table.simple tr.even {
    background-color: white;
}
table.simple tr.odd {
    background-color: white;
}
table.simple, table.simple td, table.simple th {
	border: 1px solid #808080;
}

/* report style */
table.report {
    border: 1px solid #666;
	border-collapse: separate;
}
table.report th {
	background: buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
    color: black;
	cursor: hand;
}
table.report idcol {
	background: buttonface;
}
table.report tr.even{
	background-color: #C2EFEF;
}
table.report tbody tr {
	height: 10px;
}
table.report th {
	padding: 2px 4px 2px 4px;
	text-align: left;
}
table.report td {
	padding: 2px 4px 2px 4px;
	text-align: left;
}

/* table pagination styles */
span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 390px;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagebanner-nolinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 390px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 390px;
	display: block;
	margin-bottom: 10px;
	border-top: none;
}

img.link {
	vertical-align: middle;
}

span.pagelinks-nobanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 390px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
