#macro(basichead $showdesc $showkeyw)
	#if($title && !$title.isEmpty()) #set($_titlestr = "- $!title" )	#else #set($_titlestr = "" ) #end
	#if($IN_PRODUCTION) 
		#set($slink = $CDN_URL) 
		#set($ilink = $CDN_URL) 
		#set($minsuffix = "-min") 
	#else 
		#set($slink = "$context/styles") 
		#set($ilink = "$context/images") 
		#set($minsuffix = "") 
	#end
	<title>$APPNAME $!_titlestr </title>
	<meta charset="utf-8"/>
	<link href="$ilink/logosq.png" rel="image_src"/>
	<link href="$ilink/logosq.png" rel="apple-touch-icon"/>
	<link href="$ilink/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<link href="$slink/style$!{minsuffix}.css" rel="stylesheet" type="text/css" media="screen"/>
	#if($showdesc && !$showdesc.isEmpty())
		<meta name="description" content="$showdesc"/>
	#end
	#if($showkeyw && !$showkeyw.isEmpty())
		<meta name="keywords" content="$showkeyw"/>
	#end	
#end

