<div id="about">
	<h1>$!lang.get("about.title")</h1>
	<hr>
	<p>$!lang.get("about.scoold.1")</p>
	<p>$!lang.get("about.scoold.2")</p>
	<ol class="squarelist">
		<li>$!lang.get("about.scoold.3")</li>
		<li>$!lang.get("about.scoold.4")</li>
		<li>$!lang.get("about.scoold.5")</li>
		<li>$!lang.get("about.scoold.6")</li>
	</ol>
	<p>$!lang.get("about.scoold.7")</p>

	<h2>$!lang.get("questions.title")</h2>
	<p>$!lang.get("about.questions.9")</p>
	<p>$!lang.get("about.questions.10")</p>
	<p>$!lang.get("about.questions.11")</p>
	<p>$!lang.get("about.questions.12")</p>

	<h2>$!lang.get("answers.title")</h2>
	<p>$!lang.get("about.answers.1")</p>
	<p>$!lang.get("about.answers.2")</p>

	<h2>$!lang.get("revisions.title")</h2>
	<p>$!lang.get("about.revisions.1")</p>
	<p>$!lang.get("about.revisions.2")</p>

	<h2>$!lang.get("comments.title")</h2>
	<p>$!lang.get("about.comments.1")</p>
	<p>$!lang.get("about.comments.2")</p>

	<h2>$!lang.get("voterep.title")</h2>
	<p>$!lang.get("about.voterep.1")</p>
	<p>$!lang.get("about.voterep.2")</p>
	<p>$!lang.get("about.voterep.3")</p>
	<table class="striped">
		<thead>
			<tr><th></th><th></th></tr>
		</thead>
		<tbody>
			<tr>
				<td class="prl">$!lang.get("about.voterep.4")</td>
				<td class="bold">$!ANSWER_VOTEUP_REWARD_AUTHOR $!lang.get("points")</td>
			</tr>
			<tr>
				<td class="prl">$!lang.get("about.voterep.5")</td>
				<td class="bold">$!QUESTION_VOTEUP_REWARD_AUTHOR $!lang.get("points")</td>
			</tr>
			<tr>
				<td class="prl">$!lang.get("about.voterep.6")</td>
				<td class="bold">$!VOTEUP_REWARD_AUTHOR $!lang.get("points")</td>
			</tr>
			<tr>
				<td class="prl">$!lang.get("about.voterep.7")</td>
				<td class="bold">$!ANSWER_APPROVE_REWARD_AUTHOR $!lang.get("points")</td>
			</tr>
			<tr>
				<td class="prl">$!lang.get("about.voterep.8")</td>
				<td class="bold">$!ANSWER_APPROVE_REWARD_VOTER $!lang.get("points")</td>
			</tr>
			<tr>
				<td class="prl">$!lang.get("about.voterep.9")</td>
				<td class="bold">$!POST_VOTEDOWN_PENALTY_AUTHOR $!lang.get("points")</td>
			</tr>
			<tr>
				<td class="prl">$!lang.get("about.voterep.10")</td>
				<td class="bold">$!POST_VOTEDOWN_PENALTY_VOTER $!lang.get("points")</td>
			</tr>
		</tbody>
	</table>
	<br>
	<h2>$!lang.get("badges.title")</h2>
	<p>$!lang.get("about.badges.1")</p>
	<table>
		<tbody>
			<tr>
				<td class="prl">#badgebox("niceprofile" 0)</td>
				<td>$!lang.get("about.badges.niceprofile") <strong>(+$!NICEPROFILE_BONUS $!lang.get("points"))</strong></td>
			</tr>
			<tr>
				<td class="prl">#badgebox("tester" 0)</td>
				<td>$!lang.get("about.badges.tester")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("reporter" 0)</td>
				<td>$!lang.get("about.badges.reporter")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("voter" 0)</td>
				<td>$!lang.get("about.badges.voter")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("critic" 0)</td>
				<td>$!lang.get("about.badges.critic")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("supporter" 0)</td>
				<td>$!lang.get("about.badges.supporter") <strong>(+$!SUPPORTER_BONUS $!lang.get("points"))</strong></td>
			</tr>
			<tr>
				<td class="prl">#badgebox("commentator" 0)</td>
				<td>$!lang.get("about.badges.commentator")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("editor" 0)</td>
				<td>$!lang.get("about.badges.editor")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("backintime" 0)</td>
				<td>$!lang.get("about.badges.backintime")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("noob" 0)</td>
				<td>$!lang.get("about.badges.noob") <strong>(+$!NOOB_BONUS $!lang.get("points"))</strong></td>
			</tr>
			<tr>
				<td class="prl">#badgebox("enthusiast" 0)</td>
				<td>$!lang.get("about.badges.enthusiast")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("freshman" 0)</td>
				<td>$!lang.get("about.badges.freshman")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("scholar" 0)</td>
				<td>$!lang.get("about.badges.scholar")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("teacher" 0)</td>
				<td>$!lang.get("about.badges.teacher")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("professor" 0)</td>
				<td>$!lang.get("about.badges.professor")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("geek" 0)</td>
				<td>$!lang.get("about.badges.geek")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("goodquestion" 0)</td>
				<td>$!lang.get("about.badges.goodquestion") <strong>(+$!GOODQUESTION_BONUS $!lang.get("points"))</strong></td>
			</tr>
			<tr>
				<td class="prl">#badgebox("goodanswer" 0)</td>
				<td>$!lang.get("about.badges.goodanswer") <strong>(+$!GOODANSWER_BONUS $!lang.get("points"))</strong></td>
			</tr>
			<tr>
				<td class="prl">#badgebox("eureka" 0)</td>
				<td>$!lang.get("about.badges.eureka")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("senior" 0)</td>
				<td>$!lang.get("about.badges.senior")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("disciplined" 0)</td>
				<td>$!lang.get("about.badges.disciplined")</td>
			</tr>
			<tr>
				<td class="prl">#badgebox("polyglot" 0)</td>
				<td>$!lang.get("about.badges.polyglot") <strong>(+$!POLYGLOT_BONUS $!lang.get("points"))</strong></td>
			</tr>
		</tbody>
	</table>
	<br>
	<h2>$!lang.get("reports.title")</h2>
	<p>$!lang.get("about.reports.1")</p>

	<h2>$!lang.get("accounts.title")</h2>
	<p>$!lang.get("about.accounts.1")</p>

	<h2>$!lang.get("feedback.title")</h2>
	<p>$!lang.get("about.feedback.1")</p>

	<h2>$!lang.get("contact.title")</h2>
	<p>
		<a href="mailto:contact@scoold.com" target="_blank">$!lang.get("signup.form.email")</a> &bull;
		<a href="http://www.facebook.com/getscoold" target="_blank">Facebook</a> &bull;
		<a href="http://www.twitter.com/getscoold" target="_blank">Twitter</a>
	</p>

</div>
