#if ($request.getParameter("delete"))
	#set($confirmlink = "$adminlink?confirmdelete=true&id=$request.getParameter('id')")

	<div class="pvl center">
		<h2 class="black-text">$!lang.get("areyousure")</h2>
		<br>

		#if ($request.getHeader("Referer"))
			#set($ref = $request.getHeader("Referer"))
		#else
			#set($ref = $!request.contextPath)
		#end

		<form method="post" action="$!{confirmlink}">
			#sectoken(false)
			<button type="submit" class="btn waves-effect waves-light red mrl">$!lang.get('yes')</button>
			<a class="btn waves-effect waves-light green" href="$!{ref}" title="No">$!lang.get("no")</a>
		</form>
	</div>
#else
	<h2>$!lang.get('administration.title')</h2>
	<hr>

	<h4>
		$!lang.get('spaces.title') #showcount($itemcount.count)
	</h4>

	<div class="mbl">
		<form method="post" id="create-space-form" action="$adminlink/add-space">
			##sectoken(false "CREATE_SPACE") ## BREAKS AJAX - NOT USED
			<div class="row">
				<div class="col s12 m6">
					<div class="input-field">
						<i class="fa fa-th-large pvm prefix grey-text"></i>
						<label for="name_text">$!lang.get('name')</label>
						<input type="text" id="name_text" name="space" class="validate" maxlength="255" minlength="2" required>
						<span class="helper-text" data-error="Space is invalid or already exists!"></span>
					</div>
				</div>
				<div class="col s12 m6">
					<button class="btn mtl waves-effect waves-light" type="submit">$!lang.get('add')</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row spaces-wrapper">
		<div class="col s12 m6 l3 spacebox">
			<div class="card-panel center-align grey-text">
				<p class="mediumText">
					#if($isDefaultSpacePublic)
						<i class="fa fa-unlock green-text" title="Public"></i>
					#else
						<i class="fa fa-lock red-text" title="Private"></i>
					#end
					<a href="$questionslink/space" title="Default space">$!lang.get('defaultspace')</a>
				</p>
			</div>
		</div>
		#paginate("\#spacespage(\$spaces)" $itemcount "" "page" )
	</div>

	#if($scooldUtils.isWebhooksEnabled())
	<h4>
		Webhooks #showcount($itemcount1.count)
	</h4>

	<div class="mbl">
		<form method="post" id="create-webhook-form" action="$adminlink/create-webhook">
			#sectoken(false "CREATE_WEBHOOK")
			<div class="row">
				<div class="col s12 m4">
					<div class="input-field">
						<label for="targetUrl">Destination URL</label>
						<input type="url" id="targetUrl" name="targetUrl" class="validate" minlength="7" required>
						<span class="helper-text" data-error="Please enter a valid URL"></span>
					</div>
				</div>
				<div class="col s12 m2">
					<div class="input-field">
						<select multiple name="events" required>
							<option value="create" selected="selected">create</option>
							<option value="update">update</option>
							<option value="delete">delete</option>
							<option value="createAll">createAll</option>
							<option value="updateAll">updateAll</option>
							<option value="deleteAll">deleteAll</option>
						</select>
					</div>
				</div>
				<div class="col s12 m2">
					<div class="input-field">
						<select name="type" required>
							#foreach($type in $coreScooldTypes)
								#if($type == "question")
									<option value="$!type" selected="selected">$!type</option>
								#else
									<option value="$!type">$!type</option>
								#end
							#end
						</select>
					</div>
				</div>
				<div class="col s12 m2">
					<div class="input-field">
						<select name="json" required>
							<option value="false" selected="selected">x-www-form-urlencoded</option>
							<option value="true">json</option>
						</select>
					</div>
				</div>

				<div class="col s12 m2">
					<button class="btn mtl waves-effect waves-light" type="submit">$!lang.get('create')</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row webhooks-wrapper">
		#paginate("\#webhookspage(\$webhooks)" $itemcount1 "" "page1" )
	</div>
	#end

	<hr>
	<div class="ptl">
		<ul class="collapsible" data-collapsible="expandable">
			<li>
				<div class="collapsible-header"><i class="fa fa-info-circle"></i>$!lang.get('admin.environment')</div>
				<div class="collapsible-body">
					<h4>Scoold version: <tt class="green-text text-darken-2">$!scooldVersion</tt></h4>
					<h4>Production mode: <tt class="green-text text-darken-2">$!IN_PRODUCTION</tt></h4>
					<h4>Para app: <tt class="green-text text-darken-2">$!paraapp</tt></h4>
					<h4>Para version: <tt class="green-text text-darken-2">$!version</tt></h4>
					<h4>Para endpoint: <tt class="green-text text-darken-2">$!endpoint</tt></h4>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="fa fa-wrench"></i>$!lang.get('admin.configuration')</div>
				<div class="collapsible-body">
					<table class="striped">
						#foreach($conf in $configMap.entrySet())
							<tr>
								<td><code>$conf.key</code>:</td>
								<td><code class="green-text text-darken-2">
										#if(($conf.key.contains("secret") || $conf.key.contains("password")) ||
											$conf.key.contains("pass") && $conf.value && !$conf.value.isEmpty())
											***************************
										#else
											$!conf.value
										#end
									</code></td>
							</tr>
						#end
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="fa fa-cog"></i>$!lang.get('admin.system')</div>
				<div class="collapsible-body">
					<table class="striped">
							#foreach($key in ["java.vm.name", "java.version", "java.vendor", "java.vm.specification.vendor", "user.timezone", "os.arch", "file.encoding"])
								<tr>
									<td><code>$key:</code></td>
									<td><code class="green-text text-darken-2">$!utils.getSystemProperty($key)</code></td>
								</tr>
							#end
					</table>
				</div>
			</li>
		</ul>
	</div>

#end