#if ($request.getParameter("delete"))
	#set($confirmlink = "$adminlink?confirmdelete=true&id=$request.getParameter('id')")

	<div class="pvl center">
		<h2 class="black-text">$!lang.get("areyousure")</h2>
		<br>

		#if ($request.getHeader("Referer"))
			#set($ref = $request.getHeader("Referer"))
		#else
			#set($ref = $HOMEPAGE)
		#end

		<form method="post" action="$!{confirmlink}">
			#sectoken(false)
			<button type="submit" class="btn waves-effect waves-light red mrl">$!lang.get('yes')</button>
			<a class="btn waves-effect waves-light green" href="$!{ref}" title="No">$!lang.get("no")</a>
		</form>
	</div>
#else
	<h2>$!lang.get('administration.title')</h2>
	<hr>
	<h4>Production mode: <tt class="green-text text-darken-2">$!IN_PRODUCTION</tt></h4>
	<h4>Para version: <tt class="green-text text-darken-2">$!version</tt></h4>
	<h4>Configuration</h4>
	<table class="striped">
		#foreach($conf in $configMap.entrySet())
			<tr>
				<td><code>$conf.key</code>:</td>
				<td><code class="green-text text-darken-2">
						#if(($conf.key.contains("secret") || $conf.key.contains("password")) && $conf.value && !$conf.value.isEmpty())
							***************************
						#else
							$!conf.value
						#end
					</code></td>
			</tr>
		#end
	</table>
	<h4>System information</h4>
	<table class="striped">
			#foreach($key in ["java.vm.name", "java.version", "java.vendor", "java.vm.specification.vendor", "user.timezone", "os.arch", "file.encoding"])
				<tr>
					<td><code>$key:</code></td>
					<td><code class="green-text text-darken-2">$!utils.getSystemProperty($key)</code></td>
				</tr>
			#end

	</table>
#end