<!DOCTYPE html>
<!-- Powered by            __    __
     ____ ____ ___   ___  / /___/ /
   / ___/ ___/ __ \/ __ \/ / __  /
  (__  ) /__/ /_/ / /_/ / / /_/ /
 /____/\___/\____/\____/_/\__,_/  https://scoold.com
-->
<html lang="$!currentLocale.language" dir="$!langDirection">
	<head>
		<title>$!APPNAME | $!title</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
		<meta name="description" content="$!description">
		<meta name="keywords" content="$!keywords">
		<meta name="generator" content="Scoold">
		<meta property="fb:app_id" content="$!FB_APP_ID">
		<meta property="og:title" content="$!title">
		<meta property="og:type" content="article">
		<meta property="og:url" content="$!CANONICAL_URL">
		<meta property="og:image" content="$!ogimage">
		<meta property="og:description" content="$!description">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@getscoold">
		<meta name="twitter:title" content="$!title">
		<meta name="twitter:description" content="$!description">
		<meta name="twitter:image" content="$!ogimage">
		<link rel="manifest" href="$!{CONTEXT_PATH}/manifest.webmanifest">
		<link href="$!{CONTEXT_PATH}/opensearch.xml" title="$!APPNAME" type="application/opensearchdescription+xml" rel="search">
		<link href="$!{CONTEXT_PATH}/feed.xml" rel="alternate" type="application/atom+xml" title="New questions feed">
		<link href="$!ogimage" rel="image_src">
		<link href="$!ogimage" rel="apple-touch-icon">
		<link href="$!faviconUrl" rel="icon" sizes="any">
		<link href="$!styleslink/materialize.min.css?r=$!rev" rel="stylesheet">
		<link href="$!styleslink/font-awesome.min.css?r=$!rev" rel="stylesheet">
		<link href="$!styleslink/easymde.min.css?r=$!rev" rel="stylesheet">
		#if ($includeHighlightJS)
		<link href="$!styleslink/highlighting.css?r=$!rev" rel="stylesheet">
		#end
		#if($scooldUtils.isApiEnabled() && $request.getServletPath() == "/apidocs")
		<link rel="stylesheet" type="text/css" href="$!styleslink/swagger-ui.css?r=$!rev">
		<link rel="stylesheet" href="$!styleslink/api.css?r=$!rev">
		#end
		<link href="$!{stylesheetUrl}?r=$!rev" rel="stylesheet" media="screen">
		#if($darkModeEnabled)
		<link href="$!{darkStylesheetUrl}?r=$!rev" rel="stylesheet">
		#end
		#if($!langDirection == "RTL")
		<link href="$!styleslink/rtl.css?r=$!rev" rel="stylesheet">
		#end
		#externalScripts(true)
		#foreach($externalStyle in $externalStyles)
		<link href="$!externalStyle" rel="stylesheet">
		#end
		#if($inlineUserCSS)
		#set($_inlineCSS = $inlineUserCSS)
		<style>
			$!{_inlineCSS}
		</style>
		#end
	</head>
	<body>
		<div class="scoold-wrapper">
			<header>
				<div class="${navbarFixedClass}">
					<nav class="navbar-color">
						<div class="nav-wrapper container">
							<a href="#" data-target="mobile-drawer" class="sidenav-trigger"><i class="fa fa-bars fa-2x"></i></a>
							#macro(customnavbarlinks)
								#if($scooldUtils.isNavbarLink1Enabled())
								<li><a href="$scooldUtils.navbarLink1URL" title="$scooldUtils.navbarLink1Text"
									#if($scooldUtils.navbarLink1Target) target="$scooldUtils.navbarLink1Target" #end>$scooldUtils.navbarLink1Text</a></li>
								#end
								#if($scooldUtils.isNavbarLink2Enabled())
								<li><a href="$scooldUtils.navbarLink2URL" title="$scooldUtils.navbarLink2Text"
									#if($scooldUtils.navbarLink2Target) target="$scooldUtils.navbarLink2Target" #end>$scooldUtils.navbarLink2Text</a></li>
								#end
							#end
							#macro(customnavbarmenulinks)
								#if($scooldUtils.isNavbarMenuLink1Enabled())
								<li><a href="$scooldUtils.navbarMenuLink1URL" title="$scooldUtils.navbarMenuLink1Text"
									#if($scooldUtils.navbarMenuLink1Target) target="$scooldUtils.navbarMenuLink1Target" #end>$scooldUtils.navbarMenuLink1Text</a></li>
								#end
								#if($scooldUtils.isNavbarMenuLink2Enabled())
								<li><a href="$scooldUtils.navbarMenuLink2URL" title="$scooldUtils.navbarMenuLink2Text"
									#if($scooldUtils.navbarMenuLink2Target) target="$scooldUtils.navbarMenuLink2Target" #end>$scooldUtils.navbarMenuLink2Text</a></li>
								#end
							#end

							#macro(navbarlinks)
								<li><a href="$questionslink" title="$!lang.get('questions.title')" class="$!{questionsSelected}">$!lang.get("questions.title")</a></li>
								#if($scooldUtils.config.usersDiscoverabilityEnabled($isAdmin))
								<li><a href="$peoplelink" title="$!lang.get('people.title')" class="$!{peopleSelected}">$!lang.get("people.title")</a></li>
								#end
								<li><a href="$tagslink" title="$!lang.get('tags.title')" class="$!{tagsSelected}">$!lang.get("tags.title")</a></li>
								<li><a href="$questionslink/ask" title="$!lang.get('posts.ask')" class="$!{askSelected}">$!lang.get("posts.ask")</a></li>
								#customnavbarlinks()
								#if ($authenticated && $isMod)
									<li>
										<a href="$reportslink" title="$!lang.get('reports.title')" class="$!{reportsSelected}">$!lang.get("reports.title")
											#if ($authUser.countNewReports() > 0)
												<span class="badge new">$authUser.countNewReports()</span>
											#end
										</a>
									</li>
								#end
							#end

							#macro(navbarspaces)
								<li>
										<a class="dropdown-trigger scoold-spaces-dropdown" title="Spaces" href="#!" data-target="spaces-dropdown">
											<i class="fa fa-th-large"></i>
											#if($currentSpace.isEmpty() || $scooldUtils.isDefaultSpace($currentSpace))
												$!lang.get('spaces.title')
											#elseif($scooldUtils.isAllSpaces($currentSpace))
												$!lang.get('allspaces')
											#else
												$utils.abbreviate($scooldUtils.getSpaceName($currentSpace), 30)
											#end
											<i class="fa fa-caret-down right"></i>
										</a>
								</li>
							#end

							#macro(navbarspacesmenu $wrapped)
								#set($spaceSelectedClass = "")
								#if(($authUser.hasSpaces() || $isMod))
									#if($wrapped)
									<ul id="spaces-dropdown" class="dropdown-content">
									#else
										<li class="divider"></li>
									#end
										#if($authUser.hasSpaces())
											#if($scooldUtils.isAllSpaces($currentSpace))
												#set($allSpacesSelectedClass = "navbtn-hover white-text")
											#end
											<li><a href="$questionslink/space/all?returnto=$!returnto" title="All Spaces"
														 class="$!{allSpacesSelectedClass}">$!lang.get('allspaces')</a></li>
											<li class="divider"></li>
										#end
										#if($scooldUtils.canAccessSpace($authUser, "default"))
											#if($!currentSpace.isEmpty() || $scooldUtils.isDefaultSpace($currentSpace))
													#set($spaceSelectedClass = "navbtn-hover white-text")
											#end
											<li><a href="$questionslink/space?returnto=$!returnto" class="${spaceSelectedClass}">$!lang.get('defaultspace')</a></li>
											<li class="divider"></li>
										#end
										#foreach($space in $authUser.allSpaces)
										#if(!$scooldUtils.isDefaultSpace($space))
											#if($!currentSpace == $space)
												#set($spaceSelectedClass = "navbtn-hover white-text")
											#else
												#set($spaceSelectedClass = "")
											#end
											#set($spaceName = $scooldUtils.getSpaceName($space))
											<li><a href="$questionslink/space/$!scooldUtils.getSpaceId($!space)?returnto=$!returnto" title="$!{spaceName}"
														 class="$!{spaceSelectedClass}">$!utils.abbreviate($!spaceName, 35)</a></li>
											<li class="divider"></li>
										#end
										#end
									#if($wrapped)
									</ul>
									#end
								#end
							#end

							#macro(rolestoggle)
								#if ($authUser.groups == "admins" || $authUser.groups == "mods")
									<li>
										<a href="$profilelink/toggle-editor-role" class="post-refresh" title="Toggle admin/moderator role">
											#if($authUser.groups == "admins")
												$!lang.get('admin.toggle1')
											#elseif($authUser.groups == "mods")
												$!lang.get('admin.toggle2')
											#end:
											#if($authUser.editorRoleEnabled)<span class="green-text">$!lang.get('on').toUpperCase()</span>
											#else<span class="red-text">$!lang.get('off').toUpperCase()</span>#end</a>
									</li>
									<li class="divider"></li>
								#end
							#end

							#if($authenticated)
								#navbarspacesmenu(true)
								<ul id="user-dropdown" class="dropdown-content">
									<li><a href="$profilelink" title="$!{authUser.name}">$!lang.get('profile.title')</a></li>
									#if($isAdmin)
										<li><a href="$adminlink" title="$!lang.get('administration.title')">$!lang.get('administration.title')</a></li>
									#end
									<li><a href="$settingslink" title="$!lang.get('settings.title')">$!lang.get('settings.title')</a></li>
									#customnavbarmenulinks()
									<li class="divider"></li>
									#rolestoggle()
									<li><a href="$signoutlink" title="$!lang.get('signout')" class="post-refresh">$!lang.get('signout')</a></li>
								</ul>
							#end

							<div class="brand-logo">
								<a href="$!{CONTEXT_PATH}/">
									<img src="$logoUrl" class="scoold-logo" width="$logoWidth" alt="scoold logo">
								</a>
							</div>

							<ul class="right hide-on-med-and-down">
								#if($!langDirection == "LTR")
									<li>
										<a href="#" class="toggle-drawer $!{searchSelected}" title="$!lang.get('search.search')">
											<i class="fa fa-search fa"></i><span class="hide">Search</span>
										</a>
									</li>
								#end

								#if($!langDirection == "LTR")
									#navbarlinks()
								#end

								#if ($authenticated)
									#if(($authUser.hasSpaces() || $isMod) && $!langDirection == "LTR")
										#navbarspaces()
									#end
									<li>
										<a class="dropdown-trigger scoold-user-dropdown rep-overlay" href="#!" data-target="user-dropdown" data-votes="$!authUser.votes">
											<img src="#profilepic($authUser, 'Square50')" width="50" class="profile-pic responsive-img" alt="Avatar">
											<i class="fa fa-caret-down right"></i></a>
									</li>
									#if(($authUser.hasSpaces() || $isMod) && $!langDirection == "RTL")
										#navbarspaces()
									#end
								#else
									<li><a href="${signinlink}?returnto=$!{returnto}" title="$!lang.get('signin.title')"
												 class="$!{signinSelected}">$!lang.get("signin.title")</a></li>
								#end

								#if($!langDirection == "RTL")
									#navbarlinks()
								#end

								#if($!langDirection == "RTL")
									<li>
										<a href="#" class="toggle-drawer $!{searchSelected}" title="$!lang.get('search.search')">
											<i class="fa fa-search fa"></i><span class="hide">Search</span>
										</a>
									</li>
								#end
							</ul>

							<ul class="sidenav" id="mobile-drawer">
								<li>
									<nav class="light-blue z-depth-0">
										<div class="nav-wrapper">
											<form action="$searchlink">
												<div class="input-field">
													<input id="search-box-mobile" type="search" name="q" placeholder="$!lang.get('search.search')" required>
													<label class="label-icon" for="search-box-mobile"><i class="fa fa-search fa-2x"></i></label>
													#if($!langDirection == "LTR")
														<i class="material-icons fa fa-close"></i>
													#end
												</div>
											</form>
										</div>
									</nav>
								</li>
								#if ($authenticated)
									<li>
										<img src="#profilepic($authUser, 'Square50')" width="50"  alt="Avatar" class="profile-pic responsive-img left mhl">
										<a href="$profilelink" class="black-text mvl pll">$!authUser.name</a>
									</li>
									#if($isAdmin)
										<li><a href="$adminlink" title="$!lang.get('administration.title')">$!lang.get('administration.title')</a></li>
									#end
									<li><a href="$settingslink" title="$!lang.get('settings.title')">$!lang.get('settings.title')</a></li>
									#customnavbarmenulinks()
								#else
									<li><a href="${signinlink}?returnto=$!{returnto}" title="$!lang.get('signin.title')"
												 class="$!{signinSelected}">$!lang.get("signin.title")</a></li>
								#end
								<li><a href="$questionslink/ask" title="$!lang.get('posts.ask')" class="$!{askSelected}">$!lang.get("posts.ask")</a></li>
								<li><a href="$questionslink" title="$!lang.get('questions.title')" class="$!{questionsSelected}">$!lang.get("questions.title")</a></li>
								#if($scooldUtils.config.usersDiscoverabilityEnabled($isAdmin))
								<li><a href="$peoplelink" title="$!lang.get('people.title')" class="$!{peopleSelected}">$!lang.get("people.title")</a></li>
								#end
								<li><a href="$tagslink" title="$!lang.get('tags.title')" class="$!{tagsSelected}">$!lang.get("tags.title")</a></li>
								#customnavbarlinks()
								#if ($authenticated)
									#if ($isMod)
										<li>
											<a href="$reportslink" title="$!lang.get('reports.title')" class="$!{reportsSelected}">$!lang.get("reports.title")
												#if ($authUser.countNewReports() > 0)
													<span class="badge new">$authUser.countNewReports()</span>
												#end
											</a>
										</li>
									#end

									#navbarspacesmenu(false)
									#rolestoggle()
									<li><a href="$signoutlink" title="$!lang.get('signout')" class="post-refresh">$!lang.get('signout')</a></li>
								#end
							</ul>
						</div>
					</nav>

					<nav id="search-drawer" class="white z-depth-1 hide hide-on-med-and-down">
						<div class="nav-wrapper container">
							<form class="hide-on-med-and-down" action="$searchlink">
								<div class="input-field">
									#if($!langDirection == "RTL")
										<i class="material-icons fa fa-close grey-text toggle-drawer"></i>
										<a href="#" id="search-info-left"><i class="fa fa-question-circle grey-text"></i></a>
									#end
									<input id="search-box" type="search" name="q" placeholder="$!lang.get('search.search')" required>
									<label class="label-icon" for="search-box"><i class="fa fa-search fa-2x grey-text"></i></label>
									#if($!langDirection == "LTR")
										<a href="#" id="search-info-right"><i class="fa fa-question-circle grey-text"></i></a>
										<i class="material-icons fa fa-close grey-text toggle-drawer"></i>
									#end
								</div>
							</form>
						</div>
					</nav>
					<div id="search-info-drawer" class="z-depth-0 hide hide-on-med-and-down">
						<div class="pvl container">
							<div class="row">
								<div class="col m6 s12">
									<div>
										<b>$!lang.get('search.help.examples'):</b> <code>query</code>, <code>"exact match"</code>, <code>wildcard*</code>,
										<code>wild?ard</code>, <code>wild*rd</code>
									</div>
									<div>
										<b>$!lang.get('search.help.fuzzy'):</b> <code>cake~</code> (finds <code>cakes</code>, <code>bake</code>)
									</div>
									<div>
										<b>$!lang.get('search.help.boost'):</b> <code>"red velvet"^4</code>, <code>chocolate^2</code>
									</div>
									<div>
										<b>$!lang.get('search.help.grouping'):</b> <code>tags:(+work -"fun-stuff")</code>
									</div>
									<div>
										<b>$!lang.get('search.help.escaping')</b> <code>+-&|!(){}[]^"~*?:\</code> - e.g. <code>\+</code> <code>\*</code> <code>\!</code>
									</div>
								</div>
								<div class="col m6 s12">
									<div>
										<b>$!lang.get('search.help.range'):</b> <code>properties.timestamp:[1587729413488 TO *]</code> ($!lang.get('search.help.inclusive')),
										<code>properties.title:{A TO Z}</code>($!lang.get('search.help.excluding'))
									</div>
									<div>
										<b>$!lang.get('search.help.combine'):</b> <code>chocolate AND vanilla</code>, <code>chocolate OR vanilla</code>,
										<code>(chocolate OR vanilla) NOT "vanilla pudding"</code>
									</div>
									<div>
										<b>$!lang.get('search.help.field'):</b> <code>properties.title:"The Title" AND text</code>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<main class="container">
				#infostrip()
				#parse($path)
			</main>

			<footer class="page-footer">
				<div class="container">
					<div class="row mbn">
						<div class="col l7 s12 sTextCenter">
							<div class="pvl">
								#set($_footerHTML = $!scooldUtils.getFooterHTML())
								$!_footerHTML
								#if($scooldUtils.isFooterLinksEnabled())
								<a href="$aboutlink" title="$!lang.get('about.title')">$!lang.get('about.title')</a>&nbsp;&nbsp;
								#if($scooldUtils.isFeedbackEnabled())
								<a href="$feedbacklink" title="$!lang.get('feedback.title')">$!lang.get('feedback.title')</a>&nbsp;&nbsp;
								#end
								<a href="$privacylink" title="$!lang.get('privacy.title')">$!lang.get('privacy.title')</a>&nbsp;&nbsp;
								<a href="$termslink" title="$!lang.get('terms.title')">$!lang.get('terms.title')</a>&nbsp;&nbsp;
								#if($scooldUtils.isApiEnabled())
								<a href="$apidocslink" title="API docs">API</a>
								#end
								#end
							</div>
						</div>
						<div class="col l5 s12 sTextCenter mtm right-align">
							<a href="$!languageslink" title="Switch to a different language" class="btn-flat grey capitalize">
								$!currentLocale.getDisplayLanguage($currentLocale)
							</a>
						</div>
					</div>
				</div>
				#if($showBranding)
				<div>
					<div class="container">
						<div class="row mbn">
							<div class="col l6 s12 sTextCenter">
								#set($_liclink = $utils.formatMessage("$!lang.get('license')",
								'<a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons</a>') )
								<i class="fa fa-creative-commons"></i> $_liclink
							</div>
							<div class="col l6 s12 sTextCenter right-align">
								<span>This website is powered by <a href="https://scoold.com"><b>Scoold</b></a> and <a href="https://paraio.com">
									<img src="$imageslink/paradark.svg" width="60" alt="Para logo" class="para-logo-footer"></a>
								</span>
							</div>
						</div>
					</div>
				</div>
				#end
			</footer>
		</div>

		<div id="main-modal" class="modal">
			<div class="modal-content">
				#ajaxloading(false)
			</div>
			<div class="modal-footer">
				<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">$!lang.get('close')</a>
			</div>
		</div>

		<script nonce="$cspNonce" src="$!scriptslink/jquery.min.js?r=$!rev"></script>
		<script nonce="$cspNonce" src="$!scriptslink/diff_match_patch.js?r=$!rev"></script>
		<script nonce="$cspNonce" src="$!scriptslink/materialize.min.js?r=$!rev"></script>
		#if ($includeHighlightJS)
		<script nonce="$cspNonce" src="$!scriptslink/highlight.min.js?r=$!rev"></script>
		#end
		<script nonce="$cspNonce" src="$!scriptslink/easymde.min.js?r=$!rev"></script>
		#set($avatarUploadsEnabledBool = $scooldUtils.isAvatarUploadsEnabled() && $authenticated && $request.getServletPath().startsWith($profilelink))
		#if($avatarUploadsEnabledBool)
			<script nonce="$cspNonce" src="$!scriptslink/inline-attachment.min.js?r=$!rev"></script>
		#end
		#if ($includeLocatorScripts && $includeLocatorScripts == true)
		<script nonce="$cspNonce" src="$!scriptslink/cities.js?r=$!rev"></script>
		#end

		#set($ctxPathJS = "CONTEXT_PATH = '$CONTEXT_PATH'")
		#set($imgurJS = "IMGUR_CLIENT_ID = '$IMGUR_CLIENT_ID';IMGUR_ENABLED = $IMGUR_ENABLED")
		#set($cloudinaryJS = "CLOUDINARY_ENABLED = $CLOUDINARY_ENABLED")
		#set($isRTLJS = "RTL_ENABLED = $RTL_ENABLED")
		#set($isAdminJS = "IS_ADMIN = $isAdmin")
		#set($maxTagsJS = "MAX_TAGS_PER_POST = $MAX_TAGS_PER_POST")
		#set($minPassLen = "MIN_PASS_LENGTH = $MIN_PASS_LENGTH")
		#set($avatarUploadsEnabledJS = "AVATAR_UPLOADS_ENABLED = $avatarUploadsEnabledBool")
		#set($_welcomeMsg = $scooldUtils.getWelcomeMessage($authUser))
		#set($_welcomeMessageJS = "WELCOME_MESSAGE = '$_welcomeMsg'")
		#set($_welcomeMsgOnLogin = $scooldUtils.getWelcomeMessageOnLogin($authUser))
		#set($_welcomeMessageOnLoginJS = "WELCOME_MESSAGE_ONLOGIN = '$_welcomeMsgOnLogin'")
		#set($_welcomeMsgPreLogin = $scooldUtils.getWelcomeMessagePreLogin($authUser, $request))
		#set($_welcomeMessagePreLoginJS = "WELCOME_MESSAGE_PRELOGIN = '$_welcomeMsgPreLogin'")
		#set($_confirmMsg = $!lang.get('areyousure'))
		#set($_confirmMsgJS = "CONFIRM_MSG = '$!_confirmMsg'")
		#set($isTagCreationAllowed = "TAG_CREATION_ALLOWED = $scooldUtils.config.tagCreationAllowed()")
		<script nonce="$cspNonce">$ctxPathJS;$isRTLJS;$isAdminJS;$maxTagsJS;$minPassLen;
			$avatarUploadsEnabledJS;$imgurJS;$cloudinaryJS;
			$_welcomeMessageJS;$_welcomeMessageOnLoginJS;$_welcomeMessagePreLoginJS;$_confirmMsgJS;$isTagCreationAllowed;
			if ('serviceWorker' in navigator) {navigator.serviceWorker.register(CONTEXT_PATH + '/service-worker.js');}
		</script>
		<script nonce="$cspNonce" src="$!scriptslink/scoold.js?r=$!rev"></script>

		#if ($captchakey && !$captchakey.isBlank())
		<script nonce="$cspNonce" src="https://www.google.com/recaptcha/api.js"></script>
		<script nonce="$cspNonce">function onSubmit() {document.getElementById("captcha-form").submit();}</script>
		#end

		#if($includeEmojiPicker)
		<script nonce="$cspNonce" src="$!scriptslink/picmo.min.js?r=$!rev"></script>
		<script nonce="$cspNonce" src="$!scriptslink/picmo-popup.min.js?r=$!rev"></script>
		<script nonce="$cspNonce" type="module" src="$!scriptslink/emoji-picker.js"></script>
		#end

		#externalScripts(false)
	</body>
</html>
