<!DOCTYPE html>
<!--                       __    __
    ______________  ____  / /___/ /
   / ___/ ___/ __ \/ __ \/ / __  /
  (__  ) /__/ /_/ / /_/ / / /_/ /
 /____/\___/\____/\____/_/\__,_/

 https://scoold.com
-->
<html lang="$!currentLocale.language" dir="$!langDirection">
	<head>
		<title>$!APPNAME | $!title</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<meta name="description" content="$!description">
		<meta name="keywords" content="$!KEYWORDS">
		<meta name="generator" content="Scoold">
		<meta property="fb:app_id" content="$!FB_APP_ID">
		<meta property="og:title" content="$!APPNAME | $!title">
		<meta property="og:type" content="article">
		<meta property="og:url" content="$!request.getRequestURL()">
		<meta property="og:image" content="$!ogimage">
		<meta property="og:description" content="$!description">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@getscoold">
		<meta name="twitter:title" content="$!APPNAME | $!title">
		<meta name="twitter:description" content="$!description">
		<meta name="twitter:image" content="$!ogimage">
		<link href="$!request.contextPath/opensearch.xml" title="$!APPNAME" type="application/opensearchdescription+xml" rel="search">
		<link href="$!request.contextPath/feed.xml" rel="alternate" type="application/atom+xml" title="New questions feed">
		<link href="$!imageslink/logowhite.png" rel="image_src">
		<link href="$!imageslink/logowhite.png" rel="apple-touch-icon">
		<link href="$!faviconUrl" rel="shortcut icon">
		<link href="$!styleslink/materialize.min.css" rel="stylesheet">
		<link href="$!styleslink/font-awesome.min.css" rel="stylesheet">
		<link href="$!styleslink/easymde.min.css" rel="stylesheet">
		#if ($includeHighlightJS)
		<link href="$!styleslink/highlighting.css" rel="stylesheet">
		#end
		<link href="$!stylesheetUrl" rel="stylesheet" media="screen">
		#if($!langDirection == "RTL")
		<link href="$!styleslink/rtl.css" rel="stylesheet">
		#end
		<script nonce="$cspNonce" src="$!request.contextPath/scripts/globals.js"></script>
		#set($_confirmMsg = $!lang.get('areyousure'))
		<script nonce="$cspNonce">CONFIRM_MSG = "$!_confirmMsg";</script>
		#if ($includeGMapsScripts && $includeGMapsScripts == true)
		<script nonce="$cspNonce" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=$!GMAPS_API_KEY"></script>
		#end
		#foreach($externalStyle in $externalStyles)
		<link href="$!externalStyle" rel="stylesheet">
		#end
		#if($inlineUserCSS)
		#set($_inlineCSS = $inlineUserCSS)
		<style>
			$!{_inlineCSS}
		</style>
		#end
		#if($darkModeEnabled)
		<link href="$!styleslink/dark.css" rel="stylesheet">
		#end
	</head>
	<body>
		<div class="scoold-wrapper">
			<header>
				<div class="${navbarFixedClass}">
					<nav class="navbar-color">
						<div class="nav-wrapper container">
							<a href="#" data-target="mobile-drawer" class="sidenav-trigger"><i class="fa fa-bars fa-2x"></i></a>

							#macro(navbarlinks)
								<li><a href="$questionslink" title="Questions" class="$!{questionsSelected}">$!lang.get("questions.title")</a></li>
								<li><a href="$peoplelink" title="Users" class="$!{peopleSelected}">$!lang.get("people.title")</a></li>
								<li><a href="$tagslink" title="Tags" class="$!{tagsSelected}">$!lang.get("tags.title")</a></li>
								<li><a href="$questionslink/ask" title="Ask Question" class="$!{askSelected}">$!lang.get("posts.ask")</a></li>
								#if ($authenticated && $isMod)
									<li>
										<a href="$reportslink" title="Reports" class="$!{reportsSelected}">$!lang.get("reports.title")
											#if ($authUser.countNewReports() > 0)
												<span class="badge new">$authUser.countNewReports()</span>
											#end
										</a>
									</li>
								#end
							#end

							#macro(navbarspaces)
								<li>
										<a class="dropdown-trigger scoold-spaces-dropdown" title="Spaces" href="#!" data-target="spaces-dropdown">
											<i class="fa fa-th-large"></i>
											<i class="fa fa-caret-down right"></i>
										</a>
								</li>
							#end

							#macro(navbarspacesmenu $wrapped)
								#set($spaceSelectedClass = "")
								#if(($authUser.hasSpaces() || $isMod))
									#if($wrapped)
									<ul id="spaces-dropdown" class="dropdown-content">
									#else
										<li class="divider"></li>
									#end
										#if($scooldUtils.canAccessSpace($authUser, "default"))
											#if($!currentSpace.isEmpty() || $scooldUtils.isDefaultSpace($currentSpace))
													#set($spaceSelectedClass = "navbtn-hover white-text")
											#end
											<li><a href="$questionslink/space?returnto=$!returnto" title="Default space"
														 class="${spaceSelectedClass}">$!lang.get('defaultspace')</a></li>
											<li class="divider"></li>
										#end
										#if($authUser.hasSpaces() && !$isMod)
											#if($scooldUtils.isAllSpaces($currentSpace))
												#set($allSpacesSelectedClass = "navbtn-hover white-text")
											#end
											<li><a href="$questionslink/space/all?returnto=$!returnto" title="All Spaces"
														 class="${allSpacesSelectedClass}">$!lang.get('allspaces')</a></li>
											<li class="divider"></li>
										#end
										#foreach($space in $authUser.spaces)
											#if($!currentSpace == $space)
												#set($spaceSelectedClass = "navbtn-hover white-text")
											#else
												#set($spaceSelectedClass = "")
											#end
											#set($spaceName = $scooldUtils.getSpaceName($space))
											<li><a href="$questionslink/space/$!scooldUtils.getSpaceId($!space)?returnto=$!returnto" title="$!{spaceName}"
														 class="$!{spaceSelectedClass}">$!utils.abbreviate($!spaceName, 35)</a></li>
											<li class="divider"></li>
										#end
									#if($wrapped)
									</ul>
									#end
								#end
							#end

							#if($authenticated)
								#navbarspacesmenu(true)
								<ul id="user-dropdown" class="dropdown-content">
									<li><a href="$profilelink" title="$!{authUser.name}">$!lang.get('profile.title')</a></li>
									#if($isAdmin)
										<li><a href="$adminlink" title="Admin">$!lang.get('administration.title')</a></li>
									#end
									<li><a href="$settingslink" title="Settings">$!{lang.get('settings.title')}</a></li>
									<li class="divider"></li>
									<li><a href="$signoutlink" title="Sign out" class="mtm signout">$!lang.get('signout')</a></li>
								</ul>
							#end

							<div class="brand-logo">
								<a href="$!request.contextPath/">
									<img src="$logoUrl" class="scoold-logo" width="$logoWidth" alt="scoold logo">
								</a>
							</div>

							<ul class="right hide-on-med-and-down">
								#if($!langDirection == "LTR")
									<li>
										<a href="#" class="toggle-drawer $!{searchSelected}">
											<i class="fa fa-search fa"></i>
										</a>
									</li>
								#end

								#if($!langDirection == "LTR")
									#navbarlinks()
								#end

								#if ($authenticated)
									#if(($authUser.hasSpaces() || $isMod) && $!langDirection == "LTR")
										#navbarspaces()
									#end
									<li>
										<a class="dropdown-trigger scoold-user-dropdown" href="#!" data-target="user-dropdown">
											<img src="#profilepic($authUser)" width="50" class="profile-pic responsive-img" alt="Avatar">
											<i class="fa fa-caret-down right"></i></a>
									</li>
									#if(($authUser.hasSpaces() || $isMod) && $!langDirection == "RTL")
										#navbarspaces()
									#end
								#else
									<li><a href="${signinlink}?returnto=$!{returnto}" title="Sign in"
												 class="$!{signinSelected}">$!lang.get("signin.title")</a></li>
								#end

								#if($!langDirection == "RTL")
									#navbarlinks()
								#end

								#if($!langDirection == "RTL")
									<li>
										<a href="#" class="toggle-drawer $!{searchSelected}">
											<i class="fa fa-search fa"></i>
										</a>
									</li>
								#end
							</ul>

							<ul class="sidenav" id="mobile-drawer">
								<li>
									<nav class="light-blue z-depth-0">
										<div class="nav-wrapper">
											<form action="$searchlink">
												<div class="input-field">
													<input type="search" name="q" placeholder="$!lang.get('search.search')" required>
													<label class="label-icon" for="search"><i class="fa fa-search fa-2x"></i></label>
													#if($!langDirection == "LTR")
														<i class="material-icons fa fa-close"></i>
													#end
												</div>
											</form>
										</div>
									</nav>
								</li>
								#if ($authenticated)
									<li>
										<img src="#profilepic($authUser)" width="50"  alt="Avatar" class="profile-pic responsive-img left mhl">
										<a href="$profilelink" class="black-text mvl pll">$!authUser.name</a>
									</li>
									#if($isAdmin)
										<li><a href="$adminlink" title="Admin">$!lang.get('administration.title')</a></li>
									#end
									<li><a href="$settingslink" title="Settings">$!{lang.get('settings.title')}</a></li>
								#else
									<li><a href="${signinlink}?returnto=$!{returnto}" title="Sign in"
												 class="$!{signinSelected}">$!lang.get("signin.title")</a></li>
								#end
								<li><a href="$questionslink/ask" title="Ask Question" class="$!{askSelected}">$!lang.get("posts.ask")</a></li>
								<li><a href="$questionslink" title="Questions" class="$!{questionsSelected}">$!lang.get("questions.title")</a></li>
								<li><a href="$peoplelink" title="Users" class="$!{peopleSelected}">$!lang.get("people.title")</a></li>
								<li><a href="$tagslink" title="Tags" class="$!{tagsSelected}">$!lang.get("tags.title")</a></li>
								#if ($authenticated)
									#if ($isMod)
										<li>
											<a href="$reportslink" title="Reports" class="$!{reportsSelected}">$!lang.get("reports.title")
												#if ($authUser.countNewReports() > 0)
													<span class="badge new">$authUser.countNewReports()</span>
												#end
											</a>
										</li>
									#end

									#navbarspacesmenu(false)
									<li><a href="$signoutlink" title="Sign out" class="signout">$!lang.get('signout')</a></li>
								#end
							</ul>
						</div>
					</nav>

					<nav id="search-drawer" class="white z-depth-1 hide">
						<div class="nav-wrapper container">
							<form id="search-drawer" class="hide-on-med-and-down" action="$searchlink">
								<div class="input-field">
									#if($!langDirection == "RTL")
										<i class="material-icons fa fa-close grey-text toggle-drawer"></i>
									#end
									<input id="search-box" type="search" name="q" placeholder="$!lang.get('search.search')" required>
									<label class="label-icon" for="search-box"><i class="fa fa-search fa-2x grey-text"></i></label>
									#if($!langDirection == "LTR")
										<i class="material-icons fa fa-close grey-text toggle-drawer"></i>
									#end
								</div>
							</form>
						</div>
					</nav>
				</div>
			</header>

			<main class="container">
				#infostrip()
				#parse($path)
			</main>

			#if($!langDirection == "RTL")
				#set($footerAlignClass = "left-align" )
			#else
				#set($footerAlignClass = "right-align" )
			#end
			<footer class="page-footer">
				<div class="container">
					<div class="row mbn">
						<div class="col l6 s12 sTextCenter">
							<div class="pvl">
								<a href="$aboutlink" title="About">$!{lang.get('about.title')}</a>&nbsp;&nbsp;
								#if($scooldUtils.isFeedbackEnabled())
								<a href="$feedbacklink" title="Feedback">$!{lang.get('feedback.title')}</a>&nbsp;&nbsp;
								#end
								<a href="$privacylink" title="Privacy">$!{lang.get('privacy.title')}</a>&nbsp;&nbsp;
								<a href="$termslink" title="Terms">$!{lang.get('terms.title')}</a>
							</div>
						</div>
						<div class="col l6 s12 sTextCenter mtl ${footerAlignClass}">
							<a href="$!languageslink" title="Switch to a different language" class="btn-flat grey capitalize">
								$!currentLocale.getDisplayLanguage($currentLocale)
							</a>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">

						<div class="row mbn">
							<div class="col l6 s12 sTextCenter">
								#set($_liclink = $utils.formatMessage("$!lang.get('license')",
								'<a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons</a>') )
								<i class="fa fa-creative-commons"></i> $_liclink
							</div>
							<div class="col l6 s12 sTextCenter ${footerAlignClass}">
								#if($showBranding)
									<span>This is a <a href="https://scoold.com"><b>Scoold</b></a> website powered by <a href="https://paraio.com">
										<img src="$imageslink/paradark.svg" width="60" alt="Para logo" class="para-logo-footer"></a>
									</span>
								#end
							</div>
						</div>

					</div>
				</div>
			</footer>
		</div>

		<div id="main-modal" class="modal">
			<div class="modal-content">
				#ajaxloading(false)
			</div>
			<div class="modal-footer">
				<a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">$!lang.get('close')</a>
			</div>
		</div>

		<script nonce="$cspNonce" src="$!scriptslink/jquery.min.js"></script>
		<script nonce="$cspNonce" src="$!scriptslink/diff_match_patch.js"></script>
		<script nonce="$cspNonce" src="$!scriptslink/materialize.min.js"></script>
		#if ($includeHighlightJS)
		<script nonce="$cspNonce" src="$!scriptslink/highlight.min.js"></script>
		#end
		<script nonce="$cspNonce" src="$!scriptslink/easymde.min.js"></script>
		<script nonce="$cspNonce" src="$!scriptslink/scoold.js"></script>

		#if ($request.getServletPath() == "/signin")
			#if($FB_APP_ID && !$FB_APP_ID.isEmpty())
			<script nonce="$cspNonce">
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=$FB_APP_ID";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
			#end
			<script nonce="$cspNonce" src="$!scriptslink/signin.js"></script>
			#if($GOOGLE_CLIENT_ID && !$GOOGLE_CLIENT_ID.isEmpty())
			<script nonce="$cspNonce">
				(function(d, s, id) {
					var js, gjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "https://apis.google.com/js/api:client.js";
					js.addEventListener('load', function (e) { gpLogin(); }, false);
					gjs.parentNode.insertBefore(js, gjs);
				}(document, 'script', 'google-jssdk'));
			</script>
			#end
		#end

		#if ($GOOGLE_ANALYTICS_ID && !$GOOGLE_ANALYTICS_ID.isEmpty() && $cookieConsentGiven)
		<script nonce="$cspNonce" src="https://www.googletagmanager.com/gtag/js?id=$!{GOOGLE_ANALYTICS_ID}" async></script>
		<script nonce="$cspNonce">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', GOOGLE_ANALYTICS_ID, { 'anonymize_ip': true });
		</script>
		#end
		#foreach($externalScript in $externalScripts.entrySet())
			#if($externalScript.getKey().startsWith("bypassconsent") || $cookieConsentGiven)
				<!-- External Script: $externalScript.key Begin -->
				#if($externalScript.value.startsWith("http"))
					<script nonce="$cspNonce" src="$externalScript.value"></script>
				#else
					#set($_extScript = $scooldUtils.base64DecodeScript($!externalScript.value) )
					<script nonce="$cspNonce">
						$!_extScript
					</script>
				#end
				<!-- External Script: $externalScript.key End -->
			#end
		#end
	</body>
</html>
