<div class="comment">
	#if(!$scooldUtils.isAjaxRequest($request))
		<h2>$!lang.get("comment.title")</h2>
	#end

	#if ($showComment)
		#commentbox($showComment)
	#elseif($commentslist && $commentslist.size() > 0)
		#paginate("comments" $itemcount "" "page" )
	#elseif(!$scooldUtils.isAjaxRequest($request))
		$!lang.get("search.notfound")
	#end
</div>