<div class="page-wrapper">
	#if ($write)
		<h2><a href="$feedbacklink">$!lang.get("feedback.title")</a></h2>

		<div class="ptl">
			<form method="post" action="$feedbacklink" id="write-feedback-form">
				#sectoken(false "CREATE_FEEDBACK")
				<div class="input-field mbl">
					#ico("paragraph" "pvm prefix grey-text")
					<label for="title_text">$!lang.get('posts.title')</label>
					<input type="text" id="title_text" name="title" class="validate" maxlength="255" minlength="2" required>
					#getmessagebox("red white-text" $error.get("title"))
				</div>

				#ico("pencil" "grey-text left width-14")
				<div class="pll mll emoji-picker-container">
					<textarea class="edit-post" name="body" maxlength="$MAX_TEXT_LENGTH" minlength="10"></textarea>
					#getmessagebox("red white-text" $error.get("body"))
				</div>

				<div class="input-field">
					#ico("tag" "grey-text prefix ptm")
					<div class="chips chips-autocomplete" title="$!lang.get('tags.title')"></div>
					<input type="hidden" name="tags" value="">
					<div class="pll mll">
						#getmessagebox("red white-text" $error.get("tags"))
					</div>
				</div>

				<div class="center pvl">
					<button class="btn btn-large mtl waves-effect waves-light" type="submit">
						#ico("paper-plane" "mhs")$!lang.get('post')
					</button>
				</div>
			</form>
		</div>
	#elseif ($showPost)
		<div class="row">
			<div class="col s12 l9">
				<div id="post-title" class="largeText">$!{showPost.title}</div>
				<hr>
				<div class="mbl pbl">
					#postbox($showPost $showPost)
				</div>
				#if ($answerslist && !$answerslist.isEmpty()) #set($hideAnswersHead = "") #else #set($hideAnswersHead = "hide")#end
				<div class="answers-head $!{hideAnswersHead}">
					#set($sortarr = {'votes': "", 'newest': ""} )
					#setsortbyselection($sortarr 'votes')
					<span class="right">
						<a href="$questionlink/$showPost.id/#stripstr($showPost.title)#sortorderparam('?' '')" title="Most voted answers"
							 class="chip $sortarr.votes">#sortordericon('') $!lang.get("votes")</a>
						<a href="$questionlink/$showPost.id/#stripstr($showPost.title)?sortby=newest#sortorderparam('&' 'newest')" title="Newest answers"
							 class="chip $sortarr.newest">#sortordericon("newest") $!lang.get("newest")</a>
					</span>
					<h4 class="grey-text">$!lang.get("answers.title") #showcount($itemcount.count)</h4>
				</div>

				#paginate("replies" $itemcount "" "page")

				#if ($authenticated && !$showPost.isClosed())
				<div class="pvl mbm">
					<form method="post" id="answer-question-form">
						#sectoken(false "CREATE_REPLY")
						<a id="write-post"></a>
						<h4 class="grey-text">
							#if ($showPost.isQuestion()) $!lang.get("posts.youranswer")#else$!lang.get("feedback.writereply")#end
						</h4>

						<textarea class="edit-post" name="body" maxlength="$MAX_TEXT_LENGTH" minlength="10"></textarea>
						#getmessagebox("red white-text" $error.get("body"))

						<input type="hidden" name="answer" value="true">
						<div class="center">
							<button class="btn btn-large mtl waves-effect waves-light" type="submit">
								#ico("paper-plane" "mhs")$!lang.get('post')
							</button>
						</div>
					</form>
				</div>
				#else
					<div class="mvl pvl center">
						<a href="$signinlink?returnto=$!returnto" rel="nofollow" class="btn waves-effect waves-light"
									 title="Reply">#ico("pencil" "") $!lang.get("feedback.writereply")</a>
					</div>
				#end
			</div>

			<div class="col m12 l3 s12">
				<div class="card-panel">
					<div class="mediumText pvs">
						#icon('<path d="M6 8C6 5.79 7.79 4 10 4S14 5.79 14 8 12.21 12 10 12 6 10.21 6 8M9.14 19.75L8.85 19L9.14 18.25C9.84 16.5 11.08 15.14 12.61 14.22C11.79 14.08 10.92 14 10 14C5.58 14 2 15.79 2 18V20H9.27C9.23 19.91 9.18 19.83 9.14 19.75M17 18C16.44 18 16 18.44 16 19S16.44 20 17 20 18 19.56 18 19 17.56 18 17 18M23 19C22.06 21.34 19.73 23 17 23S11.94 21.34 11 19C11.94 16.66 14.27 15 17 15S22.06 16.66 23 19M19.5 19C19.5 17.62 18.38 16.5 17 16.5S14.5 17.62 14.5 19 15.62 21.5 17 21.5 19.5 20.38 19.5 19Z" />' 'grey-text')
						<b>$!utils.abbreviateInt($!showPost.viewcount, 0)</b> $!lang.get('posts.views')
					</div>
					<div class="mediumText pvs">
						#icon('<path d="M15,4V11H5.17L4,12.17V4H15M16,2H3A1,1 0 0,0 2,3V17L6,13H16A1,1 0 0,0 17,12V3A1,1 0 0,0 16,2M21,6H19V15H6V17A1,1 0 0,0 7,18H18L22,22V7A1,1 0 0,0 21,6Z" />' 'grey-text')
						<b>$!showPost.answercount</b>
						#if($showPost.answercount == 1)$!lang.get('posts.answer')#else$!lang.get('answers.title')#end
					</div>
					<div class="mediumText pvs tooltipped" data-tooltip="$!lang.get('posts.posted')">
						#ico("clock-o" "grey-text") #formatdate($showPost.timestamp "")
					</div>
					#if($showPost.updated)
						<div class="mediumText pvs tooltipped" data-tooltip="$!lang.get('profile.about.lastseen')">
							#ico("pencil" "grey-text") #formatdate($showPost.updated "")
						</div>
					#end
					#if($showPost.location && !$showPost.location.isEmpty())
						<div class="mediumText pvs">#ico("map-marker" "grey-text")&nbsp; $!showPost.location</div>
					#end
					#if ($showPost.tags && !$showPost.tags.isEmpty())
						<div class="mediumText pvs">#ico("tag" "grey-text") $!lang.get('tags.title')</div>
						<div class="mtm">#tagsbox($showPost $questionslink)</div>
					#end
				</div>

				#if ($similarquestions && !$similarquestions.isEmpty())
					<div class="card-panel similar mbl mediumText">
						<div class="mbl">$!lang.get("posts.similar")</div>
						#foreach($showSimilar in $similarquestions)
							#set($plink = "#getpostlink($showSimilar false false)")
							<div>
								<small>#ico("caret-right" "grey-text")</small>
								<a href="$plink" class="smallText">$!showSimilar.title</a>
							</div>
						#end
					</div>
				#end
			</div>
		</div>
	#else
		#macro(feedbackTitle)
			#if ($tag)
				$!lang.get("feedback.tagged") '$!{tag}'
			#else
				$!lang.get("feedback.title") #showcount($itemcount.count)
			#end
		#end

		<h4 class="hide-on-large-only">#feedbackTitle()</h4>

		<div class="chips-container">
			#set($sortarr = {'votes': "", 'newest': "", 'updated': ""} )
			#setsortbyselection($sortarr 'newest')
			<a href="$feedbacklink#sortorderparam('?')" class="chip $sortarr.newest">#sortordericon() $!lang.get("newest")</a>
			<a href="$feedbacklink?sortby=votes#sortorderparam('&' 'votes')" class="chip $sortarr.votes">#sortordericon("votes") $!lang.get("votes")</a>
			<a href="$feedbacklink?sortby=updated#sortorderparam('&' 'updated')" class="chip $sortarr.updated">#sortordericon("updated") $!lang.get("posts.updated")</a>
		</div>

		<h2 class="hide-on-med-and-down">#feedbackTitle()</h2>

		#if($feedbacklist.isEmpty())
			<div class="card-panel hugeText center-align grey-text">
				<div class="em5v">
					$!{lang.get("search.notfound")}
				</div>
			</div>
		#else
			#paginate("feedback" $itemcount "" "page")
		#end

		<div class="center-align mvl">
			<a href="$feedbacklink/write" class="btn waves-effect waves-light"><b>$!{lang.get('feedback.write')}</b></a>
		</div>
	#end
</div>