<div class="page-wrapper">
	<h2>$!lang.get("translate.select")</h2>

	<div class="row">
		#foreach($entry in $allLocales.entrySet())
		<div class="col s12 m6 l3">
			#set($showLangKey = $entry.key)
			#set($showLangName = $!entry.value.getDisplayName($!entry.value))
			#set($progress = $!langProgressMap.getOrDefault($!entry.key, 0))

			#if ($showLangKey.equals($currentLocale.toString())) #set($selclass = "green white-text") #else #set($selclass = "") #end
				<div class="center-align">
					<form action="$languageslink/$!showLangKey" method="post">
						#sectoken(false)
						<button type="submit" class="btn-flat waves-effect waves-light card lang-button $!{selclass}">
							<span class="capitalize">$!showLangName</span>
						</button>
					</form>
				</div>
<!--				<div class="center-align">
					#if ($progress >= 90)
						<span class="chip green white-text" title="$!{progress}% translated">$!{progress}%</span>
					#else
						<span class="chip" title="$!{progress}% translated">$!{progress}%</span>
					#end
				</div>-->
		</div>
		#end
	</div>
</div>