#######################################################
##                                                   ##
##              COMMONLY USED MACROS                 ##
##                                                   ##
################# COMMENTS MACROS #####################
#macro(newcommentform $parentid $hidden $uri)
#if ($hidden) #set($hide = "hide") #else	#set($hide = "") #end
<div class="newcommentform mvm ${hide}">
	<form method="post" action="$commentlink" class="new-comment-form">
		##sectoken(false "ADD_COMMENT_$!parentid") ## BREAKS AJAX - NOT USED
		<div class="row">
			<div class="col s10">
				<div class="input-field">
					<input type="text" name="comment" value="" data-length="$!maxCommentLength" class="validate" required>
					<label data-error="$!maxCommentLengthError" data-success="&check;">$!lang.get('comment.title')</label>
				</div>
				<input type="hidden" name="parentid" value="$!parentid">
			</div>
			<div class="col s2 center">
				<button type="submit" class="btn waves-effect waves-light new-comment-btn">$!lang.get('add')</button>
			</div>
		</div>
	</form>
</div>
#end
###########################################
#macro(commentbox $showcomment)
#if ($showcomment == "")	#set($hide = "hide") #else #set($hide = "")	#end
<div class="commentbox pll smallText ${hide}">
	#if ($showcomment.hidden)
		#set($hidden = "hide")
		<span>$!lang.get("comments.hidden") &nbsp;</span>
		<a href="#" title="$!lang.get('comments.show')" class="show-comment">$!lang.get("comments.show")</a>
	#else
		#set($hidden = "noclass")
	#end

	<div class="mbs ${hidden}">
		#votebox($showcomment "left mrm pbs")
		<span class="comment-text">$!showcomment.comment</span>
		#set($commentAuthor = {'name': $!showcomment.authorName, 'id': $showcomment.creatorid})
		&mdash;
		<span class="comment-author">#personlink($commentAuthor)</span>&nbsp;
		<span class="comment-timestamp mrs grey-text"><i class="fa fa-clock-o"></i> #formatdate($showcomment.timestamp '')</span>
		#if ($showcomment == "")
			#getreportlink($showcomment "$commentlink/$!showcomment.id" "notext")
			<a href="$commentlink/$!showcomment.id/delete" title="$!lang.get('delete')"
				 class="delete-comment red-text">$!lang.get('delete')</a>
		#elseif ($authenticated && ($showcomment.creatorid == $authUser.id || $scooldUtils.isMod($authUser)))
			<a href="$commentlink/$!showcomment.id/delete" title="$!lang.get('delete')"
				 class="delete-comment red-text">$!lang.get('delete')</a>
		#else
			#getreportlink($showcomment "$commentlink/$!showcomment.id" "noicon")
		#end
	</div>
</div>
#end
####################################
#macro(commentspage $comments)
	#foreach($comment in $comments)
		#commentbox($comment)
	#end
#end
################# QUESTIONS MACROS #####################
#macro(tagsbox $tags $link)
	#foreach($showtag in $tags)
		#if ($showtag && $showtag.trim() != "")
			#if (!$link || $link.isEmpty())
			<span class="chip mrs">
				<i class="fa fa-tag grey-text"></i> $!showtag
			</span>
			#else
			<a href="$link/tag/$!utils.urlEncode($showtag)" title="Posts tagged $!showtag" class="chip mrs">
				<i class="fa fa-tag grey-text"></i> $!showtag
			</a>
			#end
		#end
	#end
#end
################# PAGINATION #####################
#macro(paginate $macroCode $pager $_rpath $pageparam)
#if($pager && $pager.count > 0)
	#if ($pager && $pager.page > 1000) #set($next = 1) #else #set($next = $pager.page + 1) #end
	#if(!$_rpath || $_rpath.isEmpty())
		#if($request.queryString)
			#set($_rpath = "$!{request.requestURI}?$!{request.queryString}")
		#else
			#set($_rpath = "$!{request.requestURI}")
		#end
	#end
	<div class="page-content">#evaluate($macroCode)</div>
	#if ($pager.count && $pager.count > $pager.limit && $macroCode && !$macroCode.trim().isEmpty())
	<div class="pages center mtl">
		#if ($_rpath.contains("?"))
			<a href="${_rpath}&${pageparam}=$!next" class="more-link pagelink chip" title="Load more">$!lang.get("more")</a>
		#else
			<a href="${_rpath}?${pageparam}=$!next" class="more-link pagelink chip" title="Load more">$!lang.get("more")</a>
		#end
		<span class="hide page-macro-code">$!macroCode</span>
		<span class="$!{next}"></span>
	</div>
	#end
#end
#end
####################################
#macro(smallpersonbox $showu)
<div class="row mbn userbox user-$!{showu.id}">
	<div class="col s4 m5 l3">
		#if ($showu)
			<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" title="$!showu.name">
				<img src="#profilepic($!showu)" width="50" class="profile-pic responsive-img">
			</a>
		#else
			<img src="https://www.gravatar.com/avatar/?size=50&d=mm" width="50" class="responsive-img" alt="Profile picture">
		#end
	</div>
	<div class="col s8 m7 l9">
		<div class="right">
			#if($showu && $showu.id)
				#set($contextboxid = $utils.generateSecurityToken(10, true))
				<a class="dropdown-trigger grey-text" href="#" data-target="$contextboxid"><i class="fa fa-ellipsis-v"></i></a>
				<ul id="${contextboxid}" class="dropdown-content">
					<li>#getreportlink($showu "$profilelink/$!showu.id" "")</li>
				</ul>
			#end
		</div>
		<div class="userbox-body">
			#if ($showu)
				<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" class="smallText">$showu.name</a>
			#else
				<span class="mediumText grey-text">$!lang.get("profile.deleted")</span>
			#end
			#if ($showu)
				<br>
				<span class="chip">$!utils.abbreviateInt($!showu.votes, 0)</span>
				#if($showu.badges && $showu.badgesMap && $showu.badgesMap.size() > 0)
					$showu.badgesMap.size() <i class="fa fa-star yellow-text text-darken-3"></i>
				#end
				#if ($showu.groups == "admins")
					<i class="fa fa-asterisk orange-text tooltipped" data-position="top" data-delay="0" data-tooltip="$!lang.get('admin')"></i>
				#end
				#if ($showu.groups == "mods")
					<i class="fa fa-dot-circle-o orange-text tooltipped" data-position="top" data-delay="0" data-tooltip="$!lang.get('mod')"></i>
				#end
			#end
		</div>
	</div>
</div>
#end
####################################
#macro(tinypersonbox $showu)
<div>
	#if ($showu)
		<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" title="$!showu.name [$!showu.votes]">
			<img src="#profilepic($!showu)" width="32" class="profile-pic responsive-img">
		</a>
	#else
		<img src="https://www.gravatar.com/avatar/?size=50&d=mm" width="32" class="responsive-img" alt="Profile picture">
	#end
</div>
#end
####################################
#macro(personlink $showu)
<span>
	#if ($showu && $showu.groups && !$showu.groups.isEmpty())
		#if($showu.badges && $showu.badgesMap && $showu.badgesMap.size() > 0)
			$showu.badgesMap.size() <i class="fa fa-star yellow-text text-darken-3"></i>
		#end
		#if ($showu.groups == "admins")
			<i class="fa fa-asterisk orange-text tooltipped" data-position="top" data-delay="0" data-tooltip="$!lang.get('admin')"></i>
		#end
		#if ($showu.groups == "mods")
			<i class="fa fa-dot-circle-o orange-text tooltipped" data-position="top" data-delay="0" data-tooltip="$!lang.get('mod')"></i>
		#end
	#end
	#if ($showu)
		#if ($showu.name)#set($seopsuffix = "/#stripstr($!showu.name)" )#else#set($seopsuffix = "" )#end
		<a href="$profilelink/$!{showu.id}$!{seosuffix}" title="Go to profile">$!showu.name</a>
	#else
		$!lang.get("profile.deleted")
	#end
</span>
#end
####################################
#macro(peoplepage $people)
	#foreach($showFriend in $people)
	<div class="col s12 m6 l4">
		<div class="card">
			<div class="row valign-wrapper user-card">
				<div class="col s4" title="$!showFriend.name">
					<a href="$profilelink/$!showFriend.creatorid/#stripstr($!showFriend.name)" title="$!showFriend.name">
						<img src="#profilepic($showFriend)" class="profile-pic responsive-img pts pls">
					</a>
				</div>
				<div class="col s8">
					#if(!($isAdmin && $request.getParameter("bulkedit")))
					<div class="right mrm">
						#set($contextboxid = $utils.generateSecurityToken(10, true))
						<a class="dropdown-trigger grey-text" href="#" data-target="$contextboxid"><i class="fa fa-ellipsis-v"></i></a>
						<ul id="${contextboxid}" class="dropdown-content">
							<li>#getreportlink($showFriend "$profilelink/$!showFriend.id" "")</li>
						</ul>
					</div>
					#end
					<div class="mediumText">
						#if($isAdmin && $request.getParameter("bulkedit"))
							<span class="grey-text l">
								<label for="$!showFriend.id">
									<input type="checkbox" name="selectedUsers" value="$!showFriend.id" class="filled-in" id="$!showFriend.id">
									<span>
										<a href="$profilelink/${showFriend.creatorid}/#stripstr($!showFriend.name)">$!{showFriend.name}</a>
									</span>
								</label>
							</span>
						#else
							<a href="$profilelink/${showFriend.creatorid}/#stripstr($!showFriend.name)">$!{showFriend.name}</a>
						#end
					</div>
					#if($isAdmin && $request.getParameter("bulkedit"))
						<div class="smallText">
							<i class="fa fa-th-large grey-text"></i>
							#if(!$showFriend.hasSpaces())default#end
							#foreach($space in $showFriend.spaces)
								#set($spaceString = $scooldUtils.getSpaceName($space))
								${spaceString}#if($foreach.count < $showFriend.spaces.size()),#end
							#end
						</div>
					#end
					<span class="chip mtm" title="$!lang.get('reputation')">$utils.abbreviateInt($!showFriend.votes, 0)</span>
					#if($showFriend.badges && $showFriend.badgesMap && $showFriend.badgesMap.size() > 0)
						$showFriend.badgesMap.size() <i class="fa fa-star yellow-text text-darken-3"></i>
					#end
					#if ($showFriend.groups == "admins")
					<i class="fa fa-asterisk orange-text mhs tooltipped" data-delay="0" data-tooltip="$!lang.get('admin')"></i>
					#end
					#if ($showFriend.groups == "mods")
					<i class="fa fa-dot-circle-o orange-text mhs tooltipped" data-delay="0" data-tooltip="$!lang.get('mod')"></i>
					#end
					#if(!($isAdmin && $request.getParameter("bulkedit")))
						<div class="grey-text r prl tooltipped" data-position="top" data-tooltip="$!{lang.get('profile.about.lastseen')}">
							<i class="fa fa-clock-o"></i> #formatdate($!{showFriend.lastseen} "")
						</div>
					#end
				</div>
			</div>
		</div>
	</div>
	#end
#end
####################################
#macro(getreportlink $reportable $link $clazz)
	#if ($reportable)
		#set($_href = "$reportslink/form?parentid=$!reportable.id&type=$!reportable.type")
		#if (!$link.isEmpty())
			#set($encodedLink = $utils.urlEncode($link))
			#set($_href = "${_href}&link=$encodedLink")
		#end
		#if ($clazz.contains("notext")) #set($_showtxt = "" ) #else #set($_showtxt = " $!lang.get('report')") #end
		<a href="#main-modal" title="Report a problem" data-fetch="$!{_href}" class="modal-trigger $!{clazz}">
			#if(!$clazz.contains("noicon"))<span class="fa fa-flag"></span>#end $!_showtxt
		</a>
	#end
#end
####################################
#macro(questionspage $posts )
	#foreach($post in $posts)
		#questionbox($post)
	#end
#end
####################################
#macro(questionbox $showpost )
#set($actionlink = "#getpostlink($showpost false true)")
#set($actionlink2 = "#getpostlink($showpost true true)")
#if($showpost.id == $request.getParameter("deleted"))
	#set($deleted = "hide")
#else
	#set($deleted = "")
#end
#if($authenticated && $showpost.followers && $showpost.followers.containsKey($authUser.user.id))
	#set($followedPostClass = "following-post")
#else
	#set($followedPostClass = "")
#end
<div id="$!showpost.id" class="card-panel ${followedPostClass} $!{deleted}">
	<div class="row mbn questionbox">
		#set($votes = $showpost.votes)
		#set($viewcount = $showpost.viewcount)
		#set($answercount = $showpost.answercount)
		#if (!$votes) #set($votes = 0) #end
		#if (!$viewcount) #set($viewcount = 0) #end
		#if (!$answercount) #set($answercount = 0) #end

		#if ($showpost.answerid && !$showpost.answerid.isEmpty())
			#set($bgclass = "light-green white-text" )
		#else
			#set($bgclass = "orange lighten-5" )
		#end

		#if ($votes < 0)
			#set($bgclass1 = "red lighten-2 white-text" )
		#elseif($votes >= 100)
			#set($bgclass1 = "yellow lighten-3" )
		#else
			#set($bgclass1 = "" )
		#end
		<div class="col m2 l1 center-align hide-on-med-and-down">
			<div class="qstatsbox">
				<div class="largeText lightborder tooltipped $!{bgclass1}" data-tooltip="$!lang.get('votes')">$!utils.abbreviateInt($!votes, 0)</div>
				<div class="mvs lightborder tooltipped $!{bgclass}" data-tooltip="$!lang.get('answers.title')">$utils.abbreviateInt($!answercount, 0)</div>
				<div class="mvs lightborder tooltipped" data-tooltip="$!lang.get('posts.views')">$utils.abbreviateInt($!viewcount, 0)
					<small class="hide-on-med-and-down">$!lang.get('posts.views')</small>
				</div>
			</div>
		</div>
		<div class="col s12 l11">
			<div class="qstatsbox hide-on-large-only">
				<span class="lightborder phm tooltipped $!{bgclass1}" data-tooltip="$!lang.get('votes')">$!utils.abbreviateInt($!votes, 0)</span>
				<span class="mvs phm lightborder tooltipped $!{bgclass}" data-tooltip="$!lang.get('answers.title')">$utils.abbreviateInt($!answercount, 0)</span>
				<span class="mvs phm lightborder tooltipped" data-tooltip="$!lang.get('posts.views')">$utils.abbreviateInt($!viewcount, 0)
					<small>$!lang.get('posts.views')</small>
				</span>
			</div>
			<div class="row mbn">
				<div class="col s10 m11 l9">
					<div class="mbm mediumText">
						<a href="$!actionlink/$showpost.id/#stripstr($!showpost.title)" class="mediumText">$!showpost.title</a>
					</div>
					<div class="mbs">
						#set($showBody = $utils.stripHtml($utils.markdownToHtml($utils.stripHtml($!showpost.body))) )
						<div>$!utils.abbreviate($showBody, 160)</div>
					</div>
				</div>
				<div class="col s2 m1 l3">
					#if(!$request.requestURI.startsWith("/profile"))
						<div class=" hide-on-med-and-down">
							#smallpersonbox($showpost.author)
						</div>
						<div class="hide-on-large-only">
							#tinypersonbox($showpost.author)
						</div>
					#end
				</div>
			</div>
			<div class="row mbn">
				<div class="col m10">
					<div>#tagsbox($showpost.tags $actionlink2)</div>
				</div>
				<div class="col m2 mlm grey-text r">
					<i class="fa fa-clock-o"></i>	#formatdate($showpost.timestamp "")
				</div>
			</div>
		</div>
	</div>
</div>
#end
####################################
#macro(compactanswerspage $answers)
	#foreach($answer in $answers)
		<div class="card-panel">
			<div class="row mbn compactanswerbox">
				<div class="col s10 m11 l9 columns">
					<span class="lightborder phm mrm">$!answer.votes</span>
					<span>
						<a href="$questionlink/$answer.parentid#post-$!answer.id" title="View answer">$!answer.title</a>
					</span>
					#if(!$request.requestURI.startsWith("/profile"))
						<div>
								$!utils.abbreviate($answer.body, 200).replaceAll('\s', ' ')
						</div>
					#end
				</div>
				<div class="col s2 m1 l3 columns">
					#if(!$request.requestURI.startsWith("/profile"))
						<div class="r">
							#tinypersonbox($answer.author)
						</div>
					#end
					<div class="grey-text r">
						<i class="fa fa-clock-o"></i> #formatdate($answer.timestamp "")
					</div>
				</div>
			</div>
		</div>
	#end
#end
####################################
#macro(answerspage $answers $parentpost)
	#foreach($answer in $answers)
		#postbox($answer $parentpost)
	#end
#end
####################################
#macro(postbox $showpost $parentpost)
#set($actionlink = "#getpostlink($showpost false true)")
<div id="$!showpost.id" class="postbox $!{showpost.type}box">
	#if($showpost.isReply())<hr>#end
	<div id="post-$!showpost.id" class="viewbox mbm">
		<div class="postbody pvs">
			#set($_bodyHtml = $utils.markdownToHtml($!showpost.body))
			$!{_bodyHtml}
		</div>

		<div class="row">
			<div class="col s12 m4 l4">
				<div class="left mtm mrl">
					#set($approvedAnswer = $showpost.id.equals($parentpost.answerid))
					#if ($approvedAnswer)	#set($onclass = "green-text text-lighten-1") #else #set($onclass = "") #end
					#if ($authenticated && $showpost.isReply() && $parentpost.creatorid.equals($authUser.id))
						<a href="$questionlink/$!parentpost.id/approve/$!showpost.id" class="approve-answer $!{onclass}"
							 title="Approve answer"><i class="fa fa-check-circle fa-3x"></i></a>
					#elseif ($approvedAnswer)
						<span class="green-text"><i class="fa fa-check-circle fa-3x"></i></span>
					#end
				</div>
				#votebox($showpost "hugeText mtm")
			</div>
			<div class="col s12 m3 l4">
				<div class="ptl center-align">
					<div>$!lang.get("posts.posted") #formatdate($showpost.timestamp "")</div>
					#if ($showpost.lasteditby)
					<a href="$revisionslink/$!showpost.id" title="Revision history">
						$!lang.get("posts.edited") #formatdate($showpost.lastedited "")
					</a>
					#end
				</div>
			</div>
			<div class="col s12 m5 l4">
				<div class="pam">
					#smallpersonbox($showpost.author)
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="lightborder pam">
					<a href="#post-$!showpost.id" title="Permalink" class="right permalink"><i class="fa fa-bookmark"></i></a>

					#if ($scooldUtils.canEdit($showpost, $authUser))
						<a href="#" title="Edit" class="editlink prm"><i class="fa fa-pencil-square"></i> $!lang.get("edit")</a>
					#end

					#if (($authenticated && $showpost.creatorid == $authUser.id) || $scooldUtils.isMod($authUser))
						<a href="$!actionlink/$showpost.id/delete" class="delete-post red-text prm" title="Delete"><i class="fa fa-times"></i> $!lang.get("delete")</a>
					#end

					#if ($canComment && !$showpost.isFeedback())
						<a href="#" title="Add a comment" class="next-div-toggle prm"><i class="fa fa-commenting"></i> $!lang.get("comments.write")</a>
					#end

					#if ($showpost.lasteditby)
					<a href="$revisionslink/$!showpost.id" title="Revision history" class="prm"><i class="fa fa-th-list"></i> $!lang.get("revisions.title")</a>
					#end

					#if ($scooldUtils.isMod($authUser) && $showpost.isQuestion())
						#if ($parentpost.isClosed())
						<a href="$!actionlink/$showpost.id/close" title="Reopen" class="post-refresh prm"><i class="fa fa-unlock"></i> $!lang.get("reopen")</a>
						#else
						<a href="$!actionlink/$showpost.id/close" title="Close" class="post-refresh-ask prm"><i class="fa fa-lock"></i> $!lang.get("close")</a>
						#end
					#end

					#if (!$authenticated || ($authenticated && $showpost.creatorid != $authUser.id))
						#getreportlink($showpost "$questionlink/$!showpost.id" "prm")
					#end

					#if ($canComment)
						#newcommentform($showpost.id true "$questionlink/$showpost.id")
					#end
				</div>
			</div>
		</div>
	</div>

	#if ($scooldUtils.canEdit($showpost, $authUser))
	<div class="editbox pvm hide">
		<form method="post" action="$questionlink/$!showpost.id/edit">
			#sectoken(false "EDIT_POST_$!showpost.id")

			#if(!$showpost.isReply())
				<div class="input-field">
					<i class="fa fa-paragraph pvm prefix grey-text"></i>
					<label for="title_text">$!lang.get('posts.title')</label>
					<input type="text" id="title_text" name="title" class="validate" length="255" minlength="6"
								 value="$!showpost.title" required>
					#getmessagebox("red white-text" $error.get("title"))
				</div>
			#end

			<i class="fa fa-pencil fa-2x left grey-text"></i>
			<div class="pll mll">
				<textarea class="edit-post" name="body" length="$MAX_TEXT_LENGTH" minlength="10">$!showpost.body</textarea>
				#getmessagebox("red white-text" $error.get("body"))
			</div>

			#if(!$showpost.isReply())
				<div class="input-field">
					<i class="fa fa-tag fa-2x grey-text prefix ptm"></i>
					<div class="chips chips-autocomplete" title="$!lang.get('tags.title')"></div>
					<input type="hidden" name="tags" value="$!showpost.tagsString">
					#getmessagebox("red white-text" $error.get("tags"))
				</div>

				#if($authUser.hasSpaces() || $isMod)
					<div class="input-field">
						<i class="fa fa-th-large fa-2x prefix grey-text"></i>
						<div class="mll pll">
							<select name="space" class="browser-default pll">
								#set($selectedPostSpace = $!scooldUtils.getSpaceName($!showpost.space))
								<option value="$!showpost.space" disabled selected>#if($selectedPostSpace.isEmpty())Default space#else $!selectedPostSpace #end</option>
								#if($scooldUtils.canAccessSpace($authUser, ""))
									<option value="">Default space</option>
								#end
								#foreach($space in $authUser.spaces)
									<option value="$!space">$!scooldUtils.getSpaceName($space)</option>
								#end
							</select>
						</div>
					</div>
					#getmessagebox("red white-text" $error.get("space"))
				#end
			#end

			<br>
			<div class="mts mbl">
				<button class="btn waves-effect waves-light" type="submit">
					<i class="fa fa-save left"></i> $!lang.get('save')
				</button> &nbsp;
				<button class="btn waves-effect waves-light canceledit">$!lang.get('close')</button>
			</div>
		</form>
	</div>
	#end

	<div class="comments post-comments">
		#paginate("\#commentspage(\$showpost.comments)" $showpost.itemcount "$commentlink?getcomments=true&parentid=$showpost.id" "page")
	</div>
</div>
#end
###################################
#macro(translationspage $translations)
	#foreach($trans in $translations)
		#translationbox($trans)
	#end
#end
###################################
#macro(translationbox $showtrans)
<div class="card-panel translationbox">
	<div class="row">
		<div class="col m1">
			#votebox($showtrans "mediumText")
		</div>
		<div class="col m7 trans-value">
			<span class="mediumText">$!showtrans.value</span> <br>
			<i class="fa fa-user-circle grey-text"></i> $!showtrans.authorName
			<span class="grey-text trans-timestamp"><i class="fa fa-clock-o"></i> #formatdate($showtrans.timestamp '')</span>
		</div>
		<div class="col m4 mediumText r">
			#if ($authenticated && ($showtrans.creatorid == $authUser.id || $isAdmin))
				#if ($isAdmin)
					#if ($showtrans.approved)#set($onclass = "green-text")#else#set($onclass = "")#end
					<a href="$translatelink/approve/$!{showtrans.id}" class="approve-translation $!{onclass}" title="Toogle approved status">
						<i class="fa fa-check-circle"></i>#if ($showtrans.approved) Approved #else Approve #end
					</a>
					&nbsp;
				#end
				<a href="$translatelink/delete/$!{showtrans.id}" title="Delete" class="delete-translation red-text mll">
					<i class="fa fa-times"></i> $!lang.get('delete')
				</a>
			#else
				#getreportlink($showtrans "$translatelink/$!showtrans.id" "notext")
			#end
		</div>
	</div>
</div>
#end
###################################
#macro(badgebox $showbadge $num)
#set($badgeinfo = $!lang.get("about.badges.$showbadge") )
<span class="chip" title="$!badgeinfo">
	<span class="fa fa-star yellow-text text-darken-3"></span>
	#if ($num && $num > 1) $!lang.get("$showbadge") <sup>$num</sup> #else $!lang.get("$showbadge") #end
</span>
#end
###################################
#macro(showcount $param )
	#if ($param && $param > 1)
	<small class="grey-text">$!param</small>
	#end
#end
################# MISC MACROS #####################
#macro(votebox $votable $sizeClass)
	#if ($votable)
		<div class="votebox ${sizeClass}">
			#if($votable.votes && $votable.votes != 0)#set($_vvotes = $votable.votes)#else#set($_vvotes = "&nbsp;&nbsp;")#end
			#if (!$authenticated)
				<a href="${signinlink}?returnto=$!{returnto}">
					<i class="fa fa-chevron-up upvote grey-text mrs" title="Vote up"></i>
				</a>
				<a href="${signinlink}?returnto=$!{returnto}">
					<i class="fa fa-chevron-down downvote grey-text mrs" title="Vote down"></i>
				</a>
			#elseif($authenticated && $votable.creatorid == $authUser.id)
				<i class="fa fa-chevron-up upvote grey-text mrs" title="Vote up"></i>
				<i class="fa fa-chevron-down downvote grey-text mrs" title="Vote down"></i>
			#else
				<a href="$voteuplink/$!votable.type/$!votable.id" class="upvote votelink" title="Vote up">
					<i class="fa fa-chevron-up upvote mrs" title="Vote up"></i>
				</a>
				<a href="$votedownlink/$!votable.type/$!votable.id" class="downvote votelink" title="Vote down">
					<i class="fa fa-chevron-down downvote mrs" title="Vote down"></i>
				</a>
			#end
			<span class="votecount">$!_vvotes</span>
		</div>
	#end
#end
###################################
#macro(formvc $ctype)
<input type="hidden" name="vc" value="#$!{ctype}box(\$obj)">
#end
###################################
#macro(formvj $ctype $fields)
<input type="hidden" name="vj" value="$!{utils.getJSONValidationObject($ctype, $fields, $lang)}" disabled="disabled">
#end
#####################################
#macro(formatdate $date $format)
#if ($date && !$format.trim().isEmpty())
$utils.formatDate($date, $format, $currentLocale)
#elseif ($date)
#set($delta = $utils.timestamp() - $date)
#set($approxtime = $utils.humanTime.approximately($delta))
#if (!$approxtime || $approxtime.isEmpty() || $approxtime.endsWith("ms")) #set($approxtime = "2s") #end
#set($lastindx = $approxtime.length() - 1 )
#set($suffix = $approxtime.substring($lastindx))
#set($approx = $approxtime.substring(0, $lastindx))
#set($sufstr = "humantime.$suffix" )
<span title="$utils.formatDate($date, 'dd MMMM yyyy, HH:mm', $currentLocale)">
	$!utils.formatMessage($!lang.get($!sufstr), $!approx)
</span>
#end
#end
#####################################
#macro(reportform $type $parentid $link)
<form method="post" class="create-report-form pal" action="$reportslink">
	#sectoken(false)
	<h3>$!lang.get("reportproblem")</h3>
	<div class="ptl mvl">
		<label class="blocklabel">$!lang.get("reports.category")</label>
		<select name="subType">
			#foreach($type in $reportTypes)
			#if ($type.name() == "OTHER")
			<option selected="selected" value="$!type.name()">$!lang.get("reports.$type.toString()")</option>
			#else
			<option value="$!type.name()">$!lang.get("reports.$type.toString()")</option>
			#end
			#end
		</select>
		<div class="input-field">
			<label>$!lang.get("reports.description")</label>
			<textarea name="description" class="materialize-textarea"></textarea>
		</div>
		<input type="hidden" name="parentid" value="$!parentid">
		#if ($link && !$link.isEmpty())
		<input type="hidden" name="link" value="$!link">
		#end
	</div>
	<br>
	<div class="center mtl ptl">
		<button id="sendreport-btn" type="submit" class="btn waves-effect waves-light">$!lang.get('send')</button>
		<a href="#main-modal" class="btn-flat waves-effect waves-light modal-action modal-close">$!lang.get('close')</a>
	</div>
</form>
#end
#####################################
#macro(getmessagebox $class $text)
#if($text && !$text.isEmpty())
	<div class="chip phl ${class}">
		<i class="fa fa-close close"></i>
		<div class="msg mrl left">#if($text == "") &nbsp; #else $text #end</div>
	</div>
#end
#end
#####################################
#macro(getpostlink $p $plural $noid)$!{request.contextPath}$p.getPostLink($plural, $noid)#end
#####################################
#macro(ajaxloading $hide)
#if ($hide) #set($hidden = "hide") #else #set($hidden = "") #end
<div class="progress ajaxwait $!{hidden}"><div class="indeterminate"></div></div>
#end
#####################################
#macro(profilepic $user)#if($user && $user.picture.matches("^(http:|https:|data:).*"))$!{user.picture}#else https://www.gravatar.com/avatar/?size=350&d=mm #end#end
#####################################
#macro(infostrip )
	#if ($request.getParameter("success"))
		#set($infoStripClass = "green white-text")
	#elseif ($request.getParameter("error"))
		#set($infoStripClass = "red white-text")
	#else
		#set($infoStripClass = "")
	#end

	#if ($badgelist && !$badgelist.isEmpty())
		#if ($badgelist.size() > 1)
			#set($infoStripMsg = $!lang.get("newbadges"))
		#else
			#set($infoStripMsg = $!lang.get("newbadge"))
		#end
	#elseif ($request.getParameter("code"))
		#set($infoStripMsg = $!lang.get("msgcode.${request.getParameter('code')}"))
	#end

	#if (!$infoStripMsg || $infoStripMsg.trim().isEmpty())
		#set($hideInfoStrip = "hide")
	#else
		#set($hideInfoStrip = "")
	#end

	<noscript>
		<div class="infostrip errorBox pvm center">
			<i class="fa fa-warning"></i> $!{lang.get("nojavascript")}
		</div>
	</noscript>
	<div class="card-panel infostrip center click2hide ${hideInfoStrip} ${infoStripClass}">
		#set($_infoStripMsg = $infoStripMsg )
		<span class="mediumText">
			$!_infoStripMsg
			#if (!$badgelist.isEmpty())
				#foreach($badge in $badgelist)
					#badgebox($badge 0)
				#end
			#end
		</span>
	</div>
#end
#####################################
#macro(stripstr $str )$!utils.urlEncode($!utils.noSpaces($!utils.stripAndTrim($str, " "), "-"))#end
#####################################
#macro(setsortbyselection $paramMap $defkey )
#set($sbparam = $request.getParameter("sortby")) #set($sbclazz = "grey darken-2 white-text" )
#if ($sbparam && !$sbparam.isEmpty()) #set($paramMap[$sbparam] = $sbclazz) #else #set($paramMap[$defkey] = $sbclazz) #end
#end
#####################################
#macro(sectoken $bare $formId)
	#set($seccsrfkey = "${TOKEN_PREFIX}CSRF")
	#if ($bare && $bare == true)
		$!request.session.getAttribute($!seccsrfkey)
	#else
		<input type="hidden" name="_csrf" value="$!request.session.getAttribute($!seccsrfkey)">
		#if($formId && !$formId.isEmpty())
			#if(!$request.session.getAttribute("${TOKEN_PREFIX}$!formId"))
				$request.session.setAttribute("${TOKEN_PREFIX}$!formId", $utils.timestamp())
			#end
			<input type="hidden" name="_time" value='$!request.session.getAttribute("${TOKEN_PREFIX}$!formId")'>
			<input type="hidden" name="_timekey" value="${TOKEN_PREFIX}$!formId">
		#end
	#end
#end
################# END MACROS ###################################################

