#######################################################
##                                                   ##
##              COMMONLY USED MACROS                 ##
##                                                   ##
################# COMMENTS MACROS #####################
#macro(newcommentform $parentid $hidden $uri)
#if ($hidden) #set($hide = "hide") #else	#set($hide = "") #end
<div class="newcommentform mtm ${hide}">
	<form method="post" action="$commentlink" class="new-comment-form">
		##sectoken(false "ADD_COMMENT_$!parentid") ## BREAKS AJAX - NOT USED
		<div class="row mbn">
			<div class="col s10">
				<div class="input-field mvn">
					#set($maxplus1 = $!maxCommentLength + 1)
					<label for="new-comment-$!{parentid}">$!lang.get('comment.title')
						<span class="grey-text mhs"><i class="fa fa-info-circle"></i> Markdown can be used here, e.g.
						<b>[link](http://url.com)</b> <b>`code`</b> <b>**bold**</b> <b>*italic*</b></span>
					</label>
					<input id="new-comment-$!{parentid}" type="text" name="comment" value=""
								 data-length="$!maxCommentLength" maxlength="$!maxplus1" class="validate charcounter" required>
					<span class="helper-text" data-error="$!maxCommentLengthError"></span>
				</div>
				<input type="hidden" name="parentid" value="$!parentid">
			</div>
			<div class="col s2 center">
				<button type="submit" class="btn waves-effect waves-light new-comment-btn">$!lang.get('add')</button>
			</div>
		</div>
	</form>
</div>
#end
###########################################
#macro(commentbox $showcomment)
#if ($showcomment == "")	#set($hide = "hide") #else #set($hide = "")	#end
<div class="commentbox pll smallText ${hide}">
	#if ($showcomment.hidden)
		#set($hidden = "hide")
		<span>$!lang.get("comments.hidden") &nbsp;</span>
		<a href="#" title="$!lang.get('comments.show')" class="show-comment">$!lang.get("comments.show")</a>
	#else
		#set($hidden = "noclass")
	#end

	<div class="mbs ${hidden}">
		#votebox($showcomment "left mrm pbs")
		#set($_commentHtml = $utils.markdownToHtml($!showcomment.comment))
		<div class="comment-text">$!{_commentHtml}</div>
		#set($commentAuthor = {'name': $!showcomment.authorName, 'id': $showcomment.creatorid})
		&mdash;
		<span class="comment-author">#personlink($commentAuthor)</span>&nbsp;
		<span class="comment-timestamp mrs grey-text"><i class="fa fa-clock-o"></i> #formatdate($showcomment.timestamp '')</span>
		#if ($showcomment == "")
			#getreportlink($showcomment "$commentlink/$!showcomment.id" "notext")
			<a href="$commentlink/$!showcomment.id/delete" title="$!lang.get('delete')"
				 class="delete-comment red-text">$!lang.get('delete')</a>
		#elseif ($authenticated && ($showcomment.creatorid == $authUser.id || $scooldUtils.isMod($authUser)))
			<a href="$commentlink/$!showcomment.id/delete" title="$!lang.get('delete')"
				 class="delete-comment red-text">$!lang.get('delete')</a>
		#else
			#getreportlink($showcomment "$commentlink/$!showcomment.id" "noicon")
		#end
	</div>
</div>
#end
####################################
#macro(commentspage $comments)
	#foreach($comment in $comments)
		#commentbox($comment)
	#end
#end
####################################
#macro(simplecommentbox $showcomment)
<div class="commentbox ${hide}">
	<div class="card-panel mbs">
		<span class="lightborder phm mrm">$!showcomment.votes</span>
		#set($_commentHtml = $utils.markdownToHtml($!showcomment.comment))
		<a href="$questionlink/$showcomment.parentid" title="View answer"><div class="comment-text">$!{_commentHtml}</div></a>
		#set($commentAuthor = {'name': $!showcomment.authorName, 'id': $showcomment.creatorid})
		&mdash;
		<span class="comment-author">#personlink($commentAuthor)</span>&nbsp;
		<span class="comment-timestamp mrs grey-text right"><i class="fa fa-clock-o"></i> #formatdate($showcomment.timestamp '')</span>
	</div>
</div>
#end
####################################
#macro(simplecommentspage $comments)
	#foreach($comment in $comments)
		#simplecommentbox($comment)
	#end
#end
####################################
#macro(spacebox $space )
<div class="col s12 m6 l3 spacebox">
	<div class="card-panel z-depth-0 lightborder">
		<div class="row mbn viewbox valign-wrapper">
			<div class="col s12 m8 columns">
				<a href="$questionslink/space/$!space.id" class="mediumText space-name-box" title="$!{spaceName}">$!space.name</a>
			</div>
			<div class="col s12 m4 columns right-align">
				<a href="#" title="$!lang.get('edit')" class="editlink"><i class="fa fa-pencil-square orange-text"></i></a>
			</div>
		</div>
		<div class="row mbn hide editbox">
			<form method="post" action="$adminlink/rename-space" class="space-rename-form">
				<div class="">
					<div class="input-field">
						<label for="new-space-${space.id}">$!lang.get('name')</label>
						<input type="text" id="new-space-${space.id}" name="newspace" class="validate" value="$!space.name" required>
						<input type="hidden" name="space" class="validate" value="$!space.id">
					</div>
				</div>
				<div class="">
					<a href="$adminlink/remove-space?space=$!space.id"
						 class="red-text right mts delete-space">$!lang.get('delete')</a>
					<button class="btn waves-effect waves-light" type="submit">$!lang.get('save')</button>
				</div>
			</form>
		</div>
	</div>
</div>
#end
####################################
#macro(spacespage $spaces )
	#foreach($space in $spaces)
		#spacebox($space)
	#end
#end
####################################
#macro(spacelabel $currentSpace)
<p class="mediumText grey-text bookmark-spaceurl">
	#if($scooldUtils.isAllSpaces($currentSpace))
		$!lang.get('allspaces')
	#else
		$scooldUtils.getSpaceName($!currentSpace)
	#end
	<a href="$questionslink/space/$scooldUtils.getSpaceId($!currentSpace)"
		 class="hide tooltipped" data-tooltip="Copy link"><i class="fa fa-bookmark-o"></i></a>
</p>
#end
####################################
#macro(webhookbox $webhook )
<div class="col s12 webhookbox">
	<div class="card-panel">
		<a href="$adminlink/delete-webhook?id=$!webhook.id" class="red-text right tooltipped pts delete-webhook"
			 data-tooltip="$!lang.get('delete')"><i class="fa fa-times fa-lg"></i></a>
		<div class="mediumText">
			#if($webhook.active)#set($showActiveWebhook = "")#else #set($showActiveWebhook = "hide")#end
			#if(!$webhook.active)#set($showInactiveWebhook = "")#else #set($showInactiveWebhook = "hide")#end
			<a href="$adminlink/toggle-webhook?id=$!webhook.id" class="tooltipped toggle-webhook ${showActiveWebhook}" data-tooltip="Deactivate"><i class="fa fa-circle green-text"></i></a>
			<a href="$adminlink/toggle-webhook?id=$!webhook.id" class="tooltipped toggle-webhook ${showInactiveWebhook}" data-tooltip="Activate"><i class="fa fa-circle red-text"></i></a>
			<span class="mrm">$!webhook.targetUrl</span>
			#if($webhook.create)
				<span class="chip"><code>create</code></span>
			#end
			#if($webhook.update)
				<span class="chip"><code>update</code></span>
			#end
			#if($webhook.delete)
				<span class="chip"><code>delete</code></span>
			#end
			#if($webhook.createAll)
				<span class="chip"><code>createAll</code></span>
			#end
			#if($webhook.updateAll)
				<span class="chip"><code>updateAll</code></span>
			#end
			#if($webhook.deleteAll)
				<span class="chip"><code>deleteAll</code></span>
			#end
			#if($webhook.typeFilter)
				<span class="chip"><code><i class="fa fa-filter gray"></i> $!webhook.typeFilter</code></span>
			#end
			#foreach($event in $webhook.customEvents)
				<span class="chip"><code>$!event</code></span>
			#end
			#if(!$webhook.urlEncoded)
				<span class="chip" title="application/json"><code>{JSON}</code></span>
			#end
			<span class="chip">
				<a href="#" class="next-span-toggle click2hide"><i class="fa fa-key"></i></a>
				<span class="hide"><i class="fa fa-key"></i> <code>$!webhook.secret</code></span>
			</span>
			#if($webhook.tooManyFailures)
				<div class="red-text">
					<i class="fa fa-exclamation-circle"></i> Webhook was disabled due to too many failed delivery attempts.
				</div>
			#end
		</div>
	</div>
</div>
#end
####################################
#macro(webhookspage $webhooks )
	#foreach($webhook in $webhooks)
		#webhookbox($webhook)
	#end
#end
################# QUESTIONS MACROS #####################
#macro(tagsbox $post $link)
	#set($tags = $post.tags)
	#if($post.answerid)
	<a href="$questionslink?sortby=properties.answerid" title="Posts with approved answer" class="chip mrs light-green white-text">
		<i class="fa fa-check-circle"></i> $!lang.get('posts.answered')
	</a>
	#end
	#foreach($showtag in $tags)
		#if ($showtag && $showtag.trim() != "")
			#if (!$link || $link.isEmpty())
			<span class="chip mrs">$!showtag</span>
			#else
			<a href="$link/tag/$!utils.urlEncode($showtag)" title="Posts tagged $!showtag" class="chip mrs">$!showtag</a>
			#end
		#end
	#end
#end
################# PAGINATION #####################
#macro(paginate $macroCode $pager $_rpath $pageparam)
#if($pager && $pager.count > 0)
	#if ($pager.page <= 1)
		#set($prev = 1)
	#else
		#set($prev = $pager.page - 1)
	#end
	#if(!$_rpath || $_rpath.isEmpty() || $_rpath.startsWith("#"))
		#set($hashSuffix = "$!_rpath" )
		#if($request.queryString)
			#set($_rpath = "$!{request.requestURI}?$!{request.queryString}")
		#else
			#set($_rpath = "$!{request.requestURI}")
		#end
	#end
	#set($rexp = "${pageparam}=(\d+|&amp;)+")
	#set($_rpath = $_rpath.replaceAll($rexp, ""))
	#set($_rpath = $_rpath.replaceAll("(&amp;|&|\?)$", ""))
	<div class="page-content">#evaluate($scooldUtils.getMacroCode($macroCode))</div>
	#if ($_rpath.contains("?"))#set($paramseparator = "&")#else #set($paramseparator = "?")#end
	#if ($pager.count > $pager.limit && $macroCode && !$macroCode.trim().isEmpty())
		<div class="pages center mvm">
			#if($numericPaginationEnabled && $macroCode != "postcomments")
				#set($maxPageLinks = 7)
				#set($activeClass = "active light-blue")
				#set($pageCount = ($pager.count / $pager.limit))
				#if($pager.count % $pager.limit > 0) #set($pageCount = $pageCount + 1) #end
				#if($pageCount > $MAX_PAGES)#set($pageCount = $MAX_PAGES)#end
				#if ($pager.page >= $pageCount) #set($next = 1) #else #set($next = $pager.page + 1) #end
				<ul class="pagination ptl">
					<li><a href="${_rpath}${paramseparator}${pageparam}=$!prev$!hashSuffix"><i class="fa fa-chevron-left grey-text"></i></a></li>
					#if($pager.page <= $maxPageLinks)
						#set($startPage = 1)
						#if($pageCount < $maxPageLinks)#set($endPage = $pageCount)#else#set($endPage = $maxPageLinks)#end
						#foreach($page in [$startPage..$endPage])
							#if($page == $pager.page)#set($currPage = $activeClass)#else#set($currPage = "")#end
							<li class="waves-effect ${currPage}"><a href="${_rpath}${paramseparator}${pageparam}=$!page$!hashSuffix">$!page</a></li>
						#end
						#if($pageCount > $maxPageLinks)
							<i class="fa fa-ellipsis-h pvm phm"></i>
							#if($pageCount == $pager.page)#set($currPage = $activeClass)#else#set($currPage = "")#end
							<li class="waves-effect ${currPage}"><a href="${_rpath}${paramseparator}${pageparam}=$pageCount$!hashSuffix">$pageCount</a></li>
						#end
					#elseif($pager.page > $maxPageLinks && $pager.page < ($pageCount - $maxPageLinks))
						#set($startPage = $pager.page - ($maxPageLinks / 2))
						#set($endPage = $pager.page + ($maxPageLinks / 2))
						#if(1 == $pager.page)#set($currPage = $activeClass)#else#set($currPage = "")#end
						<li class="waves-effect ${currPage}"><a href="${_rpath}${paramseparator}${pageparam}=1$!hashSuffix">1</a></li>
						<i class="fa fa-ellipsis-h pvm phm"></i>
						#foreach($page in [$startPage..$endPage])
							#if($page == $pager.page)#set($currPage = $activeClass)#else#set($currPage = "")#end
							<li class="waves-effect ${currPage}"><a href="${_rpath}${paramseparator}${pageparam}=$!page$!hashSuffix">$!page</a></li>
						#end
						<i class="fa fa-ellipsis-h pvm phm"></i>
						#if($pageCount == $pager.page)#set($currPage = $activeClass)#else#set($currPage = "")#end
						<li class="waves-effect ${currPage}"><a href="${_rpath}${paramseparator}${pageparam}=$pageCount$!hashSuffix">$pageCount</a></li>
					#else
						#if(1 == $pager.page)#set($currPage = $activeClass)#else#set($currPage = "")#end
						<li class="waves-effect ${currPage}"><a href="${_rpath}${paramseparator}${pageparam}=1$!hashSuffix">1</a></li>
						<i class="fa fa-ellipsis-h pvm phm"></i>
						#set($startPage = $pageCount - $maxPageLinks)
						#set($endPage = $pageCount)
						#foreach($page in [$startPage..$endPage])
							#if($page == $pager.page)#set($currPage = $activeClass)#else#set($currPage = "")#end
							<li class="waves-effect ${currPage}"><a href="${_rpath}${paramseparator}${pageparam}=$!page$!hashSuffix">$!page</a></li>
						#end
					#end
					<li><a href="${_rpath}${paramseparator}${pageparam}=$!next$!hashSuffix"><i class="fa fa-chevron-right grey-text"></i></a></li>
				</ul>
			#else
				#set($next = $pager.page + 1)
				<a href="${_rpath}${paramseparator}${pageparam}=$!next" class="more-link pagelink chip" title="Load more">$!lang.get("more")</a>
				<span class="hide page-macro-code">$!macroCode</span>
				<span class="$!{next}"></span>
			#end
		</div>
	#end
#end
#end
####################################
#macro(smallpersonbox $showu)
#if($showu)#set($userboxid = "$!{showu.id}")#else#set($userboxid = "")#end
<div class="row mbn userbox user-${userboxid}">
	<div class="col s4 m5 l3">
		#if ($showu)
			<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" title="$!showu.name">
				<img src="#profilepic($!showu, 'Square50')" width="50" class="profile-pic responsive-img" alt="pic">
			</a>
		#else
			<img src="$!imageslink/anon.svg" width="50" class="responsive-img" alt="pic">
		#end
	</div>
	<div class="col s8 m7 l9">
		<div class="right prm">
			#if($showu && $showu.id)
				#set($contextboxid = $utils.generateSecurityToken(10, true))
				<a class="dropdown-trigger grey-text" href="#" data-target="$contextboxid"><i class="fa fa-ellipsis-v"></i></a>
				<ul id="${contextboxid}" class="dropdown-content">
					<li>#getreportlink($showu "$profilelink/$!showu.id" "")</li>
				</ul>
			#end
		</div>
		<div class="userbox-body">
			#if ($showu)
				<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" class="userbox-name">$showu.name</a>
			#else
				<span class="grey-text">$!lang.get("profile.deleted")</span>
			#end
			#if ($showu)
				<br>
				<strong class="">$!utils.abbreviateInt($!showu.votes, 0)</strong>
				#if($showu.badges && $showu.badgesMap && $showu.badgesMap.size() > 0)
					<i class="fa fa-star yellow-text text-darken-3"></i> <small>&times; $showu.badgesMap.size()</small>
				#end
				#if ($showu.groups == "admins")
					<small class="chip badgebox"><i class="fa fa-asterisk orange-text"></i> $!lang.get('admin')</small>
				#end
				#if ($showu.groups == "mods")
					<small class="chip badgebox"><i class="fa fa-dot-circle-o orange-text"></i> $!lang.get('mod')</small>
				#end
			#end
		</div>
	</div>
</div>
#end
####################################
#macro(tinypersonbox $showu)
<div>
	#if ($showu)
		<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" title="$!showu.name [$!showu.votes]">
			<img src="#profilepic($!showu, 'Square32')" width="32" class="profile-pic responsive-img" alt="pic">
		</a>
	#else
		<img src="$!imageslink/anon.svg" width="32" class="responsive-img" alt="pic">
	#end
</div>
#end
####################################
#macro(personlink $showu)
<span>
	#if ($showu)
		#if ($showu.name)#set($seopsuffix = "/#stripstr($!showu.name)" )#else#set($seopsuffix = "" )#end
		<a href="$profilelink/$!{showu.id}$!{seosuffix}" title="Go to profile">$!showu.name</a>
	#else
		$!lang.get("profile.deleted")
	#end
	#if ($showu && $showu.groups && !$showu.groups.isEmpty())
		#if ($showu.groups == "admins")
		<small class="chip badgebox">
			<i class="fa fa-asterisk orange-text tooltipped" data-position="top" data-tooltip="$!lang.get('admin')"></i>
		</small>
		#end
		#if ($showu.groups == "mods")
		<small class="chip badgebox">
			<i class="fa fa-dot-circle-o orange-text tooltipped" data-position="top" data-tooltip="$!lang.get('mod')"></i>
		</small>
		#end
	#end
</span>
#end
####################################
#macro(peoplepage $people)
	#foreach($showFriend in $people)
	<div class="col s12 m6 l4">
		<div class="card personbox #if($scooldUtils.isBanned($showFriend) && $isMod)yellow lighten-5 #end">
			<div class="row user-card">
				<div class="col s3 m4" title="$!showFriend.name">
					<a href="$profilelink/$!showFriend.creatorid/#stripstr($!showFriend.name)" title="$!showFriend.name">
						<img src="#profilepic($showFriend, 'Square127')" class="profile-pic responsive-img pts pls" alt="pic">
					</a>
				</div>
				<div class="col s9 m8">
					#if(!$isAdmin)
					<div class="right prm ptm">
						#set($contextboxid = $utils.generateSecurityToken(10, true))
						<a class="dropdown-trigger grey-text" href="#" data-target="$contextboxid"><i class="fa fa-ellipsis-v"></i></a>
						<ul id="${contextboxid}" class="dropdown-content">
							<li>#getreportlink($showFriend "$profilelink/$!showFriend.id" "")</li>
						</ul>
					</div>
					#end
					<div class="person-name ptm">
						#if($isAdmin && $request.getParameter("bulkedit") && !$scooldUtils.isMod($showFriend))
							<span class="grey-text l">
								<label for="$!showFriend.id">
									<input type="checkbox" name="selectedUsers" value="$!showFriend.id" class="filled-in" id="$!showFriend.id">
									<span>
										<a href="$profilelink/${showFriend.creatorid}/#stripstr($!showFriend.name)">$!{showFriend.name}</a>
									</span>
								</label>
							</span>
						#else
							<a href="$profilelink/${showFriend.creatorid}/#stripstr($!showFriend.name)">$!{showFriend.name}</a>
						#end
					</div>
					#if($isAdmin && $request.getParameter("bulkedit") && !$scooldUtils.isMod($showFriend))
						<div class="smallText">
							<i class="fa fa-th-large grey-text"></i>
							#if(!$showFriend.hasSpaces() || $showFriend.getSpaces().contains($scooldUtils.getDefaultSpace()))
								$!lang.get('defaultspace')#if($showFriend.hasSpaces()),#end
							#end
							#set($userSpaces = $showFriend.allSpaces)
							#foreach($space in $userSpaces)
								#set($spaceString = $scooldUtils.getSpaceName($space))
								${spaceString}#if($foreach.count < $userSpaces.size()),#end
								#set($spaceId = $scooldUtils.getSpaceId($space))
								<input type="hidden" name="user-space-ids" value="$!{spaceId}">
							#end
						</div>
					#end
					<strong class="mts" title="$!lang.get('reputation')">
						#if($request.getParameter("sortby") == "properties.yearlyVotes")
							$utils.abbreviateInt($!showFriend.yearlyVotes, 0)
						#elseif($request.getParameter("sortby") == "properties.quarterlyVotes")
							$utils.abbreviateInt($!showFriend.quarterlyVotes, 0)
						#elseif($request.getParameter("sortby") == "properties.monthlyVotes")
							$utils.abbreviateInt($!showFriend.monthlyVotes, 0)
						#elseif($request.getParameter("sortby") == "properties.weeklyVotes")
							$utils.abbreviateInt($!showFriend.weeklyVotes, 0)
						#else
							$utils.abbreviateInt($!showFriend.votes, 0)
						#end
					</strong>
					#if($showFriend.badges && $showFriend.badgesMap && $showFriend.badgesMap.size() > 0)
						<i class="fa fa-star yellow-text text-darken-3"></i> <small>&times; $showFriend.badgesMap.size()</small>
					#end
					<div>
						#if ($showFriend.groups == "admins")
						<small class="chip badgebox"><i class="fa fa-asterisk orange-text"></i> $!lang.get('admin')</small>
						#end
						#if ($showFriend.groups == "mods")
						<small class="chip badgebox"><i class="fa fa-dot-circle-o orange-text"></i> $!lang.get('mod')</small>
						#end
					</div>
					#if($showFriend.lastseen)
					<div class="grey-text r prm tooltipped lastseen" data-position="top" data-tooltip="$!{lang.get('profile.about.lastseen')}">
						<i class="fa fa-clock-o"></i> #formatdate($!{showFriend.lastseen} "")
					</div>
					#end
				</div>
			</div>
		</div>
	</div>
	#end
#end
####################################
#macro(getreportlink $reportable $link $clazz)
	#if ($reportable)
		#set($_href = "$reportslink/form?parentid=$!reportable.id&type=$!reportable.type")
		#if (!$link.isEmpty())
			#set($encodedLink = $utils.urlEncode($link))
			#set($_href = "${_href}&link=$encodedLink")
		#end
		#if ($clazz.contains("notext")) #set($_showtxt = "" ) #else #set($_showtxt = " $!lang.get('report')") #end
		<a href="#main-modal" title="Report a problem" data-fetch="$!{_href}" class="modal-trigger $!{clazz}">
			#if(!$clazz.contains("noicon"))<i class="fa fa-flag"></i>#end $!_showtxt
		</a>
	#end
#end
####################################
#macro(questionspage $posts )
	#set($showSpaceLabel = $scooldUtils.isAllSpaces($currentSpace) || $isMod)
	#foreach($showpost in $posts)
	#set($actionlink = "#getpostlink($showpost false true)")
	#set($actionlink2 = "#getpostlink($showpost true true)")
	#if($showpost.id == $request.getParameter("deleted"))
		#set($deleted = "hide")
	#else
		#set($deleted = "")
	#end
	#if($authenticated && $showpost.followers && $showpost.followers.containsKey($authUser.user.id))
		#set($followedPostClass = "following-post")
	#else
		#set($followedPostClass = "")
	#end
	#if ($showpost.deprecated)
		#set($deprecatedClass = "deprecated-post")
	#else
		#set($deprecatedClass = "")
	#end
	#if($showpost.type == "unapprovedquestion")
		#set($unapprovedClass = "unapproved-post")
	#else
		#set($unapprovedClass = "")
	#end
	#if($compactViewEnabled)
		#set($panelClass = "card mvm" )
	#else
		#set($panelClass = "card-panel" )
	#end
	<div id="$!showpost.id" class="${panelClass} ${followedPostClass} $!{deleted} $!{unapprovedClass} $!{deprecatedClass}">
		<div class="row mbn questionbox">
			#set($votes = $showpost.votes)
			#set($viewcount = $showpost.viewcount)
			#set($answercount = $showpost.answercount)
			#if (!$votes) #set($votes = 0) #end
			#if (!$viewcount) #set($viewcount = 0) #end
			#if (!$answercount) #set($answercount = 0) #end

			#if ($showpost.answerid && !$showpost.answerid.isEmpty())
				#set($bgclass = "light-green white-text" )
			#else
				#set($bgclass = "orange lighten-5" )
			#end

			#if ($votes < 0)
				#set($bgclass1 = "red lighten-2 white-text" )
			#elseif($votes >= 100)
				#set($bgclass1 = "yellow lighten-3" )
			#else
				#set($bgclass1 = "" )
			#end

			#if($compactViewEnabled)

			<div class="col s12">
				<div class="pvm">
					#set($firstLink = $scooldUtils.getFirstLinkInPost($!showpost.body))
					#set($isFirstLinkImage = $firstLink.endsWith(".gif") || $firstLink.endsWith(".svg") ||
						$firstLink.endsWith(".png") || $firstLink.endsWith(".jpg") ||
						$firstLink.endsWith(".jpeg") || $firstLink.endsWith(".webp"))
					#if($isFirstLinkImage)
						<img src="$!firstLink" width="80" alt="image" class="mrm mbm left">
					#end
					<div>
						<span class="phs kbd lightborder tooltipped $!{bgclass1}" data-tooltip="$!lang.get('votes')">$!utils.abbreviateInt($!votes, 0)</span>
						<span class="phs kbd lightborder tooltipped $!{bgclass}" data-tooltip="$!lang.get('answers.title')">$utils.abbreviateInt($!answercount, 0)</span>
						<span class="phs kbd lightborder tooltipped mrm" data-tooltip="$!lang.get('posts.views')">$utils.abbreviateInt($!viewcount, 0)</span>
						#if($showpost.deprecated)
						<i class="fa fa-exclamation-circle orange-text tooltipped mrs" data-tooltip="$!lang.get('deprecated')"></i>
						#end
						#if($showpost.location && !$showpost.location.isEmpty() && $scooldUtils.isNearMeFeatureEnabled())
						<i class="fa fa-map-marker grey-text tooltipped mrs" data-tooltip="$showpost.location"></i>
						#end
						#if($showpost.type == "unapprovedquestion")
						<i class="fa fa-exclamation-circle grey-text tooltipped" data-tooltip="$!lang.get('posts.unapproved')"></i>
						#end
						<a href="$!actionlink/$showpost.id/#stripstr($!showpost.title)" class="mediumText">
							#if($showSpaceLabel)
								#set($spaceLabel = "$!scooldUtils.getSpaceName($!showpost.space)")
								#if(!$spaceLabel.trim().isEmpty())
									<small class="grey-text"><strong class="mrs">$spaceLabel</strong><i class="fa fa-angle-right"></i></small>
								#end
							#end
							$!showpost.title
						</a>
					</div>
					<div>
						#foreach($showtag in $showpost.tags)
							#if ($showtag && $showtag.trim() != "")
								<a href="$questionslink/tag/$!utils.urlEncode($showtag)" title="Posts tagged $!showtag" class="mrm">
									<strong class="grey-text">#</strong>$!showtag
								</a>
							#end
						#end

						#if($firstLink && !$isFirstLinkImage)
						<i class="fa fa-link grey-text"></i> <a href="$!firstLink">$firstLink</a>
						#end
						<span class="right">
							#personlink($showpost.author)
							<span class="grey-text"><i class="fa fa-clock-o"></i>	#formatdate($showpost.timestamp "")</span>
						</span>
					</div>
				</div>
			</div>

			#else

			<div class="col m2 l1 hide-on-med-and-down">
				<div class="qstatsbox">
					<div class="lightborder $!{bgclass1}"><strong>$!utils.abbreviateInt($!votes, 0) <small>$!lang.get('votes')</small></strong></div>
					<div class="mvs lightborder $!{bgclass}"><strong>$utils.abbreviateInt($!answercount, 0) <small>$!lang.get('answers.title')</small></strong></div>
					<div class="mvs lightborder"><strong>$utils.abbreviateInt($!viewcount, 0)
						<small class="hide-on-med-and-down">$!lang.get('posts.views')</small></strong>
					</div>
				</div>
			</div>
			<div class="col s12 m10 l11">
				<div class="qstatsbox hide-on-large-only">
					<span class="lightborder phm $!{bgclass1}"><strong>$!utils.abbreviateInt($!votes, 0) <small>$!lang.get('votes')</small></strong></span>
					<span class="mvs phm lightborder $!{bgclass}"><strong>$utils.abbreviateInt($!answercount, 0) <small>$!lang.get('answers.title')</small></strong></span>
					<span class="mvs phm lightborder"><strong>$utils.abbreviateInt($!viewcount, 0)
						<small>$!lang.get('posts.views')</small></strong>
					</span>
				</div>
				<div class="row mbn">
					<div class="col s10 m11 l9">
						#if($showSpaceLabel)
						<div><small class="grey-text"><strong>$scooldUtils.getSpaceName($showpost.space)</strong></small></div>
						#end
						<div class="mediumText">
							#if($showpost.location && !$showpost.location.isEmpty() && $scooldUtils.isNearMeFeatureEnabled())
								<i class="fa fa-map-marker grey-text tooltipped mrs" data-tooltip="$showpost.location"></i>
							#end
							#if($showpost.type == "unapprovedquestion")
								<i class="fa fa-exclamation-circle grey-text tooltipped" data-tooltip="$!lang.get('posts.unapproved')"></i>
							#end
							<a href="$!actionlink/$showpost.id/#stripstr($!showpost.title)" class="mediumText">$!showpost.title</a>
						</div>
						<div class="mbs">
							#set($showBody = $utils.stripHtml($utils.markdownToHtml($utils.stripHtml($!showpost.body))) )
							<div>$!utils.abbreviate($showBody, 160)</div>
						</div>
					</div>
					<div class="col s2 m1 l3">
						#if(!$request.requestURI.startsWith("/profile"))
							<div class=" hide-on-med-and-down">
								#smallpersonbox($showpost.author)
							</div>
							<div class="hide-on-large-only">
								#tinypersonbox($showpost.author)
							</div>
						#end
					</div>
				</div>
				<div class="row mbn valign-wrapper">
					<div class="col m10 s12">
						<div>#tagsbox($showpost $actionlink2)</div>
					</div>
					<div class="col m2 s12 grey-text r">
						<i class="fa fa-clock-o"></i>	#formatdate($showpost.timestamp "")
					</div>
				</div>
			</div>

			#end
		</div>
	</div>
	#end
#end
####################################
#macro(compactanswerspage $answers)
	#foreach($answer in $answers)
		#if($answer.type == "unapprovedreply") #set($unapprovedClass = "unapproved-post") #else #set($unapprovedClass = "") #end
		<div class="card-panel $!{unapprovedClass}">
			<div class="row mbn compactanswerbox">
				<div class="col s12 m10 l9 columns">
					<span class="lightborder phm mrm">$!answer.votes</span>
					<span>
						#if($answer.type == "unapprovedreply")
							<i class="fa fa-exclamation-circle grey-text tooltipped" data-tooltip="$!lang.get('posts.unapproved')"></i>
						#end
						<a href="$questionlink/$answer.parentid#post-$!answer.id" title="View answer">$!answer.title</a>
					</span>
					<div class="mhl">
						#set($_answerBody = $utils.markdownToHtml($!utils.abbreviate($answer.body, 500)))
						$_answerBody
					</div>
				</div>
				<div class="col s12 m2 l3 columns">
					#if(!$request.requestURI.startsWith("/profile"))
						<div class="r">
							#tinypersonbox($answer.author)
						</div>
					#end
					<div class="grey-text r">
						<i class="fa fa-clock-o"></i> #formatdate($answer.timestamp "")
					</div>
				</div>
			</div>
		</div>
	#end
#end
####################################
#macro(answerspage $answers $parentpost)
	#foreach($answer in $answers)
		#postbox($answer $parentpost)
	#end
#end
####################################
#macro(postbox $showpost $parentpost)
#set($actionlink = "#getpostlink($showpost false true)")
#if($request.getServletPath().endsWith("/edit-post-$!showpost.id"))#set($resumeEditPost = "resume-editing")#else#set($resumeEditPost = "" )#end
<div id="$!showpost.id" class="postbox $!{showpost.type}box $!{resumeEditPost}">
	#if($showpost.isReply())<hr>#end
	<div id="post-$!showpost.id" class="viewbox mbm">
		<div class="postbody pvs">
			#set($_bodyHtml = $utils.markdownToHtml($!showpost.body, $!htmlInMarkdownEnabled))
			$!{_bodyHtml}
		</div>

		<div class="row mbn">
			<div class="col s4 m4 l4">
				<div class="left mtm mrl approve-answer-btn">
					#set($approvedAnswer = $showpost.id.equals($parentpost.answerid))
					#if ($approvedAnswer)	#set($onclass = "green-text text-lighten-1") #else #set($onclass = "") #end
					#if ($authenticated && $showpost.isReply() && ($parentpost.creatorid.equals($authUser.id) || $isAdmin))
						<a href="$questionlink/$!parentpost.id/approve/$!showpost.id" class="approve-answer $!{onclass}"
							 title="Approve answer"><i class="fa fa-check-circle fa-3x"></i></a>
					#elseif ($approvedAnswer)
						<span class="green-text"><i class="fa fa-check-circle fa-3x"></i></span>
					#end
				</div>
				#votebox($showpost "hugeText mtm")
			</div>
			<div class="col s8 m3 l4">
				<div class="mtm right-align">
					<div>$!lang.get("posts.posted") #formatdate($showpost.timestamp "")</div>
					#if($showpost.type == "unapprovedreply" || $showpost.type == "unapprovedquestion")
					<div><small class="orange-text"><i class="fa fa-exclamation-circle"></i> $!lang.get('posts.unapproved')</small></div>
					#end
					#if ($showpost.lasteditby)
						#if($showpost.revisionid)
							<a href="$revisionslink/$!showpost.id" title="Revision history" class="smallText">
								$!lang.get("posts.edited") #formatdate($showpost.lastedited "")
							</a>
						#else
							<span>$!lang.get("posts.edited") #formatdate($showpost.lastedited "")</span>
						#end
					#end
				</div>
			</div>
			<div class="col s8 m5 l4">
				<div class="pam">
					#smallpersonbox($showpost.author)
				</div>
			</div>
		</div>

		<div class="comments post-comments pvs">
			#paginate("postcomments" $showpost.itemcount "$commentlink?getcomments=true&parentid=$showpost.id" "page")
		</div>

		<div class="row">
			<div class="col s12">
				<div class="lightborder pam post-actions">
					<a href="#post-$!showpost.id" title="Permalink" class="right permalink"><i class="fa fa-bookmark"></i></a>

					#if ($scooldUtils.isMod($authUser) && ($showpost.type == "unapprovedreply" || $showpost.type == "unapprovedquestion"))
						<a href="$!actionlink/$showpost.id/approve" title="Approve" class="post-refresh green-text prm"><i class="fa fa-check"></i> $!lang.get("posts.approve")</a>
					#end

					#if ($scooldUtils.canEdit($showpost, $authUser))
						<a href="#" title="Edit" class="editlink prm"><i class="fa fa-pencil-square"></i> $!lang.get("edit")</a>
					#end

					#if ($scooldUtils.canDelete($showpost, $authUser, $parentpost.answerid) || $scooldUtils.isMod($authUser))
						<a href="$!actionlink/$showpost.id/delete" class="delete-post red-text prm" title="Delete"><i class="fa fa-times"></i> $!lang.get("delete")</a>
					#end

					#if ($canComment && !$showpost.isFeedback() && $scooldUtils.alwaysHideCommentForms())
						<a href="#" title="Add a comment" class="next-div-toggle prm"><i class="fa fa-commenting"></i> $!lang.get("comments.write")</a>
					#end

					#if ($showpost.lasteditby)
					<a href="$revisionslink/$!showpost.id" title="Revision history" class="prm"><i class="fa fa-th-list"></i> $!lang.get("revisions.title")</a>
					#end

					#if ($scooldUtils.isMod($authUser) && $showpost.isQuestion())
						#if ($parentpost.isClosed())
						<a href="$!actionlink/$showpost.id/close" title="Reopen" class="post-refresh prm"><i class="fa fa-unlock"></i> $!lang.get("reopen")</a>
						#else
						<a href="$!actionlink/$showpost.id/close" title="Close" class="post-refresh-ask prm"><i class="fa fa-lock"></i> $!lang.get("close")</a>
						#end

						#if ($parentpost.deprecated)
						<a href="$!actionlink/$showpost.id/deprecate" title="Revert" class="post-refresh-ask prm">
							<i class="fa fa-undo"></i> $!lang.get("undeprecate")</a>
						#else
						<a href="$!actionlink/$showpost.id/deprecate" title="Deprecate" class="post-refresh-ask prm">
							<i class="fa fa-exclamation-circle"></i> $!lang.get("deprecate")</a>
						#end
					#end

					#if (!$authenticated || ($authenticated && $showpost.creatorid != $authUser.id))
						#getreportlink($showpost "$questionlink/$!showpost.id" "prm")
					#end

					#if ($canComment)
						#newcommentform($showpost.id $scooldUtils.alwaysHideCommentForms() "$questionlink/$showpost.id")
					#end
				</div>
			</div>
		</div>
	</div>

	#if ($scooldUtils.canEdit($showpost, $authUser))
	<div class="editbox pvm hide">
		<form method="post" action="$questionlink/$!showpost.id/edit" class="edit-post-form">
			#sectoken(false "EDIT_POST_$!showpost.id")

			#if(!$showpost.isReply())
				<div class="input-field">
					<i class="fa fa-paragraph pvm prefix grey-text"></i>
					<label for="title_text">$!lang.get('posts.title')</label>
					<input type="text" name="title" class="validate" maxlength="255" minlength="2"
								 value="$!showpost.title" id="edit-$!{showpost.id}-title" required>
					#getmessagebox("red white-text" $error.get("title"))
				</div>
			#end

			<i class="fa fa-pencil fa-2x left grey-text"></i>
			<div class="pll mll">
				<textarea class="edit-post" name="body" length="$MAX_TEXT_LENGTH" minlength="10"
									id="edit-$!{showpost.id}-body">$!showpost.body</textarea>
				#getmessagebox("red white-text" $error.get("body"))
			</div>

			#if(!$showpost.isReply())
				<div class="input-field">
					<i class="fa fa-tag fa-2x grey-text prefix ptm"></i>
					<div class="chips chips-autocomplete" title="$!lang.get('tags.title')"></div>
					<input type="hidden" name="tags" value="$!showpost.tagsString" id="edit-$!{showpost.id}-tags">
					#getmessagebox("red white-text" $error.get("tags"))
				</div>

				#spaceselect($showpost)

				#if($scooldUtils.isNearMeFeatureEnabled())
					<div class="input-field">
						<i class="fa fa-map-marker ptm prefix grey-text"></i>
						<input id="location_text" name="location" class="locationbox validate" type="text" value="$!showpost.location"
									 placeholder="$!{lang.get('profile.about.location')}">
						<input type="hidden" name="latlng" value="">
						<input type="hidden" name="address" value="">
					</div>
				#end
			#end

			<div class="mtl ptm mbl">
				<button class="btn waves-effect waves-light" type="submit">
					<i class="fa fa-save left"></i> $!lang.get('save')
				</button> &nbsp;
				<button class="btn waves-effect waves-light canceledit">$!lang.get('close')</button>
				#if(!$showpost.isReply())
				<span class="right">
					<a href="#" class="canceledit open-merge-window"><i class="fa fa-compress"></i> $!lang.get('posts.mergeinto')</a>
				</span>
				#end
			</div>
		</form>
	</div>
	#if(!$showpost.isReply())
	<div class="hide merge-window">
		<form method="post" action="$questionlink/$!showpost.id/merge-into" class="merge-posts-form">
			#sectoken(false "MERGE_POST_$!showpost.id")

			<div class="input-field">
				<i class="fa fa-search pvm prefix grey-text"></i>
				<input type="text" class="autocomplete" placeholder="$!lang.get('search.questions')">
				<input type="hidden" name="id2" value="">
				#getmessagebox("red white-text" $error.get("title"))
			</div>

			<div class="mtl ptm mbl">
				<button class="btn waves-effect waves-light rusure" type="submit">
					<i class="fa fa-compress left"></i> $!lang.get('posts.mergedelete')
				</button> &nbsp;
				<button type="button" class="btn waves-effect waves-light close-merge-window">$!lang.get('close')</button>
			</div>
		</form>
	</div>
	#end
	#end
</div>
#end
###################################
#macro(spaceselect $post )
	#if($authUser.hasSpaces() || $isMod)
		<div class="input-field">
			<i class="fa fa-th-large fa-2x prefix grey-text"></i>
			<div class="mll pll">
				<select name="space" class="pll">
					#if($post)
						#set($selectedPostSpace = $!scooldUtils.getSpaceId($!post.space))
					#else
						#set($selectedPostSpace = $!scooldUtils.getSpaceId($!scooldUtils.getValidSpaceIdExcludingAll($authUser, "", $request)))
					#end
					#if($scooldUtils.canAccessSpace($authUser, "default"))
						<option value="" #if($scooldUtils.isDefaultSpace($selectedPostSpace))selected#end>$!lang.get('defaultspace')</option>
					#end
					#foreach($space in $authUser.allSpaces)
						<option value="$!space" #if($!scooldUtils.getSpaceId($space).equals($selectedPostSpace))selected#end>
							$!scooldUtils.getSpaceName($space)
						</option>
					#end
				</select>
			</div>
		</div>
		#getmessagebox("red white-text" $error.get("space"))
	#end
#end
###################################
#macro(badgebox $showbadge $num)
#set($badgeinfo = $!lang.get("about.badges.$showbadge") )
<span class="chip" title="$!badgeinfo">
	<span class="fa fa-star yellow-text text-darken-3"></span>
	#if ($num && $num > 1)<b>$num</b> &times; $!lang.get("$showbadge") #else $!lang.get("$showbadge") #end
</span>
#end
###################################
#macro(showcount $param )
	#if ($param && $param > 1)
	<small class="grey-text">$!param</small>
	#end
#end
################# MISC MACROS #####################
#macro(votebox $votable $sizeClass)
	#if ($votable)
		<div class="votebox ${sizeClass}">
			#if($votable.votes && $votable.votes != 0)#set($_vvotes = $votable.votes)#else#set($_vvotes = "&nbsp;&nbsp;")#end
			#if (!$authenticated)
				<a href="${signinlink}?returnto=$!{returnto}">
					<i class="fa fa-chevron-up upvote grey-text mrs" title="$!lang.get('voteup.tooltip')"></i>
				</a>
				<div class="votecount hide-on-med-and-up tooltipped" data-tooltip="$votable.votes">$!_vvotes</div>
				<a href="${signinlink}?returnto=$!{returnto}">
					<i class="fa fa-chevron-down downvote grey-text mrs" title="$!lang.get('votedown.tooltip')"></i>
				</a>
			#elseif($authenticated && $votable.creatorid == $authUser.id)
				<i class="fa fa-chevron-up upvote grey-text mrs" title="$!lang.get('voteup.tooltip')"></i>
				<div class="votecount hide-on-med-and-up tooltipped" data-tooltip="$votable.votes">$!_vvotes</div>
				<i class="fa fa-chevron-down downvote grey-text mrs" title="$!lang.get('votedown.tooltip')"></i>
			#else
				<a href="$voteuplink/$!votable.type/$!votable.id" class="upvote votelink" title="$!lang.get('voteup.tooltip')">
					<i class="fa fa-chevron-up upvote mrs" title="$!lang.get('voteup.tooltip')"></i>
				</a>
				<div class="votecount hide-on-med-and-up tooltipped" data-tooltip="$votable.votes">$!_vvotes</div>
				<a href="$votedownlink/$!votable.type/$!votable.id" class="downvote votelink" title="$!lang.get('votedown.tooltip')">
					<i class="fa fa-chevron-down downvote mrs" title="$!lang.get('votedown.tooltip')"></i>
				</a>
			#end
			<span class="votecount hide-on-small-only tooltipped" data-tooltip="$votable.votes">$!_vvotes</span>
		</div>
	#end
#end
###################################
#macro(formatdate $date $format)
#if ($date && !$format.trim().isEmpty())
$utils.formatDate($date, $format, $currentLocale)
#elseif ($date)
#set($delta = $utils.timestamp() - $date)
#set($Integer = 0)
#set($approxtime = $utils.humanTime.approximately($delta))
#if (!$approxtime || $approxtime.isEmpty() || $approxtime.endsWith("ms")) #set($approxtime = "2s") #end
#set($lastindx = $approxtime.length() - 1 )
#set($suffix = $approxtime.substring($lastindx))
#set($approx = $Integer.parseInt($approxtime.substring(0, $lastindx)))
#set($sufstr = "humantime.$suffix" )
<span title="$utils.formatDate($date, 'dd MMMM yyyy, HH:mm', $currentLocale)">
	$!utils.formatMessage($!lang.get($!sufstr), $!approx)
</span>
#end
#end
#####################################
#macro(reportform $type $parentid $link)
<form method="post" class="create-report-form pal" action="$reportslink">
	#sectoken(false)
	<h3>$!lang.get("reportproblem")</h3>
	<div class="ptl mvl">
		<label class="blocklabel">$!lang.get("reports.category")</label>
		<select name="subType">
			#foreach($type in $reportTypes)
			#if ($type.name() == "OTHER")
			<option selected="selected" value="$!type.name()">$!lang.get("reports.$type.toString()")</option>
			#else
			<option value="$!type.name()">$!lang.get("reports.$type.toString()")</option>
			#end
			#end
		</select>
		<div class="input-field mtl">
			<label>$!lang.get("reports.description")</label>
			<textarea name="description" class="materialize-textarea" rows="4"></textarea>
		</div>
		<input type="hidden" name="parentid" value="$!parentid">
		#if ($link && !$link.isEmpty())
		<input type="hidden" name="link" value="$!link">
		#end
	</div>
	<br>
	<div class="center mtl ptl">
		<button id="sendreport-btn" type="submit" class="btn waves-effect waves-light">$!lang.get('send')</button>
		<a href="#main-modal" class="btn-flat waves-effect waves-light modal-action modal-close">$!lang.get('close')</a>
	</div>
</form>
#end
#####################################
#macro(getmessagebox $class $text)
#if($text && !$text.isEmpty())
	<div class="chip phl ${class}">
		<i class="fa fa-close close"></i>
		<div class="msg mrl left">#if($text == "") &nbsp; #else $text #end</div>
	</div>
#end
#end
#####################################
#macro(getpostlink $p $plural $noid)$p.getPostLink($plural, $noid)#end
#####################################
#macro(ajaxloading $hide)
#if ($hide) #set($hidden = "hide") #else #set($hidden = "") #end
<div class="progress ajaxwait $!{hidden}"><div class="indeterminate"></div></div>
#end
#####################################
#macro(profilepic $user $format)#if($format && !$format.isEmpty())$scooldUtils.getFullAvatarURL($user, $format)#elseif($user && $user.picture && $user.picture.matches("^(http:|https:).*"))$scooldUtils.getFullAvatarURL($user, 'Profile')#elseif($user && $user.picture && $user.picture.matches("^(data:).*"))$user.picture #else $!imageslink/anon.svg #end#end
#####################################
#macro(infostrip )
	#if ($request.getParameter("success"))
		#set($infoStripClass = "green white-text")
	#elseif ($request.getParameter("error"))
		#set($infoStripClass = "red white-text")
	#else
		#set($infoStripClass = "")
	#end

	#if ($badgelist && !$badgelist.isEmpty())
		#if ($badgelist.size() > 1)
			#set($infoStripMsg = $!lang.get("newbadges"))
		#else
			#set($infoStripMsg = $!lang.get("newbadge"))
		#end
		#set($hideInfoStrip = "click2hide")
	#elseif ($request.getParameter("code"))
		#set($infoStripMsg = $!lang.get("msgcode.${request.getParameter('code')}"))
		#set($hideInfoStrip = "click2hide")
	#else
		#set($hideInfoStrip = "")
	#end

	#if (!$infoStripMsg || $infoStripMsg.trim().isEmpty())
		#set($hideInfoStrip = "hide")
	#end

	<noscript>
		<div class="infostrip errorBox pvm center">
			<i class="fa fa-warning"></i> $!{lang.get("nojavascript")}
		</div>
	</noscript>
	<div class="card-panel infostrip ${hideInfoStrip} ${infoStripClass}">
		#if(!$hideInfoStrip.contains("click2hide"))
			<a href="#" class="right close-infostrip"><i class="fa fa-times"></i></a>
		#end
		#set($_infoStripMsg = $infoStripMsg )
		<div class="infostrip-content">
			$!_infoStripMsg
			#if (!$badgelist.isEmpty())
				#foreach($badge in $badgelist)
					#badgebox($badge 0)
				#end
			#end
		</div>
	</div>
#end
#####################################
#macro(externalScripts $inhead)
	#foreach($externalScript in $externalScripts.entrySet())
		#if($inhead)
			#set($head = $externalScript.getKey().startsWith("head"))
		#else
			#set($head = !$externalScript.getKey().startsWith("head"))
		#end
		#if($head && ($externalScript.getKey().startsWith("bypassconsent") || $cookieConsentGiven))
			<!-- External Script: $externalScript.key Begin -->
			#if($externalScript.value.startsWith("http:") || $externalScript.value.startsWith("https:"))
				<script nonce="$cspNonce" src="$externalScript.value"></script>
			#else
				#set($_extScript = $scooldUtils.base64DecodeScript($!externalScript.value) )
				<script nonce="$cspNonce">
					$!_extScript
				</script>
			#end
			<!-- External Script: $externalScript.key End -->
		#end
	#end
#end
#####################################
#macro(stripstr $str )$!utils.urlEncode($!utils.noSpaces($!utils.stripAndTrim($str, " "), "-"))#end
#####################################
#macro(setsortbyselection $paramMap $defkey )
#set($sbparam = $request.getParameter("sortby")) #set($sbclazz = "grey darken-2 white-text" )
#if ($sbparam && !$sbparam.isEmpty()) #set($paramMap[$sbparam] = $sbclazz) #else #set($paramMap[$defkey] = $sbclazz) #end
#end
#####################################
#macro(sortorderparam $prefix $sortparam)
#if ("false" != $request.getParameter("desc") && $sortparam == $request.getParameter("sortby"))$!{prefix}desc=false#end
#end
#####################################
#macro(sortorderparamasc $prefix $sortparam)
#if ("false" == $request.getParameter("desc") && $sortparam == $request.getParameter("sortby"))$!{prefix}desc=true#else$!{prefix}desc=false#end
#end
#####################################
#macro(sortordericon $sortparam)
#if ("false" == $request.getParameter("desc") && $sortparam == $request.getParameter("sortby"))<i class="fa fa-sort-amount-asc phs" title="Ascending order"></i>#end
#end
#####################################
#macro(sectoken $bare $formId)
## RESERVED FOR FUTURE USE
#end
################# END MACROS ###################################################

