#evaluate($scooldUtils.getMacroCode($!request.getParameter('pageMacroCode')))
#if($request.getParameter("page"))
	#if($itemcount.page > $MAX_PAGES) #set($pnext = 1) #else #set($pnext = $itemcount.page + 1) #end
	<span class="$!{pnext}"></span>
	#stop
#end
#if($request.getParameter("page1"))
	#if($itemcount1.page > $MAX_PAGES) #set($pnext = 1) #else #set($pnext = $itemcount1.page + 1) #end
	<span class="$!{pnext}"></span>
	#stop
#end
#if($request.getParameter("page2"))
	#if($itemcount2.page > $MAX_PAGES) #set($pnext = 1) #else #set($pnext = $itemcount2.page + 1) #end
	<span class="$!{pnext}"></span>
	#stop
#end
#if($request.getParameter("page3"))
	#if($itemcount3.page > $MAX_PAGES) #set($pnext = 1) #else #set($pnext = $itemcount3.page + 1) #end
	<span class="$!{pnext}"></span>
	#stop
#end