<div class="ptl">
	#if($currentSpace && !$currentSpace.isEmpty())
		<p class="mediumText grey-text">$scooldUtils.getSpaceName($!currentSpace)</p>
	#end
	<div class="right mtl ptl">
		#set($sortarr = {'votes': "", 'newest': ""} )
		#setsortbyselection($sortarr 'newest')
		<div class="mvm">
			<a href="$peoplelink" class="chip $sortarr.newest">$!lang.get("newest")</a>
			<a href="$peoplelink?sortby=votes" class="chip $sortarr.votes">$!lang.get("reputation")</a>
			#if($isAdmin)
				#if($request.getParameter("bulkedit"))
					<a href="$peoplelink" class="chip grey darken-2 white-text">Bulk Edit Spaces</a>
				#else
					<a href="$peoplelink?bulkedit=true" class="chip">Bulk Edit Spaces</a>
				#end
			#end
		</div>
	</div>
	<h2>$!lang.get("people.title") #showcount($itemcount.count)</h2>


	#if($isAdmin && $request.getParameter("bulkedit"))
	<form method="get">
		<div class="input-field">
			<i class="fa fa-search fa-2x prefix grey-text"></i>
			<input type="search" name="q" value="$!request.getParameter('q')" placeholder="$!lang.get('search.title')">
			<input type="hidden" name="bulkedit" value="true">
		</div>
	</form>

	<form method="post" action="$peoplelink/bulk-edit?$!{request.queryString}">
		<div class="pvl center">
			<strong>Edit space membership of selected users:</strong>
		</div>
		<div class="center">
			#sectoken(false "BULK_EDIT")
			#foreach($space in $spaces)
				<label for="$!space.id">
					<input type="checkbox" name="selectedSpaces" value="$!space.id:$!space.name" class="filled-in" id="$!space.id">
					<span><strong class="mediumText">$!space.name</strong></span>
				</label> &nbsp;
			#end
			<br>
			<button class="btn waves-effect waves-light mvl" type="submit"><b>$!lang.get('save')</b></button>
		</div>
	#end
	<hr>

	#if(!$userlist || $userlist.isEmpty())
		<div class="card-panel hugeText center-align grey-text">
			<div class="em5v">
				$!{lang.get("search.notfound")}
			</div>
		</div>
	#else
		<div class="row">
			#paginate("\#peoplepage(\$userlist)" $itemcount "" "page")
		</div>
	#end

	#if($isAdmin && $request.getParameter("bulkedit"))
	</form>
	#end
</div>