<div class="row ptl profilepage">
	<div class="col s12 m6 l4">
		<div class="card">
			<div class="card-image">
				<img src="#profilepic($showUser, 'Profile')" id="profile_${showUser.creatorid}"
						 class="profile-pic on-profile-page" alt="Profile picture">
			</div>
			<div class="card-content center-align">
				#if ($canEdit && $canEditAvatar)
				<a id="edit-picture-link" href="#" class="editlink">🖼 $!lang.get('profile.changepic')</a>
				<div class="editbox hide">
					<form action="$profilelink/$!showUser.creatorid" method="post">
						#sectoken(false)
						<input id="avatar-gravatar-url" type="hidden" value="$!gravatarPicture">
						<input id="avatar-default-url" type="hidden" value="$!scooldUtils.getDefaultAvatar()">
						<input id="avatar-custom-url" type="hidden" value="$!showUser.originalPicture">
						<input id="picture-url" type="hidden" name="picture" value="$!showUser.picture">

						#if($scooldUtils.isGravatarEnabled())
						<div class="row">
							<div class="col s6">
								<strong class="left">$!lang.get('profile.usegravatar')</strong>
							</div>
							<div class="col s6">
								<div class="switch right">
									<label>
										$!lang.get('off')
										#if($isGravatarPicture)
										<input id="use-gravatar-switch" type="checkbox" name="gravatar" checked="checked">
										#else
										<input id="use-gravatar-switch" type="checkbox" name="gravatar">
										#end
										<span class="lever"></span>
										$!lang.get('on')
									</label>
								</div>
							</div>
						</div>
						#end
						<div id="avatar_loading" class="hide">
							<div class="progress"><div class="indeterminate"></div></div>
						</div>
						<div class="row mvn pts">
							#if($scooldUtils.isAvatarUploadsEnabled())#set($colsize = "s4")#else#set($colsize = "s6")#end
							#if($scooldUtils.isAvatarUploadsEnabled())
							<div class="col ${colsize}">
								<button type="button" id="change-avatar-btn" title="$!lang.get('profile.changepic')" class="btn-flat">
									$!lang.get('add')
								</button>
								<input type="file" name="file" class="hide"/>
							</div>
							#end
							<div class="col ${colsize}">
								<button type="button" id="clear-avatar-btn" class="btn-flat">$!lang.get('clear')</button>
							</div>
							<div class="col ${colsize}">
								<button type="button" class="canceledit center btn-flat">$!lang.get('close')</button>
							</div>
						</div>
					</form>
				</div>
				#end
				<div class="viewbox">
					<span class="largeText">$!{showUser.name}</span>
					#if ($isAdmin && $showUser.originalName && $showUser.originalName != $showUser.name)
						<div class="tooltipped" data-tooltip="Original name">$!{showUser.originalName}</div>
					#end
					#if ($showUser.location && !$showUser.location.isEmpty() && !$showUser.anonymityEnabled)
					<div>
						#ico("map-marker" "grey-text")&nbsp;
						<span class="black-text">$!{showUser.location}</span>
					</div>
					#end
				</div>
			</div>
			#if($scooldUtils.isModAnywhere($showUser) || $scooldUtils.isAdmin($showUser))
				#set($hideBadgePanel = "")
			#else
				#set($hideBadgePanel = "hide")
			#end
			<div class="card-action card-website center-align truncate ${hideBadgePanel}">
				#if ($showUser.groups == "admins")
				<span class="chip badgebox admin-badge">$!lang.get('admin')</span>
				#else
				#if ($scooldUtils.isModAnywhere($showUser))#set($hideModIcon = "")#else #set($hideModIcon = "hide")#end
				<span class="chip badgebox moderator-icon mod-badge ${hideModIcon}">$!lang.get('mod')</span>
				#end
			</div>
		</div>
	</div>

	<div class="col s12 m6 l8">
		<div class="aboutme">
			<div class="row valign-wrapper mvn">
				<div class="col s9">
					<div class="mts">
						<strong>$itemcount1.count</strong>
						#if($itemcount1.count == 1)$!lang.get('posts.question')#else$!lang.get('questions.title')#end,
						<strong>$itemcount2.count</strong>
						#if($itemcount2.count == 1)$!lang.get('posts.answer')#else$!lang.get('answers.title')#end
					</div>
					<div class="row">
						<div class="col m12 l6">
							#if ($showUser.timestamp)
							<span class="pvs mrm">
								#icon('<path d="M12 6C13.11 6 14 5.1 14 4C14 3.62 13.9 3.27 13.71 2.97L12 0L10.29 2.97C10.1 3.27 10 3.62 10 4C10 5.1 10.9 6 12 6M18 9H13V7H11V9H6C4.34 9 3 10.34 3 12V21C3 21.55 3.45 22 4 22H20C20.55 22 21 21.55 21 21V12C21 10.34 19.66 9 18 9M19 20H5V17C5.9 17 6.76 16.63 7.4 16L8.5 14.92L9.56 16C10.87 17.3 13.15 17.29 14.45 16L15.53 14.92L16.6 16C17.24 16.63 18.1 17 19 17V20M19 15.5C18.5 15.5 18 15.3 17.65 14.93L15.5 12.8L13.38 14.93C12.64 15.67 11.35 15.67 10.61 14.93L8.5 12.8L6.34 14.93C6 15.29 5.5 15.5 5 15.5V12C5 11.45 5.45 11 6 11H18C18.55 11 19 11.45 19 12V15.5Z" />' 'grey-text')
								$!{lang.get("profile.about.membersince")} #formatdate($!{showUser.timestamp} "dd MMMM yyyy")</span>
							#end
						</div>
						<div class="col m12 l6">
							#if ($showUser.lastseen)
							<span class="pvs">#ico("clock-o" "grey-text")&nbsp;
								$!{lang.get("profile.about.lastseen")} #formatdate($!{showUser.lastseen} "")</span>
							#end
						</div>
					</div>
				</div>
				<div class="col s3 r">
					<a href="$showUser.getProfileLink()"
						 class="permalink tooltipped mhs" data-tooltip="Copy profile link">#ico("share" "")</a>
					#if ($canEdit)
						<a href="$profilelink/$showUser.creatorid/edit" class="editlink btn">
							#ico("pencil" "")<span class="plm hide-on-med-and-down">$!{lang.get("edit")}</span>
						</a>
					#end
				</div>
			</div>
			#if ($request.requestURI.endsWith("/edit") && $authenticated)
				#set($hideedit1 = "")
				#set($hideview1 = "hide")
			#else
				#set($hideedit1 = "hide")
				#set($hideview1 = "")
			#end

			<div class="viewbox ${hideview1}">
				#if ($showUser.aboutme && !$showUser.aboutme.isEmpty() && !$showUser.anonymityEnabled)
					<p class="black-text mvs">$!{showUser.aboutme}</p>
				#end

				#if($showUser.website && !$showUser.website.isEmpty() && !$showUser.anonymityEnabled)
					<a href="$!showUser.website" class="blue-text" rel="nofollow">
						$!showUser.website.substring($!showUser.website.indexOf("/") + 2)
					</a>
				#end

				<h4 class="grey-text text-darken-1">$!{lang.get("reputation")}</h4>
				<div>
					<span class="chip mediumText phl">$!showUser.votes</span>

					#if($showUser.monthlyVotes != 0)
					<span class="mediumText">
						<strong class="mhs">
							#if($showUser.monthlyVotes < 0)
								<span class="red-text">-</span>
							#else
								<span class="green-text">+</span>
							#end
							$showUser.monthlyVotes
						</strong> this $utils.formatDate("MMMM", $currentLocale)
					</span>
					#end

					#if($showUser.upvotes > 0 || $showUser.downvotes > 0)
					<span class="mediumText">
						<strong class="tooltipped mhm" data-tooltip="Votes down">$!showUser.downvotes #ico("chevron-down" "red-text text-darken-3")</strong>
						<strong class="tooltipped" data-tooltip="Votes up">$!showUser.upvotes #ico("chevron-up" "green-text text-darken-3")</strong>
					</span>
					#end
				</div>

				#set($badges = $showUser.badgesMap)
				#if (!$badges.isEmpty() || $tagsSet || $isMod)
					#if($isMod)
						<a href="#" class="next-div-toggle right ptm">$!lang.get('addbadge')</a>
					#end
					<h4 class="grey-text text-darken-1 pvs">
						$!lang.get('badges.title') #if($badgesCount > 0) <strong>$!badgesCount</strong>#end
					</h4>
					#if($isMod)

					<div class="hide ">
						<span class="pvm" id="available-badges">
							#foreach($badge in $customBadgesMap.values())
								#if(!$tagsSet.contains($badge.tag))
									#custombadgebox($badge "add")
								#end
							#end
						</span>
						<a href="#" class="next-div-toggle click2hide">#ico("plus" "")
							<strong>$!lang.get('createbadge')</strong>
						</a>
						<div class="card pam hide">
							<form action="$profilelink/$showUser.creatorid/create-badge" method="post">
								<div class="row mvn">
									<div class="input-field col m5 s12">
										<label for="badge-tag">$!lang.get('badgename')</label>
										<input id="badge-tag" type="text" name="tag" value="" required>
										#getmessagebox("red white-text" $error.get("tag"))
									</div>
									<div class="input-field col m7 s12">
										<label for="badge-description">$!lang.get('description')</label>
										<input id="badge-description" type="text" name="description" value="">
										#getmessagebox("red white-text" $error.get("tag"))
									</div>
								</div>
								<div class="row mvn">
									<div class="col m3 s12">
										<div>$!lang.get('badgefg')</div>
										<input id="badge-color" type="color" name="color" value="#000000" required>
										#getmessagebox("red white-text" $error.get("color"))
									</div>
									<div class="col m3 s12">
										<div>$!lang.get('badgebg')</div>
										<input id="badge-background" type="color" name="background" value="#AAAAAA" required>
										#getmessagebox("red white-text" $error.get("background"))
									</div>
									<div class="emoji-picker-container col m3 s12 mvl">
										<button type="button" class="emoji-button empty btn btn-flat btn-small white">
											<span class="emoji-picker-target single"></span> $!lang.get('badgeicon')
											<input type="hidden" id="badge-icon" name="icon" value="" class="emoji-picker-target single">
										</button>
									</div>
									<div class="col m3 s12 mvl right-align">
										<button type="submit" class="btn btn-small">$!lang.get('create')</button>
									</div>
								</div>

								<div class="center">
									<span class="chip" title="Cool badge!" id="badge-preview">
										<span id="badge-preview-icon" class="hide"></span>
										<b><span id="badge-preview-tag">Badge preview</span></b>
									</span>
								</div>
							</form>
						</div>
						<hr>
					</div>
					#end
					<span id="user-badges">
						#if(!$tagsSet.isEmpty())
							#foreach($tag in $tagsSet)
								#custombadgebox($customBadgesMap.get($tag) "remove")
							#end
						#end
					</span>
					#foreach($key in $badges.keySet())
						#set($badge = $key)
						#if ($badge.endsWith("+")) #set($badge = $badge.replaceAll("\\+", ""))	#end
						#badgebox($badge $badges.get($key))
					#end
				#end

				#macro(makemodlink $s)
					#if ($isAdmin && !$scooldUtils.config.modsAccessAllSpaces())
						#if(!$scooldUtils.isAdmin($showUser))
						<small>
							<a href="$profilelink/$showUser.creatorid/make-mod?spaces=$!s" class="make-mod-btn">
								#if ($showUser.isModInSpace($s))#set($hidemakemod = "hide")#else#set($unhidemakemod = "hide")#end
								<span class="#if($showUser.isModInSpace($s))#else hide#end">Unmake mod</span>
								<span class="#if($showUser.isModInSpace($s))hide#else#end">Make mod</span>
							</a>
						</small>
						#end
					#end
				#end

				#macro(spaceboxclass $s)smallspacebox#if(!$scooldUtils.config.modsAccessAllSpaces() && $showUser.isModInSpace($s)) orange-border#end#end

				#if ($showUser.hasSpaces() && $canEdit)
					#set($userSpaces = $showUser.allSpaces)
					<h4 class="grey-text text-darken-1 pvs">
						$!lang.get('spaces.title') <strong>$!userSpaces.size()</strong>
					</h4>
					<div class="#if($userSpaces.size() > 5)row#end">
						#if(!$showUser.hasSpaces() || $showUser.getSpaces().contains($scooldUtils.getDefaultSpace()))
							#if($userSpaces.size() > 5)<div class="col m6 l4">#end
								<span class="chip #spaceboxclass('default')">
									#ico("th-large" "grey-text")
									<span class="mhm">$!lang.get('defaultspace')  #makemodlink($scooldUtils.getSpaceId('default'))</span>
								</span>
							#if($userSpaces.size() > 5)</div>#end
						#end
						#foreach($space in $userSpaces)
						#if(!$scooldUtils.isDefaultSpace($space))
							#if($scooldUtils.isDefaultSpace($space))
								#set($spaceString = $!lang.get('defaultspace'))
							#else
								#set($spaceString = $scooldUtils.getSpaceName($space))
							#end
							#if($userSpaces.size() > 5)<div class="col m6 l4">#end
								<span class="chip #spaceboxclass($space)">
									#ico("th-large" "grey-text")
									<span class="mhs">${spaceString} #makemodlink($scooldUtils.getSpaceId($space))</span>
								</span>
							#if($userSpaces.size() > 5)</div>#end
						#end
						#end
					</div>
				#end

				#if(!$showUser.user && $isMod)
					<h4 class="grey-text text-darken-1 pvs">#ico("warning" "")  $!lang.get("profile.deleted")</h4>
				#end
			</div>

			#if ($canEdit)
			<div id="about-edit" class="editbox lightgraybg ${hideedit1}">
				<form method="post" id="about-edit-form" action="$profilelink/$!showUser.creatorid">
					#sectoken(false)

					<div class="row">
						<div class="col s12 m6">
							<div class="input-field">
								#ico("user-circle" "prefix grey-text")
								<label for="name_text">$!{lang.get("profile.name")}</label>
								<input id="name_text" name="name" class="validate" type="text" value="$!{showUser.name}"
											 #if(!$nameEditsAllowed)disabled="disabled"#end>
							</div>
						</div>
						<div class="col s12 m6">
							<div class="input-field">
								#ico("map-marker" "grey-text prefix mhm")
								<input type="hidden" name="latlng" value="$!{authUser.latlng}">
								<input id="location_text" name="location" class="locationbox validate" type="text" value="$!{showUser.location}"
											 placeholder="$!{lang.get('profile.about.location')}">
							</div>
						</div>
					</div>

					<div class="row valign-wrapper">
						<div class="col s12 m6">
							<div class="input-field">
								<span class="prefix grey-text">@</span>
								<label for="email_text">$!{lang.get("signup.form.email")}</label>
								<input type="email" id="email_text" value="#if($showUser.pendingEmail)$!{showUser.pendingEmail}#else$!{showUser.user.email}#end"
											 #if($showUser.user.identityProvider == "generic") name="email"#else name="na" disabled#end>
							</div>
						</div>
						<div class="col s12 m6">
							#if($showUser.pendingEmail)
								<span class="orange-text tooltipped" data-tooltip="Unverified">#ico("exclamation-circle" "")</span>&nbsp;
								<a href="$profilelink/retry-change-email" class="post-refresh">$!lang.get('signup.resend')</a> &nbsp;
								<a href="$profilelink/cancel-change-email" class="post-refresh red-text">$!lang.get('cancel')</a>
							#else
								<span class="green-text tooltipped" data-tooltip="Verified">#ico("check-circle" "")</span>
							#end
						</div>
					</div>

					<div class="input-field">
						#icon('<path d="M22,3H2C0.91,3.04 0.04,3.91 0,5V19C0.04,20.09 0.91,20.96 2,21H22C23.09,20.96 23.96,20.09 24,19V5C23.96,3.91 23.09,3.04 22,3M22,19H2V5H22V19M14,17V15.75C14,14.09 10.66,13.25 9,13.25C7.34,13.25 4,14.09 4,15.75V17H14M9,7A2.5,2.5 0 0,0 6.5,9.5A2.5,2.5 0 0,0 9,12A2.5,2.5 0 0,0 11.5,9.5A2.5,2.5 0 0,0 9,7M14,7V8H20V7H14M14,9V10H20V9H14M14,11V12H18V11H14" />' 'prefix grey-text')
						<label for="about_text">$!{lang.get("profile.about.aboutme")}</label>
						<textarea id="about_text" name="aboutme" maxlength="255" class="materialize-textarea">$!{showUser.aboutme}</textarea>
					</div>

					<div class="input-field">
						#icon('<path d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />' 'prefix grey-text')
						<label for="website_text">$!lang.get("website")</label>
						<input id="website_text" name="website" type="url" value="$!{showUser.website}">
					</div>

					<div class="center mtl">
						<button type="submit" class="btn waves-effect waves-light mhl">$!lang.get('save')</button>
						<button type="button" class="btn waves-effect waves-light canceledit ${hideview1}">$!{lang.get('close')}</button>
						<a href="$profilelink/$showUser.creatorid" class="btn waves-effect waves-light ${hideedit1}">$!{lang.get('close')}</a>
					</div>
				</form>
			</div>
			#end

			#if (!$isMyProfile && $authenticated)
			<div class="mvl">
				<div class="row">
					<div class="col m6">
						#getreportlink($showUser "$profilelink/$!showUser.creatorid" "chip")
						#if ($isAdmin && $scooldUtils.config.modsAccessAllSpaces())
							#if(!$scooldUtils.isAdmin($showUser))
								<a href="$profilelink/$showUser.creatorid/make-mod" class="chip make-mod-btn">
									#if ($showUser.groups == "mods")#set($hidemakemod = "hide")#else#set($unhidemakemod = "hide")#end
									<span class="$!{unhidemakemod}">#ico("chevron-down" "") Unmake mod</span>
									<span class="$!{hidemakemod}">#ico("chevron-up" "") Make mod</span>
								</a>
							#end
						#end
					</div>
					<div class="col m6 right-align">
						#if ($isAdmin)
							<a href="${adminlink}?delete=profile&id=$showUser.id&returnto=$peoplelink" title="Delete user account" class="red chip white-text">
								#ico("close" "") $!lang.get("delete")
							</a>
						#end
					</div>
				</div>
			</div>
			#end
		</div>
	</div>
</div>

#if(!$questionslist.isEmpty() || !$answerslist.isEmpty())
<div class="row">
	<div class="col s12">
		<ul class="tabs">
			#if (!$questionslist.isEmpty())
			<li class="tab col s6"><a href="#questions">$!{lang.get("questions.title")} <span class="phs hide-on-small-only">$!itemcount1.count</span></a></li>
			#end
			#if (!$answerslist.isEmpty())
			<li class="tab col s6"><a href="#answers">$!{lang.get("answers.title")} <span class="phs hide-on-small-only">$!itemcount2.count</span></a></li>
			#end
		</ul>
	</div>

	#if (!$questionslist.isEmpty())
	<div id="questions" class="col s12">
		<div class="mvm">
				#paginate("questions" $itemcount1 "" "page1")
		</div>
	</div>
	#end
	#if (!$answerslist.isEmpty())
	<div id="answers" class="col s12">
		<div class="mvm">
			#paginate("compactanswers" $itemcount2 "#answers" "page2")
		</div>
	</div>
	#end
</div>
#end



