<div class="ptl">
	#if ($askSelected)
		<h2>$!lang.get("posts.ask")</h2>
		<hr>
		<div class="ptl">
			<form method="post" id="ask-question-form">
				#sectoken(false "CREATE_POST")
				<div class="input-field mbl">
					<i class="fa fa-paragraph pvm prefix grey-text"></i>
					<label for="title_text">$!lang.get('posts.title')</label>
					<input type="text" id="title_text" name="title" class="validate" length="255" minlength="6" required>
					#getmessagebox("red white-text" $error.get("title"))
				</div>

				<i class="fa fa-pencil fa-2x left grey-text"></i>
				<div class="pll mll">
					<textarea class="edit-post" name="body" maxlength="$MAX_TEXT_LENGTH" minlength="10"></textarea>
					#getmessagebox("red white-text" $error.get("body"))
				</div>

				<div class="autocomplete">
					<i class="fa fa-tag fa-2x ptl grey-text"></i>
					<div class="ac-tags"></div>
					<div class="ac-input input-field">
						<label for="tags_text">$!lang.get('tags.title')</label>
						<input type="text" id="tags_text" class="tagbox" data-activates="tags-dropdown"
									 data-beloworigin="true" autocomplete="off">
					</div>
					<ul id="tags-dropdown" class="dropdown-content ac-dropdown"></ul>
					<input type="hidden" name="tags" class="ac-hidden" value="">
				</div>
				#getmessagebox("red white-text" $error.get("tags"))

				<a href="#" class="next-div-toggle mll pll" onclick="$(this).hide()">
					<i class="fa fa-map-marker"></i> $!lang.get("posts.location")
					<span class="grey-text text-darken-1">($!lang.get("posts.locationtxt"))</span>
				</a>
				<div class="input-field hide">
					<i class="fa fa-map-marker ptm prefix grey-text"></i>
					<label for="location_text">$!{lang.get("profile.about.location")}</label>
					<input id="location_text" name="location" class="locationbox validate" type="text" value="">
					<input type="hidden" name="latlng" value="">
					<input type="hidden" name="address" value="">
				</div>

				<div><i class="fa fa-save save-icon green-text" style="display: none"></i> &nbsp;</div>
				<button class="btn mtl waves-effect waves-light" type="submit">
					<i class="fa fa-paper-plane left"></i>$!lang.get('post')
				</button>
			</form>
		</div>
	#else
		#set($sortarr = {'votes': "", 'newest': "", 'activity': "", 'unanswered': "", 'filter': ""} )
		#setsortbyselection($sortarr 'newest')
		<div class="right mtl ptl">
			#if ($tagFilterOn)
				<a href="$settingslink" class="chip"> <span class="fa fa-check"></span> $!lang.get("settings.tagfilter")</a>
			#end
			<a href="${questionslink}$!{filterparam}" class="chip $sortarr.newest">$!lang.get("newest")</a>
			<a href="${questionslink}/votes$!{filterparam}" class="chip $sortarr.votes">$!lang.get("votes")</a>
			<a href="${questionslink}/updated$!{filterparam}" class="chip $sortarr.activity">$!lang.get("posts.updated")</a>
			<a href="${questionslink}/unanswered$!{filterparam}" class="chip $sortarr.unanswered">$!lang.get("posts.unanswered")</a>

			#if ($authenticated)
				<a href="#" class="chip next-div-toggle $sortarr.filter">$!lang.get("posts.filtered")</a>
				<div class="hide r">
					<form method="get" id="filter-questions-form" action="$questionslink/filter/">
						<a href="$questionslink/filter/local" class="chip">$!lang.get("posts.locationfilter")</a>
						<a href="$questionslink/filter/favtags" class="chip">$!lang.get("posts.tagfilter")</a>
					</form>
				</div>
			#end
		</div>

		<h2>
			#if ($tag)
				<small>$!lang.get("posts.tagged") <span class="grey-text text-darken-2">$!tag</span></small>
			#else
				$!lang.get("questions.title") #showcount($itemcount.count)
			#end
		</h2>
		<hr>

		#if (!$questionslist || $questionslist.isEmpty())
			<div class="card-panel hugeText center-align grey-text">
				<div class="em5v">
					$!{lang.get("profile.posts.noquestions")}
				</div>
			</div>
		#else
			#paginate("\#questionspage(\$questionslist)" $itemcount "" "page")
		#end
	#end
</div>