#if($currentSpace && !$currentSpace.isEmpty())
	#spacelabel($currentSpace)
#end
<div class="page-wrapper">
	#if ($askSelected)
		<h2>$!lang.get("posts.ask")</h2>

		<div class="pts">
			<form method="post" id="ask-question-form">
				#sectoken(false "CREATE_POST")
				<div class="input-field">
					<i class="fa fa-paragraph pvm prefix grey-text"></i>
					<label for="title_text">$!lang.get('posts.title')</label>
					<input type="text" id="title_text" name="title" value="$!draftQuestion.title"
								 class="validate" maxlength="255" minlength="2" required>
					<div class="similar-posts pll mll mbs">
						<div class="similar-posts-title smallText grey-text mbs">$!lang.get('posts.similar')</div>
					</div>
					#getmessagebox("red white-text" $error.get("title"))
				</div>

				<i class="fa fa-pencil fa-2x left grey-text"></i>
				<div class="pll mll emoji-picker-container">
					<textarea class="edit-post" name="body" maxlength="$MAX_TEXT_LENGTH" minlength="10">$!draftQuestion.body</textarea>
					#getmessagebox("red white-text" $error.get("body"))
				</div>

				<div class="input-field">
					<i class="fa fa-tag fa-2x grey-text prefix ptm"></i>
					<div class="chips chips-autocomplete" title="$!lang.get('tags.title')"></div>
					<input type="hidden" name="tags" value="$!defaultTag$!draftQuestion.getTagsString()">
					<div class="pll mll">
						#getmessagebox("red white-text" $error.get("tags"))
					</div>
				</div>

				#spaceselect()

				#if($scooldUtils.isNearMeFeatureEnabled())
				<div class="mll pll">
					<a href="#" class="next-div-toggle click2hide">
						<i class="fa fa-map-marker"></i> $!lang.get("posts.location")
					</a>
					<div class="input-field hide">
						<i class="fa fa-map-marker ptm prefix grey-text"></i>
						<input id="location_text" name="location" class="locationbox validate" type="text" value=""
									 placeholder="$!{lang.get('profile.about.location')}">
						<input type="hidden" name="latlng" value="">
						<input type="hidden" name="address" value="">
					</div>
				</div>
				#end

				<div>
					<button class="btn mtl waves-effect waves-light" type="submit">
						<i class="fa fa-paper-plane left"></i>$!lang.get('post')
					</button>
				</div>
			</form>
		</div>
	#else
		#macro(questionsTitle)
			#if ($tag)
				<small>$!lang.get("posts.tagged") <span class="grey-text text-darken-2">$!tag</span></small>
			#else
				$!lang.get("questions.title") #showcount($itemcount.count)
			#end
		#end

		<h4 class="hide-on-large-only">#questionsTitle()</h4>

		<div class="chips-container">
			#set($sortarr = {'votes': "", 'newest': "", 'activity': "", 'answered': "", 'unanswered': "", 'unapproved': "", 'filter': ""} )
			#setsortbyselection($sortarr 'newest')
			<a href="${questionslink}$!{filter}" class="chip $sortarr.newest">$!lang.get("newest")</a>
			<a href="${questionslink}$!{filter}?sortby=votes" class="chip $sortarr.votes">$!lang.get("votes")</a>
			<a href="${questionslink}$!{filter}?sortby=activity" class="chip $sortarr.activity">$!lang.get("posts.updated")</a>
			<a href="${questionslink}$!{filter}?sortby=answered" class="chip $sortarr.answered">$!lang.get("posts.answered")</a>
			<a href="${questionslink}$!{filter}?sortby=unanswered" class="chip $sortarr.unanswered">$!lang.get("posts.unanswered")</a>
			<a href="${questionslink}$!{filter}?sortby=unapproved" class="chip $sortarr.unapproved">$!lang.get("posts.unapproved")</a>

			#if ($authenticated)
				#if($request.getParameter('sortby'))#set($sortby = "?sortby=$request.getParameter('sortby')")#else#set($sortby = "")#end

				#if($scooldUtils.isNearMeFeatureEnabled())
					#if ($localFilterOn)#set($filterSelected1 = "grey darken-2 white-text")#else#set($filterPath1 = "/local")#end
					<a href="$questionslink$!{filterPath1}$!{sortby}" class="chip $!{filterSelected1}">
						<i class="fa fa-map-marker"></i> $!lang.get("posts.locationfilter")
					</a>
				#end

				#if ($tagFilterOn)#set($filterSelected2 = "grey darken-2 white-text")#else#set($filterPath2 = "/favtags")#end
				<a href="$questionslink$!{filterPath2}$!{sortby}" class="chip $!{filterSelected2}">
					<i class="fa fa-filter"></i> $!lang.get("posts.tagfilter")
				</a>
			#end

			#if($itemcount.name && $itemcount.name == "default_pager")
				#set($filterActiveClass = "")
				#set($filterActiveTooltip = $!lang.get('filter'))
			#else
				#set($filterActiveClass = "filter-active")
				#set($filterActiveTooltip = $!lang.get('posts.filtered'))
			#end
			<a href="#" id="question-filter-btn" class="next-div-toggle chip tooltipped ${filterActiveClass}"
				 data-tooltip="${filterActiveTooltip}" title="${filterActiveTooltip}">
				<i class="fa fa-filter"></i><span class="hide">Filter</span>
			</a>
		</div>

		<h2 class="hide-on-med-and-down">#questionsTitle()</h2>
		<div id="question-filter-drawer" class="lightborder pam hide">
			<form method="post" action="$questionslink/apply-filter">
				<input type="hidden" name="tab" value="$!request.getParameter('sortby')">
				<div class="row mbn">
					<div class="col l6 m12 s12">
						<strong>$!lang.get('tags.title')</strong>
						<div class="input-field">
							#set($tagsFromPager = "$!itemcount.name" )
							#set($tagsFromPagerString = "$!tagsFromPager.replaceFirst('with_tags:', '')" )
							#set($tagz = "$utils.noSpaces($!authUser.getFavtags().toString(), '')")
							<div class="chips chips-autocomplete" title="$!lang.get('tags.title')"></div>
							#if ($authenticated && $tagFilterOn)
								<input type="hidden" name="tags" value="$!tagz.replaceAll('[\[\]]', '')">
							#else
								#if($tagsFromPager && $tagsFromPager.startsWith("with_tags:"))
									<input type="hidden" name="tags" value="$tagsFromPagerString.replaceFirst('\+', '')">
								#else
									<input type="hidden" name="tags" value="$!tag">
								#end
							#end
						</div>
						<div>
							<label>
								#if(!$tagsFromPagerString.startsWith("+"))
								<input name="matchAllTags" type="radio" value="false" checked>
								#else
								<input name="matchAllTags" type="radio" value="false">
								#end
								<span>$!lang.get('posts.matchany')</span>
							</label>
						</div>
						<div>
							<label>
								#if($tagsFromPagerString.startsWith("+"))
								<input name="matchAllTags" type="radio" value="true" checked>
								#else
								<input name="matchAllTags" type="radio" value="true">
								#end
								<span>$!lang.get('posts.matchall')</span>
							</label>
						</div>
					</div>
					<div class="col l2 m4 s6">
						<strong>$!lang.get('sorting')</strong>
						<div class="input-field">
							#macro(sortselected $prop)
							#if($itemcount.sortby == $prop)selected#end
							#end
							<select name="sortby">
								<option value="timestamp" #sortselected("timestamp")>$!lang.get('posts.creationdate')</option>
								<option value="creatorid" #sortselected("creatorid")>$!lang.get('posts.creatorid')</option>
								<option value="votes" #sortselected("votes")>$!lang.get('votes')</option>
								<option value="properties.answercount" #sortselected("properties.answercount")>$!lang.get('answers.title')</option>
								<option value="properties.viewcount" #sortselected("properties.viewcount")>$!lang.get('posts.views')</option>
								<option value="properties.lastactivity" #sortselected("properties.lastactivity")>$!lang.get('profile.about.lastseen')</option>
								<option value="properties.lastedited" #sortselected("properties.lastedited")>Last edited</option>
							</select>
						</div>
						<div>
							<label>
								#if($itemcount.desc)
								<input name="desc" type="radio" value="true" checked>
								#else
								<input name="desc" type="radio" value="true">
								#end
								<span>$!lang.get('descending')</span>
							</label>
						</div>
						<div>
							<label>
								#if(!$itemcount.desc)
								<input name="desc" type="radio" value="false" checked>
								#else
								<input name="desc" type="radio" value="false">
								#end
								<span>$!lang.get('ascending')</span>
							</label>
						</div>
					</div>
					<div class="col l2 m4 s6">
						<strong>$!lang.get('results')</strong>
						<div class="input-field">
							<input type="number" name="limit" min="10" max="100" value="$!itemcount.limit">
							<span>$!lang.get('perpage')</span>
						</div>
						<label data-compactViewEnabled="$compactViewEnabled">
							#if($compactViewEnabled)
							<input name="compactViewEnabled" type="checkbox" value="true" checked="checked" class="filled-in compact-view-checkbox">
							#else
							<input name="compactViewEnabled" type="checkbox" value="true" class="filled-in compact-view-checkbox">
							#end
							<span>$!lang.get('posts.compactview')</span>
						</label>
					</div>
					<div class="col l2 m4 s12">
						<div class="center-align pvm">
							<button type="submit" class="btn small waves-effect waves-light">$!lang.get('apply')</button>
						</div>
						<div class="center-align pvm">
							<input id="question-filter-clear-btn" type="submit" class="btn btn-flat white"
										 name="clear" value="$!lang.get('clear')">
						</div>
					</div>
				</div>
			</form>
		</div>

		#if (!$questionslist || $questionslist.isEmpty())
			<div class="card-panel hugeText center-align grey-text">
				<div class="em5v">
					$!{lang.get("profile.posts.noquestions")}

					#if($localFilterOn && $authenticated && !$authUser.latlng)
					<br><a href="$settingslink">$!lang.get('settings.nolocation')</a>
					#end

					#if($tagFilterOn && $authenticated && $authUser.favtags.isEmpty())
						<br><a href="$settingslink">$!lang.get('settings.nofavtags')</a>
					#end
				</div>
			</div>
		#else
			#paginate("questions" $itemcount "" "page")
		#end
	#end
</div>