#if($currentSpace && !$currentSpace.isEmpty())
	<p class="mediumText grey-text">$scooldUtils.getSpaceName($!currentSpace)</p>
#end
<div class="page-wrapper">
	#if ($askSelected)
		<h2>$!lang.get("posts.ask")</h2>
		<hr>
		<div class="pts">
			<form method="post" id="ask-question-form">
				#sectoken(false "CREATE_POST")
				<div class="input-field">
					<i class="fa fa-paragraph pvm prefix grey-text"></i>
					<label for="title_text">$!lang.get('posts.title')</label>
					<input type="text" id="title_text" name="title" value="$!draftQuestion.title"
								 class="validate" maxlength="255" minlength="2" required>
					<div class="similar-posts pll mll mbs">
						<div class="similar-posts-title smallText grey-text mbs">$!lang.get('posts.similar')</div>
					</div>
					#getmessagebox("red white-text" $error.get("title"))
				</div>

				<i class="fa fa-pencil fa-2x left grey-text"></i>
				<div class="pll mll">
					<textarea class="edit-post" name="body" maxlength="$MAX_TEXT_LENGTH" minlength="10">$!draftQuestion.body</textarea>
					#getmessagebox("red white-text" $error.get("body"))
				</div>

				<div class="input-field">
					<i class="fa fa-tag fa-2x grey-text prefix ptm"></i>
					<div class="chips chips-autocomplete" title="$!lang.get('tags.title')"></div>
					#set($tagz = "$!draftQuestion.tags")
					<input type="hidden" name="tags" value="$!tagz.join(',')">
					<div class="pll mll">
						#getmessagebox("red white-text" $error.get("tags"))
					</div>
				</div>

				#if($scooldUtils.isAllSpaces($currentSpace))
					#spaceselect()
				#end

				#if($scooldUtils.isNearMeFeatureEnabled())
					<a href="#" class="next-div-toggle mll pll click2hide">
						<i class="fa fa-map-marker"></i> $!lang.get("posts.location")
					</a>
					<div class="input-field hide">
						<i class="fa fa-map-marker ptm prefix grey-text"></i>
						<input id="location_text" name="location" class="locationbox validate" type="text" value=""
									 placeholder="$!{lang.get('profile.about.location')}">
						<input type="hidden" name="latlng" value="">
						<input type="hidden" name="address" value="">
					</div>
				#end

				<div><i class="fa fa-save save-icon green-text hidden-save-icon"></i> &nbsp;</div>
				<button class="btn mtl waves-effect waves-light" type="submit">
					<i class="fa fa-paper-plane left"></i>$!lang.get('post')
				</button>
			</form>
		</div>
	#else
		#macro(questionsTitle)
			#if ($tag)
				<small>$!lang.get("posts.tagged") <span class="grey-text text-darken-2">$!tag</span></small>
			#else
				$!lang.get("questions.title") #showcount($itemcount.count)
			#end
		#end

		<h4 class="hide-on-large-only">#questionsTitle()</h4>

		<div class="chips-container">
			#set($sortarr = {'votes': "", 'newest': "", 'activity': "", 'unanswered': "", 'unapproved': "", 'filter': ""} )
			#setsortbyselection($sortarr 'newest')
			<a href="${questionslink}$!{filter}" class="chip $sortarr.newest">$!lang.get("newest")</a>
			<a href="${questionslink}$!{filter}?sortby=votes" class="chip $sortarr.votes">$!lang.get("votes")</a>
			<a href="${questionslink}$!{filter}?sortby=activity" class="chip $sortarr.activity">$!lang.get("posts.updated")</a>
			<a href="${questionslink}$!{filter}?sortby=unanswered" class="chip $sortarr.unanswered">$!lang.get("posts.unanswered")</a>
			<a href="${questionslink}$!{filter}?sortby=unapproved" class="chip $sortarr.unapproved">$!lang.get("posts.unapproved")</a>

			#if ($authenticated)
				#if($request.getParameter('sortby'))#set($sortby = "?sortby=$request.getParameter('sortby')")#else#set($sortby = "")#end

				#if($scooldUtils.isNearMeFeatureEnabled())
					#if ($localFilterOn)#set($filterSelected1 = "grey darken-2 white-text")#else#set($filterPath1 = "/local")#end
					<a href="$questionslink$!{filterPath1}$!{sortby}" class="chip $!{filterSelected1}">
						<i class="fa fa-filter"></i> $!lang.get("posts.locationfilter")
					</a>
				#end

				#if ($tagFilterOn)#set($filterSelected2 = "grey darken-2 white-text")#else#set($filterPath2 = "/favtags")#end
				<a href="$questionslink$!{filterPath2}$!{sortby}" class="chip $!{filterSelected2}">
					<i class="fa fa-filter"></i> $!lang.get("posts.tagfilter")
				</a>
			#end
		</div>

		<h2 class="hide-on-med-and-down">#questionsTitle()</h2>
		<hr>

		#if (!$questionslist || $questionslist.isEmpty())
			<div class="card-panel hugeText center-align grey-text">
				<div class="em5v">
					$!{lang.get("profile.posts.noquestions")}

					#if($localFilterOn && $authenticated && !$authUser.latlng)
					<br><a href="$settingslink">$!lang.get('settings.nolocation')</a>
					#end

					#if($tagFilterOn && $authenticated && $authUser.favtags.isEmpty())
						<br><a href="$settingslink">$!lang.get('settings.nofavtags')</a>
					#end
				</div>
			</div>
		#else
			#paginate("\#questionspage(\$questionslist)" $itemcount "" "page")
		#end
	#end
</div>