#macro(reportspage $reports )
#foreach($showreport in $reports)
	<div class="reportbox card-panel #if ($showreport.closed)closed-report z-depth-0#end">
		<div class="row mbn">
			<div class="col m7 mediumText">
				#if ($showreport.closed)#set($hideCheck = "")#else#set($hideCheck = "hide")#end
				<div class="left mrl green-text report-closed-icon ${hideCheck}">#ico("check-circle" "")</div>
				#if($showreport.description && !$showreport.description.isEmpty())
					<small class="grey-text"><strong>$!lang.get("reports.$!{showreport.subType.toLowerCase()}")</strong></small>
					<br>
					$showreport.description
				#else
						$!lang.get("reports.$!{showreport.subType.toLowerCase()}")
				#end
			</div>
			<div class="col m5 r">
				#if($showreport.link && $showreport.link.length() > 1)
				<a href="$!showreport.link" class="btn green darken-1"><span class="white-text pas">↗</span>$!lang.get('reports.goto')</a>
				#end
			</div>
		</div>

		<div class="viewbox">
			<div class="row">
				<div class="col m12">
					#if($showreport.properties.size() > 0)
						#foreach($key in $showreport.properties.keySet())
							#if($key != "key" && $!showreport.properties.get($key))
								<div><code><b>$!key</b>: $!showreport.properties.get($key)</code></div>
							#end
						#end
					#end

					#if ($showreport.name && $showreport.content && !$showreport.content.isEmpty())
					<div>
						#if(!$showreport.name.startsWith("ParaObject "))
							<div><strong>$showreport.name</strong></div>
						#end
						#set($_showBody = $!showreport.content)
						<span>$_showBody</span>
					</div>
					#end

					#if ($showreport.solution && !$showreport.solution.isEmpty())
					#set($hide = "" )#else#set($hide = "hide" )#end
					<div class="${hide}">
						<strong title="$!lang.get('reports.actionstaken')">$!lang.get('reports.actionstaken'):</strong>
						<span class="report-solution-text">$!showreport.solution</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col m6 s12">
					<div class="valign-wrapper">
						#if ($showreport.closed)#set($hideClose = "hide")#else#set($hideClose = "")#end
						<a href="#" class="btn-flat editlink report-close-btn ${hideClose} pln" title="Close report">
							<strong>$!lang.get("close")</strong>
						</a>
						#if($showreport.parentid && !$showreport.parentid.isEmpty() && $lang.get("reports.awaitingapproval") == $showreport.description)
							<a href="$reportslink/$!showreport.id/approve" class="btn-flat approve-btn green-text ${hideClose}" title="Approve content">
								<strong>#ico("check-circle" "")&nbsp;$!lang.get("posts.approve")</strong>
							</a>
						#end
						#if($showreport.subType.toLowerCase() == "spam")
							<a href="$reportslink/$!showreport.id/confirm-spam?spam=false" class="btn-flat approve-btn green-text ${hideClose}" title="Not Spam">
								<strong>#ico("thumbs-up" "")&nbsp;Not Spam</strong>
							</a>
							<a href="$reportslink/$!showreport.id/confirm-spam?spam=true" class="btn-flat approve-btn red-text ${hideClose}" title="Confirm Spam">
								<strong>#ico("thumbs-down" "")&nbsp;Spam</strong>
							</a>
						#end
						#if ($showreport.closed)#set($hideOpen = "")#else#set($hideOpen = "hide")#end
						<a href="$reportslink/$!showreport.id/open" class="btn-flat report-open-btn pln ${hideOpen}" title="Reopen report">
							<strong>↶&nbsp;$!lang.get("reopen")</strong>
						</a>
						#if ($isAdmin)
						<a href="$reportslink/$!showreport.id/delete" title="Delete" class="btn-flat red-text delete-report">
							#ico("close" "") $!lang.get("delete")</strong>
						</a>
						#end
					</div>
				</div>
				<div class="col m6 s12 r">
					<strong>
						#ico("user-circle" "grey-text")
						#if ($showreport.creatorid)
						<a href="$profilelink/$!showreport.creatorid" title="Go to profile">$!showreport.authorName</a>
						#else
						<span>$!showreport.authorName</span>
						#end
					</strong> &nbsp;
					<span class="right grey-text">#ico("clock-o" "")#formatdate($!showreport.timestamp "")</span>
				</div>
			</div>

		</div>

		<div class="row hide editbox">
			<div class="col s12">
				<form method="post" action="$reportslink/$!showreport.id/close" class="close-report-form">
					#sectoken(false)
					<div class="input-field">
						<label>$!lang.get('reports.actionstaken')</label>
						<textarea name="solution" class="materialize-textarea mbm"></textarea>
					</div>
					<button type="submit" class="btn waves-effect waves-light report-solution-btn">$!lang.get('save') &amp; $!lang.get('close')</button>
				</form>
			</div>
		</div>
	</div>
#end
#end

#if($getreportform)
	#reportform($type $parentid $link)
#else
	<div class="page-wrapper">
		<div class="row valign-wrapper">
			<div class="col m8">
				<h2>$!lang.get("reports.title") #showcount($itemcount.count)</h2>
			</div>
			<div class="col m4 right-align">
				#if ($isAdmin && $unapprovedCount > 0)
				<span class="mrm">
					<a href="$reportslink/cleanup-unapproved" class="red-text post-refresh rusure">
						#ico("trash-o" "") $!lang.get('reports.cleanup')
					</a>
				</span>
				#end
				#if ($isAdmin && $itemcount.count > 0)
				<strong>
					<a href="$reportslink/delete-all" class="red-text post-refresh rusure">
						#ico("close" "") $!lang.get('deleteall')
					</a>
				</strong>
				#end
			</div>
		</div>

		<div class="preview-dialog jqmWindow hide"> <div class="center">#ajaxloading(false)</div></div>
		#if ($itemcount.count == 0)
			<div class="largeText center-align grey-text">
				<div class="em5v">
					<div class="hugeText mvl">#ico("check-circle" "")</div>
					$!lang.get("about.reports.2")
				</div>
			</div>
		#else
			#paginate("reports" $itemcount "" "page")
		#end
	</div>
#end





