#if($currentSpace && !$currentSpace.isEmpty())
	<p class="mediumText grey-text">$scooldUtils.getSpaceName($!currentSpace)</p>
#end
<div class="page-wrapper">
	<h2>
		#if ($showParam)
			#if ($showParam == "questions")
				$!lang.get("questions.title") #showcount($itemcount.count)
			#elseif ($showParam == "answers")
				$!lang.get("answers.title") #showcount($itemcount.count)
			#elseif ($showParam == "feedback")
				$!lang.get("feedback.title") #showcount($itemcount.count)
			#elseif ($showParam == "people")
				$!lang.get("people.title") #showcount($itemcount.count)
			#elseif ($showParam == "comments")
				$!lang.get("comments.title") #showcount($itemcount.count)
			#end
		#else
			$!lang.get("search.title")
		#end
		<span class="grey-text text-darken-1 smallText">$!searchQuery</span>
	</h2>
	<hr>

	#if ($showParam)
		#if ($itemcount.count == 0)
			<div class="card-panel hugeText center-align grey-text">
				<div class="em5v">
					$!lang.get("search.notfound")
				</div>
			</div>
		#end

		#if ($showParam == "questions")
			#paginate("questions" $itemcount $params "page")
		#elseif ($showParam == "answers")
			#paginate("answers" $itemcount $params "page")
		#elseif ($showParam == "feedback")
			#paginate("feedback" $itemcount $params "page")
		#elseif ($showParam == "comments")
			#paginate("simplecomments" $itemcount $params "page")
		#elseif ($showParam == "people")
			<div class="row">
				#paginate("people" $itemcount $params "page")
			</div>
		#end
	#else

		#if ($questionslist.isEmpty() && $answerslist.isEmpty() && $feedbacklist.isEmpty() && $userlist.isEmpty() && $commentslist.isEmpty())
			<div class="card-panel hugeText center-align grey-text">
				<div class="em5v">
					$!lang.get("search.notfound")
				</div>
			</div>
		#end

		#if (!$questionslist.isEmpty())
			<div class="largeText pvl">$!lang.get("questions.title")</div>
			#questionspage($questionslist)
			<div class="mvl">
				<a href="$searchlink/questions/$!searchQuery" class="btn waves-effect waves-light">$!lang.get("more")</a>
			</div>
		#end

		#if (!$answerslist.isEmpty())
			<div class="largeText pvl">$!lang.get("answers.title")</div>
			#compactanswerspage($answerslist)
			<div class="mvl">
				<a href="$searchlink/answers/$!searchQuery" class="btn waves-effect waves-light">$!lang.get("more")</a>
			</div>
		#end

		#if (!$userlist.isEmpty())
			<div class="largeText pvl">$!lang.get("people.title")</div>
			<div class="row">
				#peoplepage($userlist)
			</div>
			<div class="mvl">
				<a href="$searchlink/people/$!searchQuery" class="btn waves-effect waves-light">$!lang.get("more")</a>
			</div>
		#end

		#if (!$commentslist.isEmpty())
			<div class="largeText pvl">$!lang.get("comments.title")</div>
			#simplecommentspage($commentslist)
			<div class="mvl">
				<a href="$searchlink/comments/$!searchQuery" class="btn waves-effect waves-light">$!lang.get("more")</a>
			</div>
		#end

		#if (!$feedbacklist.isEmpty())
			<div class="largeText pvl">$!lang.get("feedback.title")</div>
			#questionspage($feedbacklist)
			<div class="mvl">
				<a href="$searchlink/feedback/$!searchQuery" class="btn waves-effect waves-light">$!lang.get("more")</a>
			</div>
		#end

	#end
</div>
