<div id="fb-root"></div>

<div class="ptl">
	<div class="row ptl">
		<div class="col s12 m6 offset-m3 center">
			<div class="card-panel grey lighten-4">
				<h2 class="grey-text text-darken-2 pbl">$!lang.get("signin.title")</h2>
				<div class="mvl pvs">
					<a id="fb-login-btn" href="#" class="btn-large indigo lighten-1 truncate">
						<i class="fa fa-facebook left"></i> $!lang.get("signin.facebook")
					</a>
				</div>
				<div class="mvl pvs">
					<a id="g-login-btn" href="#" class="btn-large white grey-text text-darken-1 truncate pls prl">
						<img src="$imageslink/google.svg" width="54" height="54" alt="Google logo" class="left"/> $!lang.get("signin.google")
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://apis.google.com/js/api:client.js"></script>
<script src="$scriptslink/signin.js"></script>