<div id="fb-root"></div>

#if($register)
<div class="page-wrapper">
	<div class="row ptl">
		<div class="col s12 m12 l6 offset-l3 center">
			<div class="card-panel">
				#if($resend)
					<h3 class="grey-text text-darken-2 pbl">$!lang.get("signup.resend")</h3>
				#else
					<h2 class="grey-text text-darken-2 pbl">$!lang.get("signup.title")</h2>
				#end
				<div class="phl">
					#if($nosmtp)
						<b class="orange-text"><i class="fa fa-warning"></i> $!lang.get('signup.nosmtp1') $!lang.get('signup.nosmtp2')</b>
					#end
					#if($verify)
						<h1><i class="fa fa-envelope-open-o fa-2x green-text"></i></h1>
						<p>$!lang.get('signin.verify.text')</p>
					#elseif($verified)
						<h1><i class="fa fa-check-circle fa-2x green-text"></i></h1>
						<p>$!lang.get('signin.verify.done')</p>
						<a href="$signinlink?email=$!verifiedEmail" class="btn">$!lang.get("signin.title")</a>
					#else
						#if($resend)
							#set($action = "$signinlink/register/resend" )
						#else
							#set($action = "$signinlink/register" )
						#end
						<form method="post" action="$action" id="captcha-form">
							#sectoken(false "REGISTER_USER")
							#if(!$resend)
							<div class="input-field mvm">
								<label for="name">$!lang.get('name')</label>
								<input id="name" type="text" name="name" value="$!name" required>
							</div>
							#end
							<div class="input-field mvm">
								<label for="email">$!lang.get('signup.form.email')</label>
								<input id="email" type="email" name="email" value="$!bademail" pattern="$!{emailPattern}" required>
								#getmessagebox("red white-text" $error.get("email"))
							</div>
							#if(!$resend)
							<div class="input-field mvm">
								<label for="passw">$!lang.get('password')</label>
								<input id="passw" type="password" name="passw" value="" minlength="$MIN_PASS_LENGTH" required>
								<div><small id="pass-meter-message" class="grey-text"></small></div>
								#getmessagebox("red white-text" $error.get("passw"))
							</div>
							#end

							#if(!$resend)
							<div class="mvl">
								<a href="$signinlink/register?resend=true">$!lang.get('signup.resend')</a>
							</div>
							#end
							<div class="input-field mvm leaveblank">
								<label>Leave blank</label>
								<input type="text" name="leaveblank" value="">
								<input type="hidden" name="timestamp" value="$utils.timestamp()">
							</div>
							#if($captchakey.isBlank())
								<button type="submit" class="btn">
							#else
								<button data-sitekey="$!captchakey" data-callback="onSubmit" data-action="submit" class="btn g-recaptcha">
							#end
									#if($resend)$!lang.get('send')#else$!lang.get('signup.title')#end
								</button>
						</form>
					#end
				</div>
			</div>
		</div>
	</div>
</div>
#elseif($iforgot)
<div class="page-wrapper">
	<div class="row ptl">
		<div class="col s12 m12 l6 offset-l3 center">
			<div class="card-panel lighten-4">
				<h2 class="grey-text text-darken-2 pbl">$!lang.get("iforgot.title")</h2>
				<div class="pal">
					#if($nosmtp)
						<b class="orange-text"><i class="fa fa-warning"></i> $!lang.get('signup.nosmtp1')</b>
					#end
					#if($verify)
					<h1><i class="fa fa-envelope-open-o fa-2x green-text"></i></h1>
					<p>$!lang.get('signin.verify.text')</p>
					#elseif($verified)
					<h1><i class="fa fa-check-circle fa-2x green-text"></i></h1>
					<p>$!lang.get('done')</p>
					<a href="$signinlink" class="btn">$!lang.get("signin.title")</a>
					#else
					<form method="post" action="$signinlink/iforgot" id="captcha-form">
						#sectoken(false "FORGOTTEN_PASS")
						<div class="mvm">
							#getmessagebox("red white-text" $error.get("email"))
							<input type="hidden" name="token" value="$!token">
							<div class="input-field">
								<label for="email">Email</label>
								<input id="email" type="email" name="email" value="$!email" required>
							</div>
						</div>
						#if($token)
							<div class="input-field mvm">
								<label for="newpassword">$!lang.get('newpassword')</label>
								<input id="newpassword" type="password" name="newpassword" value="" minlength="$MIN_PASS_LENGTH" required>
								<div><small id="pass-meter-message" class="grey-text"></small></div>
								#getmessagebox("red white-text" $error.get("newpassword"))
							</div>
						#end
						#if($token)
							<button type="submit" class="btn">$!lang.get('change')</button>
						#else
							#if($nosmtp)#set($nosend = "disabled='disabled'")#else#set($nosend = "")#end
							#if($captchakey.isBlank())
								<button type="submit" class="btn" $nosend>
							#else
								<button data-sitekey="$!captchakey" data-callback="onSubmit" data-action="submit" class="btn g-recaptcha" $nosend>
							#end
									$!lang.get('send')
								</button>
						#end
					</form>
					#end
				</div>
			</div>
		</div>
	</div>
</div>
#else
<div class="page-wrapper">
	<div class="row ptl">
		<div class="col s12 m12 l10 offset-l1 center">
			<div class="card-panel lighten-4">
				<h2 class="grey-text text-darken-2 pbl">$!lang.get("signin.title")</h2>

				#if($ldapLoginEnabled || $passwordLoginEnabled)
					#set($leftColSize = "col l5 m6 s12" )
					#set($rightColSize = "col l7 m6 s12" )
				#else
					#set($leftColSize = "hide" )
					#set($rightColSize = "col l8 offset-l2 m10 offset-m1 s12" )
				#end

				#if(!$fbLoginEnabled && !$gpLoginEnabled && !$ghLoginEnabled && !$inLoginEnabled && !$twLoginEnabled &&
						!$msLoginEnabled && !$slLoginEnabled && !$azLoginEnabled && !$oa2LoginEnabled && !$oa2secondLoginEnabled && !$oa2thirdLoginEnabled)
					#set($leftColSize = "col l6 offset-l3 s12" )
					#set($rightColSize = "hide" )
				#end

				<div class="row">
					<div class="${leftColSize}">
						#if($passwordLoginEnabled)
						#if($rightColSize != "hide")
							<h4>$!lang.get('signin.password')</h4>
						#end
						<div class="pal">
							<form method="post" id="password-login-form">
								#sectoken(false "SIGNIN_PASS")
								<div class="input-field mvm">
									<label for="email">$!lang.get('signup.form.email')</label>
									<input id="email" type="email" value="$!request.getParameter('email')" name="username" required>
									#if($!request.getParameter('code') == "6")
										<a href="$signinlink/register?resend=true&email=$!request.getParameter('email')">$!lang.get('signup.resend')</a>
									#end
								</div>
								<div class="input-field mvm">
									<label for="passw">$!lang.get('password')</label>
									<input id="passw" type="password" value="" minlength="6" name="password" required>
								</div>
								<input type="hidden" name="provider" value="password">
								<input type="hidden" name="access_token" value="password">
								<div class="mtl">
									<button type="submit" class="btn">$!lang.get('signin.title')</button>
								</div>
							</form>
							<br>
							<a href="$signinlink/register">$!lang.get('signup.title')</a> &nbsp;&bull;&nbsp;
							<a href="$signinlink/iforgot">$!lang.get('iforgot.title')</a>
						</div>
						#end

						#if($ldapLoginEnabled)
						<h4>$!ldapLoginProvider</h4>
						<div class="pal">
							<form method="post" id="ldap-login-form">
								#sectoken(false "SIGNIN_LDAP")
								<div class="input-field mvm">
									<label for="username">Username</label>
									<input id="username" name="username" type="text" value="" required>
								</div>
								<div class="input-field mvm">
									<label for="password">$!lang.get('password')</label>
									<input id="password" name="password" type="password" value="" required>
								</div>
								<input type="hidden" name="provider" value="ldap">
								<input type="hidden" name="access_token" value="ldap">
								<div class="mtl">
									<button type="submit" class="btn">$!lang.get('signin.title')</button>
								</div>
							</form>
						</div>
						#end
					</div>
					<div class="${rightColSize}">

						<div class="row">
							<div class="col s12 m12 l8 offset-l2 center">
								#if($fbLoginEnabled)
								<div class="mvl pvs">
									<form action="${CONTEXT_PATH}/signin?provider=facebook" method="POST">
										<input type="hidden" name="access_token" value="">
										<button type="submit" class="hide">submit</button>
										<a id="fb-login-btn" href="#" class="btn-large indigo lighten-1 truncate">
											<i class="fa fa-facebook-official left"></i> $!lang.get("signin.facebook")
										</a>
									</form>
								</div>
								#end

								#if($gpLoginEnabled)
								<div class="mvl pvs">
										<a id="gp-login-btn" href="$!scooldUtils.googleLoginURL" class="btn-large white grey-text text-darken-1 truncate pls prl">
											<img src="$imageslink/google.svg" width="54" height="54" alt="Google logo" class="left"/>
											$!lang.get("signin.google")
										</a>
									</div>
								#end

								#if($ghLoginEnabled)
									<div class="mvl pvs">
										<a id="gh-login-btn" href="$!scooldUtils.gitHubLoginURL" class="btn-large grey darken-3 white-text truncate">
											<i class="fa fa-github left"></i> $!lang.get("signin.github")
										</a>
									</div>
								#end

								#if($inLoginEnabled)
									<div class="mvl pvs">
										<a id="in-login-btn" href="$!scooldUtils.linkedInLoginURL" class="btn-large light-blue darken-3 white-text text-darken-1 truncate">
											<i class="fa fa-linkedin left"></i> $!lang.get("signin.linkedin")
										</a>
									</div>
								#end

								#if($twLoginEnabled)
									<div class="mvl pvs">
										<a id="tw-login-btn" href="$!scooldUtils.twitterLoginURL" class="btn-large light-blue white-text lighten-1 truncate">
											<i class="fa fa-twitter left"></i> $!lang.get("signin.twitter")
										</a>
									</div>
								#end

								#if($msLoginEnabled)
									<div class="mvl pvs">
										<a id="ms-login-btn" href="$!scooldUtils.microsoftLoginURL" class="btn-large blue-grey white-text darken-2 truncate">
											<i class="fa fa-windows left"></i> $!lang.get("signin.microsoft")
										</a>
									</div>
								#end

								#if($slLoginEnabled)
									<div class="mvl pvs">
										<a id="sl-login-btn" href="$!scooldUtils.slackLoginURL" class="btn-large truncate pls prl">
											<img src="https://cdn.brandfolder.io/5H442O3W/as/pl546j-7le8zk-199wkt/Slack_Mark.svg"
													 width="54" height="54" alt="Slack logo" class="left"/> $!lang.get("signin.slack")
										</a>
									</div>
								#end

								#if($azLoginEnabled)
									<div class="mvl pvs">
										<a id="az-login-btn" href="$!scooldUtils.amazonLoginURL" class="btn-large truncate pls prl">
											<img src="$imageslink/amazon.svg" width="50" height="50" alt="Amazon logo" class="left pts phm"/>
											$!lang.get("signin.amazon")
										</a>
									</div>
								#end

								#if($oa2LoginEnabled)
									<div class="mvl pvs">
										<a id="oa2-login-btn" href="$!scooldUtils.oAuth2LoginURL" class="btn-large grey darken-2 truncate">
											<i class="fa fa-sign-in left"></i> $!oa2LoginProvider
										</a>
									</div>
								#end

								#if($oa2secondLoginEnabled)
									<div class="mvl pvs">
										<a id="oa2second-login-btn" href="$!scooldUtils.oAuth2SecondLoginURL" class="btn-large grey darken-2 truncate">
											<i class="fa fa-sign-in left"></i> $!oa2secondLoginProvider
										</a>
									</div>
								#end

								#if($oa2thirdLoginEnabled)
									<div class="mvl pvs">
										<a id="oa2third-login-btn" href="$!scooldUtils.oAuth2ThirdLoginURL" class="btn-large grey darken-2 truncate">
											<i class="fa fa-sign-in left"></i> $!oa2thirdLoginProvider
										</a>
									</div>
								#end
							</div>
						</div>

					</div>
				</div>
				<small class="grey-text">$!lang.get('signup.form.termsofuse')</small>
			</div>
		</div>
	</div>
</div>
#end
