<div class="page-wrapper">
	<h4 class="hide-on-large-only">$!lang.get("tags.title") #showcount($itemcount.count)</h4>

	<div class="chips-container">
		#set($sortarr = {'popular': "", 'tag': ""} )
		#setsortbyselection($sortarr 'popular')
		<a href="$tagslink#sortorderparam('?')" title="Most used tags" class="chip $sortarr.popular">#sortordericon() $!lang.get("posts.mostpopular")</a>
		<a href="$tagslink?sortby=tag#sortorderparamasc('&' 'tag')" title="Tags by name" class="chip $sortarr.tag">#sortordericon("tag") $!lang.get("name")</a>
		#if($isMod)
		<a href="#" title="Add tag" class="chip orange-text next-div-toggle"><i class="fa fa-plus-circle"></i> <b>$!lang.get('add')</b></a>
		#end
	</div>

	<h2 class="hide-on-med-and-down">$!lang.get("tags.title") #showcount($itemcount.count)</h2>

	<div class="hide mam z-0">
		<form method="post" id="create-tags-form" action="$tagslink/create">
			##sectoken(false "CREATE_TAGS") ## BREAKS AJAX - NOT USED
			<div class="lightborder pal">
				<div class="row mbn">
					<div class="col s12 m11">
						<div class="input-field">
							<label for="name_text">$!lang.get('tags.title')</label>
							<input type="text" id="name_text" name="tags" class="validate" maxlength="400" minlength="2" placeholder="e.g. tag1, tag2, tag3" required>
						</div>
					</div>
					<div class="col s12 m1 ce">
						<button class="btn waves-effect waves-light mtl" type="submit">$!lang.get('add')</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	#if($tagslist.isEmpty())
		<div class="card-panel hugeText center-align grey-text">
			<div class="em5v">
				$!{lang.get("search.notfound")}
			</div>
		</div>
	#else
		#macro(tagspage )
			#foreach($showtag in $tagslist)
			<div class="col m3">
				<div class="card-panel pvl tagbox">
					<strong class="right tag-count">&times; $!showtag.count</strong>
					<i class="fa fa-tag grey-text"></i>&nbsp;
					<a href="$questionslink/tag/$!utils.urlEncode($showtag.tag)" title="Posts tagged $!showtag.tag" class="mrs">
						$!showtag.tag
					</a>
					#if($isMod)
						<a href="#" title="Rename" class="next-div-toggle"><i class="fa fa-pencil-square orange-text"></i></a>
						<div class="row mbn hide">
							<form method="post" class="tag-rename-form">
								<div class="col s12 m8">
									<div class="input-field">
										<label for="new-tag-${showtag.tag}">$!lang.get('tags.tag')</label>
										<input type="text" id="new-tag-${showtag.tag}" name="newtag" class="validate" value="$!showtag.tag" required>
										<input type="hidden" name="tag" class="validate" value="$!showtag.tag">
									</div>
									<a href="$tagslink/delete?tag=$!showtag.tag" class="red-text delete-tag">$!lang.get('delete')</a>
								</div>
								<div class="col s12 m4 r">
									<button class="btn mtl waves-effect waves-light" type="submit">$!lang.get('save')</button>
								</div>
							</form>
						</div>
					#end
				</div>
			</div>
			#end
		#end
		<div class="row">
			#paginate("tags" $itemcount "" "page")
		</div>
	#end
</div>