<div class="page-wrapper">
	#if ($showLocale)
		<h2>
			<a href="$translatelink"><i class="fa fa-globe"></i></a>
			#if ($showIndex >= 0)
				#set($indx = $showIndex + 1)
				<a href="$translatelink/$showLocale" class="capitalize">$showLocale.getDisplayName($showLocale)</a>
				<span class="grey-text">#$indx</span>
			#else
				<span class="capitalize">$showLocale.getDisplayName($showLocale)</span>
			#end
			<span class="grey-text right">$!{showLocaleProgress}%</span>
		</h2>
		<hr>

		#if ($showIndex >= 0)
			#set($indx = $showIndex + 1)
			#set($nexti = $indx + 1)
			#set($previ = $indx - 1)
			#if ($nexti > $!langkeys.size()) #set($nexti = 1) #end
			#if ($previ <= 0) #set($previ = $!langkeys.size()) #end
			<div class="row mediumText">
				<div class="col m4">
					<a href="$translatelink/$showLocale/$!previ" title="Previous"><i class="fa fa-arrow-left"></i> $!lang.get("prev")</a>
				</div>
				<div class="col m4 center">
					<span class="chip">$indx / $!lang.size()</span>
				</div>
				<div class="col m4 r">
					<a href="$translatelink/$showLocale/$!nexti" title="Next">$!lang.get("next") <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>

			#set($langkey = $!langkeys.get($showIndex))
			<div class="mvl center mediumText">$!deflang.get($!langkey)</div>
			<div class="pvl center-align"><i class="fa fa-arrow-down fa-2x grey-text"></i></div>

			#if (!$isTranslated)
				<div class="newtranslationform">
					<form method="post" class="new-translation-form">
						#sectoken(false "ADD_TRANSLATION")
						<div class="input-field">
							<p class="center-align">Translate here:</p>
							<textarea class="materialize-textarea center-align" rows="2" cols="3" name="value" tabindex="1" required></textarea>
						</div>
						<div class="center mtm">
							<button id="addcont-translation-btn" type="submit" class="btn waves-effect waves-light">
								$!lang.get('add') &amp; $!lang.get('continue')</button>
						</div>
					</form>
				</div>
			#end

			<br>
			<div id="translations">
				#paginate("\#translationspage(\$translationslist)" $itemcount "" "page")
			</div>
		#elseif ($newtranslation)
			#translationbox($!newtranslation)
		#else
			<div class="center">
				#foreach($!langKey in $!langkeys)
					<span class="mrl l pvs">
						#if ($isTranslated)
							<i class="fa fa-check-circle green-text mediumText mrs" title="Translated and approved" ></i>
						#end
						#set($transthis = $!deflang.get($!langKey) )
						<a href="$translatelink/$showLocale/$foreach.count" title="$!{transthis}">$!utils.abbreviate($!transthis, 35)</a>
					</span>
				#end
			</div>
		#end
	#end
</div>