#macro(basichead $showdesc $showkeyw)
	#if ($IN_PRODUCTION)
		#set($slink = $CDN_URL)
		#set($ilink = $CDN_URL)
		#set($minsuffix = "-min")
	#else
		#set($slink = "$context/styles")
		#set($ilink = "$context/images")
		#set($minsuffix = "")
	#end
	<title>$APPNAME $!title </title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link href="$ilink/logosq.png" rel="image_src"/>
	<link href="$ilink/logosq.png" rel="apple-touch-icon"/>
	<link href="$ilink/favicon.ico" rel="shortcut icon"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link href="$slink/style$!{minsuffix}.css" rel="stylesheet" type="text/css" media="screen"/>
	#if ($showdesc && !$showdesc.isEmpty())
		<meta name="description" content="$showdesc"/>
	#end
	#if ($showkeyw && !$showkeyw.isEmpty())
		<meta name="keywords" content="$showkeyw"/>
	#end
	<meta property="fb:app_id" content="99517177417" />
#end
################# DEFINE MACROS ################################################
#macro(getcontactlinkcode $showcontact)
#if ($showcontact)
#if ($showcontact.value.startsWith("http://") || $showcontact.value.startsWith("https://") || $showcontact.value.startsWith("www."))
<a href="$showcontact.value" class="extlink" rel="no-follow">$!showcontact.value</a>
#else $!showcontact.value #end#end#end
################# COMMENTS MACROS #####################
#macro(newcommentform $parentid $hidden $uri)
#if ($hidden) #set($hide = "hide") #else	#set($hide = "") #end
<div class="newcommentform mvm ${hide}">
	<form method="post" class="new-comment-form">
		<fieldset>
			#sectoken(false)
			<div class="line">
				<div class="unit size4of5">
					<textarea rows="2" cols="4" name="comment"></textarea>
					<input type="hidden" name="parentid" value="$!parentid"/>
					<input type="hidden" name="getcommenthtmlcode" value="true"/>
				</div>
				<div class="unit size1of5  center">
					<button type="submit" class="btn waves-effect waves-light new-comment-btn">$!lang.get('add')</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
#end
###########################################
#macro(commentbox $showcomment)
#set($thisuri = $request.getAttribute('javax.servlet.forward.request_uri'))
#if ($showcomment == "")	#set($hide = "hide") #else #set($hide = "")	#end
<div class="commentbox pas ${hide}">
	#if ($showcomment.hidden)
	#set($hidden = "hide")
	<span>$!lang.get("comments.hidden") &nbsp;</span>
	<a href="#" title="$!lang.get('comments.show')" class="show-comment">$!lang.get("comments.show")</a>
	#else
	#set($hidden = "noclass")
	#end

	<div class="${hidden}">
		<div class="left">
			<span class="lightgray pictos">w</span>
			#set($commentAuthor = {'name': $!showcomment.author, 'id': $showcomment.creatorid})
			<span class="comment-author">#personlink($commentAuthor):</span>&nbsp;
			<span class="comment-text">$!showcomment.comment</span>
		</div>
		<div class="right">
			<span class="comment-timestamp mrs"><span class="pictos">t</span> #formatdate($showcomment.timestamp '')</span>
			#votebox($showcomment "mrs")
			#if ($showcomment == "")
			#getreportlink($showcomment "$commentlink/$!showcomment.id" "chip notext")
			<a href="${thisuri}" title="$!lang.get('delete')" class="red delete-comment pictos">D</a>
			#elseif ($authenticated && ($showcomment.creatorid == $authUser.id || $request.isUserInRole("mod")))
			<a href="${thisuri}${amp}deletecomment=$!showcomment.id" title="$!lang.get('delete')" class="red delete-comment pictos">D</a>
			#else
			#getreportlink($showcomment "$commentlink/$!showcomment.id" "chip notext")
			#end
		</div>
	</div>
</div>
#end
####################################
#macro(commentspage $comments)
#foreach($comment in $comments)
#commentbox($comment)
#end
#commentbox("") ## empty box to be cloned
#end
####################################
#macro(commentspagepreview $comments $count)
#if ($comments)
#if ($comments.size() > $count)
#set($countmo = $count - 1 )
#foreach($c in [0..$countmo])
#commentbox($comments.get($c))
#end

#if ($comments.size() > $count)
<a href="#" class="more-comments-btn chip">$!lang.get("more")</a>
<div class="hide">
	#set($countmo = $comments.size() - 1 )
	#foreach($c in [$count..$countmo])
	#commentbox($comments.get($c))
	#end
</div>
#end
#else
#foreach($comment in $comments)
#commentbox($comment)
#end
#end
#end
#commentbox("") ## empty box to be cloned
#end
################# QUESTIONS MACROS #####################
#macro(newanswerform $_form $showpost $hidden)
#if ($hidden) #set($hide = "hide") #else #set($hide = "noclass") #end
<div class="${hide}">
	<form method="post" id="$_form.id">
		#if ($_form.error)
		#getmessagebox("errorBox" $_form.error)
		#end
		<fieldset>
			#sectoken(false)
			#if ($showpost.isQuestion())
			<legend>$!lang.get("posts.youranswer")</legend>
			#else
			<legend>$!lang.get("feedback.writereply")</legend>
			#end
			<input type="hidden" name="answer" value="true"/>
			<ol>
				<li>
					#createformfield(${_form.fields.body} "hidelabel edit-post unload-confirm")
					<div class="edit-preview"></div>
				</li>
			</ol>

			<div class="center">
				${_form.fields.answerbtn}
				<input type="button" value="$!lang.get('close')" class="btn waves-effect waves-light close-answer-form"/>
			</div>
		</fieldset>
	</form>
</div>
#end
###########################################
#macro(tagsbox $tags $link)
#foreach($showtag in $tags)
#if ($showtag && $showtag.trim() != "")
#if (!$link || $link.isEmpty())
<span class="chip mrs">
	<span class="pictos">z</span> $!showtag
</span>
#else
<a href="$link/tag/$!utils.urlEncode($showtag)" title="Posts tagged $!showtag" class="chip mrs">
	<span class="pictos">z</span> $!showtag
</a>
#end
#end
#end
#end
################# PAGINATION #####################
#macro(paginate $page $macroCode $count $params $mode)
#if ($pagenum && $pagenum.longValue() > 10000) #set($next = $page) #else #set($next = $page + 1) #end
#set($requri = $request.getAttribute("javax.servlet.forward.request_uri"))
#set($classes = "pagelink btn waves-effect waves-light")
#if ($params && !$params.isEmpty()) #set($reqURL = "$requri?${params}&page") #else #set($reqURL = "$requri?page") #end

<div class="page-content">#evaluate($macroCode)</div>
#if ($count && $count > $MAX_ITEMS_PER_PAGE && $macroCode && !$macroCode.trim().isEmpty())
<div class="pages center mtl">
	#if ($mode == "pageless") #set($classes = "$classes more-link" ) #else #set($classes = "$classes more-link-na" ) #end
	<a href="$reqURL=$!next" class="more-link-na ${classes}" title="Load more">$!lang.get("more")</a>
	<span class="hide page-macro-code">$!macroCode</span>
</div>
#end
#end
####################################
#macro(contactsjs $contacts )#foreach($contact in $contacts) {id:"$contact.id", name:"$contact.name"}#if ($velocityCount < $contactslist.size()),#end#end#end
####################################
#macro(smallpersonbox $showu)
<div class="userbox media pas user-$!{showu.id}">
	<div class="img mrm center">
		#if ($showu)
		<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" title="$!showu.name">
			<img src="#profilepic($!showu)" width="50" height="50" alt="Profile picture"/>
		</a>
		#else
		<img src="#profilepic($!showu)" width="50" height="50" alt="Profile picture"/>
		#end
	</div>
	<div class="bd">
		#if ($showu)
		<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" class="smallText">$showu.name</a>
		#else
		$!lang.get("profile.deleted")
		#end
		#if ($showu)
		<br />
		<span class="chip">$!utils.abbreviateInt($!showu.votes, 0)</span>
		<span class="lightgray">#usertitlebadge($showu)</span>
		#end
	</div>
</div>
#end
####################################
#macro(tinypersonbox $showu)
<div>
	#if ($showu)
	<a href="$profilelink/$!showu.creatorid/#stripstr($!showu.name)" title="$!showu.name [$!showu.votes]">
		<img src="#profilepic($!showu)" width="40" height="40" alt="Profile picture"/>
	</a>
	#else
	<img src="#profilepic($!showu)" width="40" height="40" alt="Profile picture"/>
	#end
</div>
#end
####################################
#macro(inactivepersonbox $showname $showclass)
<div class="userbox media pas">
	<div class="img mrm center">
		<img src="https://www.gravatar.com/avatar/?size=50&d=mm&r=pg" width="50" height="50" alt="Profile picture"/>
	</div>
	<div class="bd">
		<div class="smallText">
			$!showname
		</div>
	</div>
</div>
#end
####################################
#macro(personlink $showu)
<span>
	#if ($showu.groups && !$showu.groups.isEmpty())
	#if ($showu.groups == "mods")
	<span class="pictos" title="$!lang.get('mod')">S</span>
	#elseif ($showu.groups == "admins")
	<span class="pictos" title="$!APPNAME developer">b</span>
	<span class="pictos" title="$!lang.get('mod')">S</span>
	#else
	<span class="pictos">U</span>
	#end
	#end
	#if ($showu)
	#if ($showu.name)
	#set($seopsuffix = "/#stripstr($!showu.name)" )
	#else
	#set($seopsuffix = "" )
	#end
	<a href="$profilelink/$!{showu.id}$!{seosuffix}" title="Go to profile">$!showu.name</a>
	#else
	$!lang.get("profile.deleted")
	#end
</span>
#end
####################################
#macro(peoplepage $people)
<div class="row">
	#foreach($showFriend in $people)
	<div class="col s12 m6 l4">
		<div class="card hoverable">
			<div class="row valign-wrapper">
				<div class="col s4">
					<img src="#profilepic($showFriend)" alt="$showFriend.name" class="responsive-img pts pls">
				</div>
				<div class="col s8">
					<div class="mediumText">
						<a href="$profilelink/${showFriend.creatorid}/#stripstr($!showFriend.name)">$!{showFriend.name}</a>
					</div>
					<span class="chip mtm" title="$!lang.get('reputation')">$utils.abbreviateInt($!showFriend.votes, 0)</span>
					#if($showFriend.badges && $showFriend.badges.length() > 2)
						$showFriend.badges.split(",").size() <i class="fa fa-star yellow-text text-darken-3"></i>
					#end
					#if (!$authenticated || ($authenticated && $showFriend.id != $authUser.id))
						#getreportlink($showFriend "$profilelink/$showFriend.id" "mll notext")
					#end
					<div class="grey-text r prl" title="$!{lang.get('profile.about.lastseen')}">
						<i class="fa fa-clock-o"></i> #formatdate($!{showFriend.lastseen} "")
					</div>
				</div>
			</div>
		</div>
	</div>
	#end
</div>
#end
####################################
#macro(getreportlink $reportable $link $clazz)
#if ($reportable)
#set($requri = $request.getAttribute("javax.servlet.forward.request_uri"))
#set($_href = "${requri}?getreportform=true&parentid=$!reportable.id&type=$!reportable.type")
#if (!$link.isEmpty())
#set($encodedLink = $utils.urlEncode($link))
#set($_href = "${_href}&link=$encodedLink")
#end
#if ($reportable.parentid && !$reportable.parentid.isEmpty())
#set($_href = "${_href}&grandparentid=$reportable.parentid")
#end
#if ($clazz.contains("notext")) #set($showtxt = "" ) #else #set($showtxt = " $!lang.get('report')") #end
<a href="#main-modal" title="Report a problem" data-fetch="$!{_href}" class="modal-trigger $!{clazz}">
	<span class="fa fa-flag"></span> $showtxt
</a>
#end
#end
####################################
#macro(questionspage $posts )
#foreach($post in $posts)
#questionbox($post)
#end
#end
####################################
#macro(questionbox $showpost )
#set($actionlink = "#getpostlink($showpost false true)")
#set($actionlink2 = "#getpostlink($showpost true true)")

<div class="card-panel hoverable">
	<div class="right mlm center">
		#set($author = $showpost.author)
		#tinypersonbox($author)
		<div class="smallText lightgray">
			<span class="pictos">t</span>
			#formatdate($showpost.timestamp "")
		</div>
		#if (!$authenticated || ($authenticated && $showpost.creatorid != $authUser.id))
		#getreportlink($showpost "$questionlink/$!showpost.id" "chip notext")
		#end
	</div>
	<div class="media">
		#set($votes = $showpost.votes)
		#set($viewcount = $showpost.viewcount)
		#set($answercount = $showpost.answercount)

		#if (!$votes) #set($votes = 0) #end
		#if (!$viewcount) #set($viewcount = 0) #end
		#if (!$answercount) #set($answercount = 0) #end

		<div class="img">
			#if ($showpost.answerid) #set($bgclass = "lightbluebg" ) #else #set($bgclass = "" ) #end
			<div class="qstatsbox mrl pas center $!{bgclass}">
				<div class="largeText" title="$!lang.get('votes')">$!utils.abbreviateInt($!votes, 0)</div>
				<div class="line">
					<div class="unit size1of2" title="$!lang.get('answers.title')">$utils.abbreviateInt($!answercount, 0)</div>
					<div class="unit size1of2 " title="$!lang.get('posts.views')">$utils.abbreviateInt($!viewcount, 0)</div>
				</div>
			</div>
		</div>
		<div class="bd">
			#if ($showpost.deleteme)
			<span class="pictos red" title="$!lang.get('posts.marked')">#</span>
			#end
			<a href="$!actionlink/$showpost.id/#stripstr($!showpost.title)" class="mediumText">$!showpost.title</a>

			#set($showBody = $utils.stripHtml($utils.markdownToHtml($showpost.body)) )
			<div>$!utils.abbreviate($showBody, 160)</div>
			<div>#tagsbox($showpost.tags $actionlink2)</div>
		</div>
	</div>
</div>
#end
####################################
#macro(answerspage $answers $parentpost)
#foreach($answer in $answers)
#postbox($answer $parentpost)
#end
#end
####################################
#macro(compactanswerspage $answers)
#foreach($answer in $answers)
#answerbox($answer)
#end
#end
####################################
#macro(answerbox $showpost )
<div class="card-panel hoverable">
	<div class="right p">
		<span class="pictos">t</span> #formatdate($showpost.timestamp "")
	</div>
	<div>
		#set($votes = $showpost.votes)
		#if (!$votes) #set($votes = 0) #end

		<span class="chip mediumText mrl">$!votes</span>
		<span>
			<a href="$questionlink/$showpost.parentid#post-$!showpost.id" title="View answer">
				$!utils.abbreviate($showpost.body, 100).replaceAll('\s', ' ')
			</a>
		</span>
	</div>
</div>
#end
####################################
#macro(postbox $showpost $parentpost)
#if ($showpost.isReply())	#set($boxclass = "card") #else #set($boxclass = "" ) #end

#set($actionlink = "#getpostlink($showpost false true)")
#set($actionlink2 = "#getpostlink($showpost true true)")

<div class="postbox ${boxclass}">
	<div class="mbm">
		#if ($canEdit)
		<a href="#" title="Edit" class="editlink chip"><span class="pictos">W</span> $!lang.get("edit")</a>
		#end

		#if ($canComment)
		<a href="#" class="next-div-toggle chip" title="Add a comment"><span class="pictos">w</span> $!lang.get("comments.write")</a>
		#end

		#if ($showpost.lasteditby)
		<a href="$!postlink/$showpost.id/revisions" title="Revision history" class="chip"><span class="pictos">l</span> $!lang.get("revisions.title")</a>
		#end

		#if ($isMine || $request.isUserInRole("mod"))
		<a href="$!actionlink/$showpost.id/delete" class="post-refresh-ask chip" title="Delete"><span class="pictos">*</span> $!lang.get("delete")</a>
		#end

		#if ($request.isUserInRole("mod") && $showpost.isQuestion())
		#if ($showPost.isClosed())
		<a href="$!actionlink/$showpost.id/close" title="Reopen" class="post-refresh chip"><span class="pictos">)</span> $!lang.get("reopen")</a>
		#else
		<a href="$!actionlink/$showpost.id/close" title="Close" class="post-refresh-ask chip"><span class="pictos">(</span> $!lang.get("close")</a>
		#end
		#end

		#if ($request.isUserInRole("admin"))
		<a href="${adminlink}?delete=post&id=$showpost.id" title="Delete" class="chip red"><span class="pictos">*</span> $!lang.get("delete")</a>
		#end

		#if (!$authenticated || ($authenticated && $showpost.creatorid != $authUser.id))
		#getreportlink($showpost "$questionlink/$!showpost.id" "chip")
		#end

		#if ($canComment)
		#newcommentform($showpost.id true "$questionlink/$showpost.id")
		#end
	</div>

	<div class="line lightgraybg prs plm pts">
		<div class="unit size1of2">
			#votebox($showpost "hugeText mtm mrl")
			<span class="right mtm">
				#set($approvedAnswer = $showpost.id.equals($parentpost.answerid) )
				#if ($approvedAnswer)
				#set($onclass = "green")
				#set($picon = "2")
				#else
				#set($onclass = "")
				#set($picon = "3")
				#end
				#if ($authenticated && $showpost.isReply() && $parentpost.creatorid.equals($authUser.id))
				<a href="$!actionlink/$parentpost.id/approve/$showpost.id" class="megaText pictos approve-answer nodecoration $!{onclass}" title="Approve answer">$picon</a>
				#elseif ($approvedAnswer)
				<span class="pictos megaText green">$picon</span>
				#end
			</span>
		</div>
		<div class="unit size1of2  r">
			#set($author = $showpost.author)
			#smallpersonbox($author)
		</div>
	</div>

	<div id="post-$!showpost.id" class="viewbox mbm">
		<div class="mbl pas">
			#set($_bodyHtml = $utils.markdownToHtml("$!showpost.body"))
			$!{_bodyHtml}

			#if ($showpost.tags && !$showpost.tags.isEmpty())
			<div class="mtm">#tagsbox($showpost.tags $actionlink2)</div>
			#end
		</div>

		#if ($showpost.lasteditby)
		<div class="line">
			<div class="unit size1of3">
				<span class="pictos">p</span>
				<strong>$!lang.get("posts.posted")</strong>
				<span class="pictos">t</span> #formatdate($showpost.timestamp "")
			</div>
			<div class="unit size2of3  r">
				#if ($showpost.lasteditby)
				<span class="pictos">W</span>
				<strong>
					<a href="$postlink/$showpost.id/revisions" title="Revision history">$!lang.get("posts.editby")</a>
				</strong>
				#personlink($showpost.lastEditor) <span class="pictos">t</span> #formatdate($showpost.lastactivity "")
				#end
			</div>
		</div>
		#end
	</div>
	#if ($canEdit)
	<div class="editbox lightgraybg pam hide">
		#set($_form = $showpost.editForm)
		#if ($_form)
		<form method="post" id="$_form.id">
			#if ($_form.error)
			#getmessagebox("errorBox" $_form.error)
			#end
			<fieldset>
				#sectoken(false)
				<input type="hidden" name="editpostid" value="$showpost.id"/>
				#createformfield(${_form.fields.body} "hidelabel edit-post")
				<div class="edit-preview"></div>
				#createformfield(${_form.fields.tags} "tagbox")

				<div class="center mtl">
					${_form.fields.editbtn}
					<input type="button" value="$!lang.get('close')" class="btn waves-effect waves-light canceledit"/>
				</div>
			</fieldset>
		</form>
		#end
	</div>
	#end

	<div class="comments post-comments">
		#if ($showpost && $showpost.commentcount > 0)
		#paginate($showpost.pagenum.longValue() "\#commentspagepreview(\$showpost.comments 2)" $showpost.commentcount "getcomments=true&parentid=$showpost.id" "pageless")
		#end
	</div>
</div>
#end
###################################
#macro(translationspage $translations $approvedmap)
#foreach($trans in $translations)
#set($approved = $approvedmap.containsKey($trans.key) && $approvedmap.get($trans.key).equals($trans.id))
#translationbox($trans $approved)
#end
#end
###################################
#macro(translationbox $showtrans $approved)
#set($timestamp = "#formatdate($showtrans.timestamp '')")
#set($thisuri = $request.getAttribute('javax.servlet.forward.request_uri'))
<div class="translationbox media">
	<div class="img mrm">
		#if ($request.isUserInRole("admin"))
		#if ($approved)
		#set($onclass = "green")
		#set($picon = "2")
		#else
		#set($onclass = "")
		#set($picon = "3")
		#end
		<a href="${thisuri}?approve=$showtrans.id" class="approve-translation largeText pictos nodecoration $!{onclass}" title="Approve">$picon</a>
		&nbsp;
		#end
		#votebox($showtrans "mediumText")
	</div>
	<div class="bd pts">
		<div class="trans-value">$!showtrans.value</div>
		<div class="right">
			#set($translAuthor = $!showtrans.author)
			#personlink($translAuthor)
			<span class="trans-timestamp"><span class="pictos">t</span> $!timestamp</span>
			#if ($authenticated && ($showtrans.creatorid == $authUser.id || $request.isUserInRole("admin")))
			<a href="${thisuri}?delete=$!showtrans.id" title="Delete" class="delete-translation red chip"><span class="pictos">*</span></a>
			#else
			#getreportlink($showtrans "$translatelink/$!showtrans.id" "chip notext")
			#end
		</div>
	</div>
</div>
#end
###################################
#macro(langbox $showLangKey $showLangName $progress  )
#if ($showLangKey.equals($currentLocale.language)) #set($selclass = "selected-lang") #else #set($selclass = "") #end
<div class="mrl mbm center langbox ${selclass}">
	<div class="mediumText mbs">
		#if ($selclass == "")
		<form action="$languageslink" method="post">
			<fieldset>
				#sectoken(false)
				<input type="hidden" name="setlocale" value="$!showLangKey"/>
				<button type="submit" class="btn waves-effect waves-light">$showLangName</button>
			</fieldset>
		</form>
		#else
		<span class="capitalize">$!{showLangName}</span>
		#end
	</div>
	<div>
		#if ($progress >= 90) #set($gclass = "green" )#elseif ($progress >= 50)#set($gclass = "orange" )#else #set($gclass = "red" )#end
		<span class="chip $!{gclass}" title="$!{progress}%">$!{progress}%</span>

		#if (!$showLangKey.equals("en"))
		<a href="$translatelink/$!showLangKey" title="$!{lang.get('translate.translate')}" class="chip">$!lang.get("translate.translate")</a>
		#end
	</div>
</div>
#end
###################################
#macro(badgebox $showbadge $num)
#set($badgeinfo = $!lang.get("about.badges.$showbadge") )
<span class="chip" title="$!badgeinfo">
	<span class="fa fa-star"></span>
	#if ($num && $num > 1) $!lang.get("$showbadge") <sup>$num</sup> #else $!lang.get("$showbadge") #end
</span>
#end
###################################
#macro(showcount $param )
#if ($param && $param > 1)
<small class="grey-text">$!param</small>
#end
#end
################# MISC MACROS #####################
#macro(votebox $votable $sizeClass)
#if ($votable)
#set($id = $!votable.id)
#set($type = $votable.type)
#if ($authenticated) #set($linkclass = "votelink") #else #set($linkclass = "") #end
#if ($votable.votes)	#set($votes = $votable.votes) #else #set($votes = 0) #end

<div class="votebox ${sizeClass}">
	#if ($votable && $authenticated && $votable.creatorid == $authUser.id)
	<span class="pictos downvote lightgray" title="Vote down">-</span>
	<span class="votecount">$!votes</span>
	<span class="pictos upvote lightgray" title="Vote up">+</span>
	#else
	<a href="$votedownlink/$!type/$!id" class="pictos downvote ${linkclass}" title="Vote down">-</a>
	<span class="votecount">$!votes</span>
	<a href="$voteuplink/$!type/$!id" class="pictos upvote ${linkclass}" title="Vote up">+</a>
	#end
</div>
#end
#end
#####################################
########### DELETE
########### DELETE
########### DELETE
#macro(createformfield $_field $class)
#if ($_field)
#if (!$class.isEmpty())  $_field.setAttribute("class", $class)  #end
#if ($_field.error) #set($hideme = "") #else  #set($hideme = "hide")  #end
#if ($class.contains("hintbox"))
$_field.setValue($!_field.label)
#elseif (!$class.contains("hidelabel") && !$_field.isHidden())
#if ($_field.label && !$_field.label.isEmpty()) <label class="blocklabel">$!{_field.label}: </label>#end
#end
<span class="error $!{hideme}">$!{_field.error}</span>
$!{_field}
#end
#end
########### DELETE
########### DELETE
########### DELETE
###################################
#macro(formvc $ctype)
<input type="hidden" name="vc" value="#$!{ctype}box(\$obj)"/>
#end
###################################
#macro(formvj $ctype $fields)
<input type="hidden" name="vj" value="$!{utils.getJSONValidationObject($ctype, $fields, $lang)}" disabled="disabled"/>
#end
#####################################
#macro(formatdate $date $format)
#if ($date && !$format.trim().isEmpty() && $format != "slim")
$utils.formatDate($date, $format, $currentLocale)
#elseif ($date)
#set($delta = $utils.timestamp() - $date)
#set($approxtime = $utils.humanTime.approximately($delta))
#if (!$approxtime || $approxtime.isEmpty()) #set($approxtime = "1s") #end
#set($lastindx = $approxtime.length() - 1 )
#set($suffix = $approxtime.substring($lastindx))
#set($approx = $approxtime.substring(0, $lastindx))
#set($sufstr = "humantime.$suffix" )
#if ($format == "slim")
$!utils.formatMessage($!lang.get($!sufstr), $!approx) [$utils.formatDate($date, 'dd MMMM yyyy, HH:mm', $currentLocale)]
#else
<span title="$utils.formatDate($date, 'dd MMMM yyyy, HH:mm', $currentLocale)">
	$!utils.formatMessage($!lang.get($!sufstr), $!approx)
</span>
#end
#end
#end
#####################################
#macro(reportform $type $parentid $grandparentid $parentid $link)
<form method="post" class="create-report-form pal" action="$context/?report=true">
		#sectoken(false)
		<h3>$!lang.get("reportproblem")</h3>
		<label class="blocklabel">$!lang.get("reports.category")</label>
		<select name="type">
			#foreach($type in $reportTypes)
			#if ($type.name() == "OTHER")
			<option selected="selected" value="$!type.name()">$!lang.get("reports.$type.toString()")</option>
			#else
			<option value="$!type.name()">$!lang.get("reports.$type.toString()")</option>
			#end
			#end
		</select>
		<div class="input-field">
			<label>$!lang.get("reports.description")</label>
			<textarea name="description" class="materialize-textarea"></textarea>
		</div>
		<input type="hidden" name="parentid" value="$!parentid"/>
		<input type="hidden" name="type" value="$!type"/>
		#if ($grandparentid && $grandparentid != "")
		<input type="hidden" name="grandparentid" value="$!grandparentid"/>
		#end
		#if ($link && !$link.isEmpty())
		<input type="hidden" name="link" value="$!link"/>
		#end
		<div class="center mtl">
			<button id="sendreport-btn" type="submit" class="btn waves-effect waves-light">$!lang.get('send')</button>
			<a href="#main-modal" class="btn-flat waves-effect waves-light modal-action modal-close">$!lang.get('close')</a>
		</div>
</form>
#end
#####################################
#macro(getmessagebox $class $text)
#if($text && !$text.isEmpty())
	<div class="chip phl ${class}">
		<i class="fa fa-close close"></i>
		<div class="msg mrl left">#if($text == "") &nbsp; #else $text #end</div>
	</div>
#end
#end
#####################################
#macro(getpostlink $p $plural $noid)$p.getPostLink($plural,$noid,$questionslink,$questionlink,$feedbacklink)#end
#####################################
#macro(ajaxloading $hide)
#if ($hide) #set($hidden = "hide") #else #set($hidden = "") #end
<div class="progress ajaxwait $!{hidden}"><div class="indeterminate"></div></div>
#end
#####################################
#macro(profilepic $user)${user.picture}#end
#####################################
#macro(infostrip )
#if ($request.getParameter("success"))
#set($infoStripClass = "successBox" )
#elseif ($request.getParameter("error"))
#set($infoStripClass = "errorBox" )
#else
#set($infoStripClass = "infoBox" )
#end

#if ((!$infoStripMsg || $infoStripMsg.isEmpty()) && !$request.getParameter("code") && $badgelist.isEmpty())
#set($hideInfoStrip = "hide")
#else
#set($hideInfoStrip = "")
#end

#if ($infoStripMsg == "intro" && !$request.getParameter("code"))
#set($hideInfoStrip = "introBox" )
#set($infoStripMsg = "$!lang.get('about.intro') <a href='$aboutlink'>$!lang.get('learnmore')</a>" )
#set($infoStripClass = "" )
#elseif ($systemMessage && !$systemMessage.isEmpty())
#set($hideInfoStrip = "sysmsgBox" )
#set($infoStripMsg = $!systemMessage )
#set($infoStripClass = "infoBox blue" )
#end

<noscript>
<div class="infostrip errorBox pvm center">
	<span class="pictos ico errorBoxIcon $!{he}">!</span> $!{lang.get("nojavascript")}
</div>
</noscript>
<div class="infostrip center pvm ${hideInfoStrip} ${infoStripClass}" title="$!lang.get('close')">
	#set($hs = "hide" ) #set($he = "hide" ) #set($hi = "hide" )
	#if ($infoStripClass.contains("successBox"))
	#set($hs = "" )
	#elseif ($infoStripClass.contains("errorBox"))
	#set($he = "" )
	#elseif ($infoStripClass.contains("infoBox"))
	#set($hi = "" )
	#end
	<span class="pictos ico successBoxIcon $!{hs}">2</span>
	<span class="pictos ico errorBoxIcon $!{he}">!</span>
	<span class="pictos ico infoBoxIcon  $!{hi}">i</span>

	#set($_infoStripMsg = $infoStripMsg )

	<span class="infostrip-msg">
		#if (!$badgelist.isEmpty())
		#if ($badgelist.size() > 1) $!lang.get("newbadges") #else $!lang.get("newbadge") #end
		&nbsp;
		#foreach($badge in $badgelist)
		#badgebox($badge 0)
		#end
		#elseif ($request.getParameter("code"))
		$!lang.get("msgcode.${request.getParameter('code')}")
		#else
		$!_infoStripMsg
		#end
	</span>
</div>
#end
#####################################
#macro(stripstr $str )$!utils.urlEncode($!utils.noSpaces($str, "-"))#end
#####################################
#macro(usertitlebadge $showu)
#if ($showu.isModerator())
	#if ($showu.isAdmin())
	<i class="fa fa-check-circle indigo-text" title="Developer"></i>
	#end
	<i class="fa fa-dot-circle-o indigo-text" title="$!lang.get('mod')"></i>
#end
#end
#####################################
#macro(setsortbyselection $paramMap $defkey )
#set($sbparam = $request.getParameter("sortby")) #set($sbclazz = "button-tiny-selected" )
#if ($sbparam && !$sbparam.isEmpty()) #set($paramMap[$sbparam] = $sbclazz) #else #set($paramMap[$defkey] = $sbclazz) #end
#end
#####################################
#macro(sectoken $bare)
#if ($!req.getAttribute("_csrf"))#set($sectoken = $!req.getAttribute("_csrf").getToken() )#end
#if ($bare && $bare == true)$!sectoken#else<input type="hidden" name="_csrf" value="$!sectoken"/>#end#end
################# END MACROS ###################################################

