html
{
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
*,
*:before,
*:after
{
  box-sizing: inherit;
}
body
{
  margin:0;
}
.main span.url, .topbar {
  display: none;
}
.swagger-ui .auth-wrapper {
  display: block;
}
.swagger-ui .scheme-container,.swagger-ui .global-server-container {
  box-shadow: none;
  padding: 0;
}
.swagger-ui .download-contents {
	width: 100px;
}
.swagger-ui .auth-container input[type=password], .swagger-ui .auth-container input[type=text] {
	width: 100%;
}
