
.input-field input[type=search]+label {
	right: 1rem;
}

nav .input-field label {
	right: 0;
	left: auto;
}
.input-field input[type=search]+label {
	left: auto;
}

.input-field input[type=search] {
	padding-left: 0rem;
	padding-right: 4rem;
	color: #444;
}

i.toggle-drawer {
	cursor: pointer;
	position: absolute;
	left: 0;
}

ul:not(.browser-default) {
	padding-right: 0;
	list-style-type: none;
}
i.left {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}
i.right {
    float: left;
    margin-right: 15px;
    margin-left: 0;
}
td, th {
	text-align: right;
}

.userbox .col:first-child, .page-footer .col:first-child, .questionbox .col:first-child,
.questionpage .col:first-child, .profilepage .col:first-child, .compactanswerbox .col:first-child {
	float: right;
}

.aboutme {
	padding-right: 70px;
	padding-left: 0;
}

.CodeMirror-scroll {
	margin-left: -30px;
	margin-right: 0;
}

.CodeMirror {
	direction: rtl;
}

.CodeMirror-sizer {
	border-right: none;
	border-left: 30px solid transparent;
}

.editor-preview {
	left: auto;
	right: 0;
}
.editor-preview p {
	text-align: right;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
	margin-right: 3rem;
	margin-left: 0;
}
.input-field label {
	left: auto;
	right: 0;
}

.dropdown-content li {
	text-align: right;
}

.scoold-user-dropdown i {
	margin: -7px 5px 0 0;
}
.scoold-user-dropdown {
	padding: 7px 7px 7px 2px;
}

.row .col.offset-s6 {
	margin-right: 50%;
	margin-left: 0;
}

.chips-container {
	float: left;
}

.prefix ~ .chips {
	margin-left: 0;
	margin-right: 3rem;
}

.input-field .prefix {
	right: 0;
}

.input-field input[type=search]+.label-icon {
	left:  auto;
	right: 1rem;
}

@media (max-width: 990px) {
	.chips-container {
		float: none;
	}
	.aboutme {
		padding-right: 0;
	}
}

.r{ text-align: left;}
.l{ text-align: right;}
.right{ float: left !important; }
.left{ float: right !important; }

.prn{padding-left:0}
.prs{padding-left:5px;padding-right:0}
.prm{padding-left:10px;padding-right:0}
.prl{padding-left:20px;padding-right:0}
.pln{padding-right:0}
.pls{padding-right:5px;padding-left:0}
.plm{padding-right:10px;padding-left:0}
.pll{padding-right:20px;padding-left:0}
.mrn{margin-left:0}
.mrs{margin-left:5px;margin-right:0}
.mrm{margin-left:10px;margin-right:0}
.mrl{margin-left:20px;margin-right:0}
.mln{margin-right:0}
.mls{margin-right:5px;margin-left:0}
.mlm{margin-right:10px;margin-left:0}
.mll{margin-right:20px;margin-left:0}
