body {
	background-color: white;
	font-weight: 300;
	color: #444444;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: 0;
	/*font-size: 13pt;*/
	font-size: 16px;
}
.postbox ul li {list-style-type: disc;}
.postbox ul {padding-left: 40px;}
.postbox img {max-width: 100%;}
.viewbox pre {background-color: #ececec;}
.em3v{margin: 3rem 0 3rem 0;}
.em5v{margin: 5rem 0 5rem 0;}
hr { height: 1px; border: 0; background-color: #CCC; width: 100%;}
.approve-answer, .approve-translation{ color: #777777;}
.approve-answer:hover, .approve-translation:hover{ color: #88AF12;}
.squarelist{ list-style: square; }
.gigaText{ line-height: 1.0em;font-size: 4em; margin: 7px 0;}
.megaText{ line-height: 1.0em;font-size: 3em; margin: 7px 0;}
.hugeText{ line-height: 1.0em;font-size: 2.4em; margin: 5px 0;}
.largeText{line-height: 1.2em;font-size: 1.8em; margin: 5px 0;}
.mediumText {line-height: 1.2em;font-size: 1.3em; margin: 3px 0;}
.smallText {line-height: 1em;font-size: 0.8em;}
.center { text-align: center; }
.r{ text-align: right;}
.l{ text-align: left;}
.lightborder{ border: 1px solid #CCCCCC; border-radius: 2px;}
.capitalize{ text-transform: capitalize; }
.pages{ clear: both; }
.diff-ins{ background-color: #E6FFE6;}
.diff-del{ background-color: #FFE6E6;}
.diff-ins .button-tiny{ background-color: #E6FFE6;}
.diff-del .button-tiny{ background-color: #FFE6E6;}/*

/*::-webkit-input-placeholder {color: #909;}
:-moz-placeholder {color: #909; opacity: 1;}
::-moz-placeholder {color: #909; opacity: 1;}
:-ms-input-placeholder {color: #909;}*/

h1, h2, h3, h4, h5, h6{font-weight: 300;}

.pan{padding:0}
.pas{padding:5px}
.pam{padding:10px}
.pal{padding:20px}
.ptn{padding-top:0}
.pts{padding-top:5px}
.ptm{padding-top:10px}
.ptl{padding-top:20px}
.prn{padding-right:0}
.prs{padding-right:5px}
.prm{padding-right:10px}
.prl{padding-right:20px}
.pbn{padding-bottom:0}
.pbs{padding-bottom:5px}
.pbm{padding-bottom:10px}
.pbl{padding-bottom:20px}
.pln{padding-left:0}
.pls{padding-left:5px}
.plm{padding-left:10px}
.pll{padding-left:20px}
.phn{padding-left:0;padding-right:0}
.phs{padding-left:5px;padding-right:5px}
.phm{padding-left:10px;padding-right:10px}
.phl{padding-left:20px;padding-right:20px}
.pvn{padding-top:0;padding-bottom:0}
.pvs{padding-top:5px;padding-bottom:5px}
.pvm{padding-top:10px;padding-bottom:10px}
.pvl{padding-top:20px;padding-bottom:20px}
.man{margin:0}
.mas{margin:5px}
.mam{margin:10px}
.mal{margin:20px}
.mtn{margin-top:0}
.mts{margin-top:5px}
.mtm{margin-top:10px}
.mtl{margin-top:20px}
.mrn{margin-right:0}
.mrs{margin-right:5px}
.mrm{margin-right:10px}
.mrl{margin-right:20px}
.mbn{margin-bottom:0}
.mbs{margin-bottom:5px}
.mbm{margin-bottom:10px}
.mbl{margin-bottom:20px}
.mln{margin-left:0}
.mls{margin-left:5px}
.mlm{margin-left:10px}
.mll{margin-left:20px}
.mhn{margin-left:0;margin-right:0}
.mhs{margin-left:5px;margin-right:5px}
.mhm{margin-left:10px;margin-right:10px}
.mhl{margin-left:20px;margin-right:20px}
.mvn{margin-top:0;margin-bottom:0}
.mvs{margin-top:5px;margin-bottom:5px}
.mvm{margin-top:10px;margin-bottom:10px}
.mvl{margin-top:20px;margin-bottom:20px}

header {
	margin-bottom: 20px;
	font-weight: 400;
}
main {
	min-height: 600px;
}
.scoold-logo {
	padding: 10px 0;
}
.para-logo-footer {
	margin-bottom: -6px;
}
.hidden-save-icon {
	display: none;
}
.infostrip {
	cursor: pointer;
}
.gmap {
	height: 300px;
}
.scoold-wrapper {
	background-color: white;
}
.scoold-user-dropdown i {
	margin: -7px 0 0 5px;
}
.scoold-user-dropdown img {
	border-radius: 3px;
}
.scoold-user-dropdown {
	height: 63px;
	padding: 7px 2px 7px 7px;
}
#edit-picture-link {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 10px 15px;
	background-color: white;
	display: none;
}
.autocomplete {
	display: -ms-flexbox;
	display: flex;
}
.autocomplete .ac-tags {
	padding-top: 10px;
	padding-right: 15px
}
.autocomplete .ac-tags .chip {
	-ms-flex: auto;
	flex: auto;
	margin-top: 15px;
	margin-left: 15px;
}
.autocomplete .ac-tags .chip:last-child {
	margin-right: 10px;
}
.autocomplete .ac-dropdown .ac-hover {
	background: #eee;
}
.autocomplete .ac-input {
	-ms-flex: 1;
	flex: 1;
	min-width: 150px;
	padding-top: 0.6rem;
}
.autocomplete .ac-input input {
	height: 2.4rem;
}
.upvote, .downvote {color: #888888;}
.upvote:hover {color: #4CAF50;}
.downvote:hover {color: #F44336;}
.CodeMirror, .CodeMirror-scroll {
	min-height: 200px;
}
code {
	background: #ececec;
	padding: 2px;
	border-radius: 2px;
}
.selected-post {
	border-left: 2px solid #039be5;
	padding-left: 10px;
}

/**** FEEL FREE TO MODIFY THESE PROPETIES ****/
a, h1, h2, h3, h4, h5, h6, .dropdown-content li>a, .dropdown-content li>span {color: #039be5;}
.btn, .btn-large, .navbtn-hover {background-color: #ec407a;}
.btn:focus, .btn-large:focus, .btn-floating:focus {background-color: #ec407a; opacity: 0.7;}
.btn:hover, .btn-large:hover,span.badge.new,.side-nav span.badge.new, .collapsible span.badge.new {background-color: #444444;}
body, footer.page-footer {background-color: #444444;}
footer.page-footer {margin-top: 20px;}
main {background-color: white;}