code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

kbd {
	margin: 0 !important;
    padding: 3px 5px  !important;
    font-size: 1.2em;
    color: #fff;
    background-color: #333  !important;
    border-radius: 3px  !important;
    border: 0  !important;
    line-height: normal !important;
    display : inline !important;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25) !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25) !important;
    text-shadow: none !important;
}

.note-popover .popover-content,.panel-heading.note-toolbar {
    padding-left: 8px;
}

.note-modal-footer, .note-modal-footer:before, .note-modal-footer:after,
.btn, .btn:before, .btn:after {
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}